name: Maintain spec in Git and build and deploy via Truefoundry
cicd_provider_id: bitbucket
enabled: true
description: "The application spec will be stored in the source code as a separate YAML file (truefoundry.yaml). You will need to change the truefoundry.yaml to make any changes to the application. Changes done from UI will be overriden with every git push. Choose this approach if you want to only change application via Git pull requests."
deployment_mode: deploy
build_source: git
recommended_environment: prod
image_builder: truefoundry-control-plane
steps:
  - label: Generate API Key
    icon: null
    usage: Generate an API Key to authenticate and deploy applications
    type: generate-api-key
  - label: Add API Key to Secrets
    icon: null
    usage: null
    type: markdown-content
    args:
      content: |
        In your Bitbucket Repository, navigate to **Pipelines > Workspace variables**.
        Add a new secret called `TFY_API_KEY` and set the generated api key as value
  - label: Download Application Spec
    icon: null
    usage: Click the button below to download the `truefoundry.yaml` application spec file. Copy it to the root of your project directory.
    type: download-truefoundry-spec
  - label: Create Bitbucket Pipeline
    icon: null
    usage: |
      Add the below workflow as `bitbucket-pipelines.yml` in your root directory.
      Following Pipelines will be triggered on each push to `main` branch
    type: markdown-content
    args:
      content: |
        ```yaml
        image: python:3.11.9-bullseye
        options:
          max-time: 30

        pipelines:
          branches:
            main:
              - stage:
                  name: deploy
                  steps:
                    - step:
                        name: Deploying the application
                        script:
                          - export TFY_HOST={{ TRUEFOUNDRY_TFY_HOST }}
                          - export WORKSPACE_FQN={{ TRUEFOUNDRY_WORKSPACE_FQN }}
                          - apt update && apt install -y jq
                          - pip3 install "truefoundry<1.0.0"
                          - tfy patch -f truefoundry.yaml --filter ".image.build_source.ref = \"$BITBUCKET_COMMIT\" | .image.build_source.branch_name = \"$BITBUCKET_BRANCH\"" -o truefoundry-patched.yaml
                          - tfy deploy -f truefoundry-patched.yaml -w "$WORKSPACE_FQN" --no-wait
        
        ```
