{{- if and .Values.tfyBuild.enabled .Values.tfyBuild.truefoundryWorkflows.enabled }}
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "tfy-build.fullname" . }}-role-binding
  namespace: {{ include "global.namespace" . }}
  labels:
    {{- include "tfy-build.commonLabels" . | nindent 4 }}
  annotations:
    {{- include "tfy-build.commonAnnotations" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ include "tfy-build.fullname" . }}-role
subjects:
  - kind: ServiceAccount
    namespace: {{ include "global.namespace" . }}
    name: {{ include "tfy-build.serviceAccountName" . }}
{{- end }}
