{{- if and .Values.tfyBuild.enabled .Values.tfyBuild.truefoundryWorkflows.enabled .Values.tfyBuild.serviceAccount.create .Values.tfyBuild.serviceAccount.name }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "tfy-build.serviceAccountName" . }}
  namespace: {{ include "global.namespace" . }}
  labels:
    {{- include "tfy-build.serviceAccountLabels" . | nindent 4 }}
  annotations:
    {{- include "tfy-build.serviceAccountAnnotations" . | nindent 4 }}
{{- if hasKey .Values.tfyBuild.serviceAccount "automountServiceAccountToken" }}
automountServiceAccountToken: {{ .Values.tfyBuild.serviceAccount.automountServiceAccountToken }}
{{- end }}
{{- end }}
