{{- if and .Values.tfyBuild.enabled .Values.tfyBuild.truefoundryWorkflows.enabled }}
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "tfy-build.fullname" . }}-role
  namespace: {{ include "global.namespace" . }}
  labels:
    {{- include "tfy-build.commonLabels" . | nindent 4 }}
  annotations:
    {{- include "tfy-build.commonAnnotations" . | nindent 4 }}
rules:
  - apiGroups:
      - argoproj.io
    resources:
      - workflowtaskresults
    verbs:
      - create
      - patch
{{- end }}
