## @section Configuration for the device plugin responsible for node feature discovery
## @param devicePlugin.enabled Enable device plugin Daemonset.
## @param devicePlugin.resources.requests.cpu CPU request for device plugin Daemonset.
## @param devicePlugin.resources.requests.memory Memory request for device plugin Daemonset.
## @param devicePlugin.image Image to use for device plugin Daemonset.
## @param imagePullsecrets List of image pull secrets
imagePullSecrets: []
devicePlugin:
  enabled: true
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
  image: public.ecr.aws/neuron/neuron-device-plugin:2.16.18.0
  tolerations:
    ## @skip devicePlugin.tolerations[0]
    ## @skip devicePlugin.tolerations[1]
    - key: CriticalAddonsOnly
      operator: Exists
    - key: aws.amazon.com/neuron
      operator: Exists
      effect: NoSchedule
  affinity:
    ## @skip devicePlugin.affinity.nodeAffinity
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: "node.kubernetes.io/instance-type"
                operator: In
                values:
                  - inf1.xlarge
                  - inf1.2xlarge
                  - inf1.6xlarge
                  - inf1.24xlarge
                  - inf2.xlarge
                  - inf2.4xlarge
                  - inf2.8xlarge
                  - inf2.24xlarge
                  - inf2.48xlarge
                  - trn1.2xlarge
                  - trn1.32xlarge
                  - trn1n.32xlarge

## @section Configuration for the scheduler responsible for scheduling neuron pods
## @param scheduler.enabled Enable Scheduler.
## @param scheduler.schedulerName Name of the scheduler.
## @param scheduler.image K8s Scheduler image.
## @skip scheduler.args
## @param scheduler.resources.requests.cpu CPU request for K8s scheduler.
## @param scheduler.resources.requests.memory Memory request for K8s scheduler.
## @param scheduler.extension.image Neuron scheduler extension image.
## @param scheduler.extension.resources.requests.cpu CPU request for Neuron scheduler extension.
## @param scheduler.extension.resources.requests.memory Memory request for Neuron scheduler extension.
scheduler:
  enabled: true
  schedulerName: neuron-scheduler
  image: registry.k8s.io/kube-scheduler:v1.27.7
  args:
    - --config=/etc/kubernetes/neuron-scheduler/neuron-scheduler-config.yaml
    - --leader-elect=true
    - --v=2
    - --lock-object-name=neuron-scheduler
    - --pod-max-in-unschedulable-pods-duration=30s
  resources:
    requests:
      cpu: 100m
      memory: 50Mi
  tolerations:
    ## @skip scheduler.tolerations[0]
    - key: CriticalAddonsOnly
      operator: Exists
  extension:
    image: public.ecr.aws/neuron/neuron-scheduler:2.18.3.0
    resources:
      requests:
        cpu: "0.1"
        memory: 50Mi
    tolerations:
      ## @skip scheduler.extension.tolerations[0]
      - key: CriticalAddonsOnly
        operator: Exists
