{{- if .Values.resourceQuota.enabled -}}
apiVersion: v1
kind: ResourceQuota
metadata:
  name: {{ include "tfy-agent.fullname" . }}-critical-pods
  labels:
    {{- include "tfy-agent.commonLabels" . | nindent 4 }}
  annotations:
    {{- include "tfy-agent.commonAnnotations" . | nindent 4 }}
spec:
  scopeSelector:
    matchExpressions:
    - operator: In
      scopeName: PriorityClass
      values:
      {{- with .Values.resourceQuota.priorityClasses }}
      {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
