{{- if .Values.sdsServer.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "sds-server.fullname" . }}
  labels:
    {{- include "sds-server.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.sdsServer.replicas}}
  selector:
    matchLabels:
      {{- include "sds-server.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "sds-server.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.sdsServer.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "sds-server.serviceAccountName" . }}
      {{- with .Values.sdsServer.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        {{- toYaml .Values.sdsServer.extraVolumes | nindent 8 }}
      {{- with .Values.sdsServer.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.sdsServer.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - image: {{ .Values.sdsServer.image.repository }}:{{ .Values.sdsServer.image.tag }}
          imagePullPolicy: {{ .Values.sdsServer.image.pullPolicy }}
          name: sds-server
          command:
            {{- with .Values.sdsServer.command }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          env:
            {{- if .Values.config.controlPlaneURL }}
            - name: CONTROL_PLANE_URL
              value: {{ .Values.config.controlPlaneURL | quote }}
            {{- else }}
            - name: CONTROL_PLANE_URL
              value: {{ .Values.config.controlPlaneClusterIP | quote }}
            {{- end }}
            - name: CLUSTER_TOKEN
              valueFrom:
                secretKeyRef:
                  key: CLUSTER_TOKEN
                  name: {{ include "tfy-agent.secretName" . }}
          {{- range $val := .Values.sdsServer.extraEnvVars }}
            - name: {{ $val.name }}
              value: {{ $val.value | quote }}
          {{- end }}
          readinessProbe:
            {{- toYaml .Values.sdsServer.readinessProbe | nindent 12 }}
          livenessProbe:
            {{- toYaml .Values.sdsServer.livenessProbe | nindent 12 }}
          ports:
          - name: port-8000
            containerPort: {{ .Values.sdsServer.service.port }}
            protocol: TCP
          resources:
            {{- with .Values.sdsServer.resources }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
      topologySpreadConstraints:
        {{- with .Values.sdsServer.topologySpreadConstraints }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
{{- end }}
