{{- if .Values.sdsServer.enabled -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "sds-server.fullname" . }}
  labels:
    {{- include "sds-server.labels" . | nindent 4 }}
spec:
  type: {{ .Values.sdsServer.service.type }}
  ports:
    - port: {{ .Values.sdsServer.service.port }}
    {{- if eq .Values.sdsServer.service.type "NodePort" }}
      nodePort: {{ .Values.sdsServer.service.nodePort }}
    {{- end }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "sds-server.selectorLabels" . | nindent 4 }}
    {{- if .Values.sdsServer.service.sessionAffinity }}
    sessionAffinity: {{ .Values.sdsServer.service.sessionAffinity }}
    {{- end }}
{{- end }}
