{{- if .Values.sdsServer.enabled -}}
{{- if .Values.sdsServer.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "sds-server.serviceAccountName" . }}
  labels:
    {{- include "sds-server.serviceAccount.labels" . | nindent 4 }}
  annotations:
    {{- include "sds-server.serviceAccount.annotations" . | nindent 4 }}
automountServiceAccountToken: {{ .Values.sdsServer.serviceAccount.automountServiceAccountToken }}
{{- end }}
{{- end }}
