{{- if .Values.sdsServer.enabled -}}
{{- if .Values.sdsServer.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "sds-server.serviceAccountName" . }}
  labels:
    {{- include "sds-server.labels" . | nindent 4 }}
  {{- with .Values.sdsServer.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
{{- end }}
