{{- if .Values.tfyAgentProxy.enabled -}}
{{- if .Values.tfyAgentProxy.clusterRole.enable -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "tfy-agent-proxy.fullname" . }}-cs
  labels:
    {{- include "tfy-agent-proxy.commonLabels" . | nindent 4 }}
  annotations:
    {{- include "tfy-agent-proxy.commonAnnotations" . | nindent 4 }}
rules:
  {{- if or .Values.config.allowedNamespaces .Values.tfyAgentProxy.clusterRole.strictMode }}
  {{- if not .Values.config.allowedNamespaces }}
  - apiGroups: [""]
    resources: ["namespaces"]
    verbs: ["create"]
  {{- end }}
  - apiGroups: ["storage.k8s.io"]
    resources: ["storageclasses"]
    verbs: ["get", "list"]

  {{/* This allows us to list statefulsets and deployments under a helm chart to allow pausing workloads */}}
  - apiGroups: ["apps"]
    resources: ["deployments", "statefulsets"]
    verbs: ["list"]

  {{/* This allows us to check for conflicts in VirtualServices when user is creating new deployment */}}
  - apiGroups: ["networking.istio.io"]
    resources: ["virtualservices", "gateways"]
    verbs: ["list"]

  {{/* This allows us to check for conflicts in Ingresses when user is creating a new deployment */}}
  - apiGroups: ["networking.k8s.io"]
    resources: ["ingresses"]
    verbs: ["list"]

  - apiGroups: [""]
    resources: ["namespaces"]
    verbs: ["list"]

  - apiGroups: [""]
    resources: ["nodes"]
    verbs: ["list", "delete", "patch"]

  - apiGroups: ["apiextensions.k8s.io"]
    resources: ["customresourcedefinitions"]
    verbs: ["list"]

  {{/* This allows us to read Karpenter configuration and status to troubleshoot cluster auto scaling issues */}}
  - apiGroups: ["karpenter.k8s.aws", "karpenter.sh"]
    resources: ["ec2nodeclasses", "nodepools"]
    verbs: ["list"]
  
  {{- else }}
  - apiGroups: ["*"]
    resources: ["*"]
    verbs: ["*"]
  {{- end }}
  {{- range $rule := .Values.tfyAgentProxy.clusterRole.clusterScopedAdditionalClusterRoleRules }}
  - apiGroups: {{ $rule.apiGroups | toJson }}
    resources: {{ $rule.resources | toJson }}
    verbs: {{ $rule.verbs | toJson }}
  {{- end }}
{{- end }}
{{- end }}
