{{- if .Values.tfyAgentProxy.enabled -}}
{{- if .Values.tfyAgentProxy.clusterRole.enable -}}
{{- if .Values.tfyAgentProxy.clusterRole.strictMode }}
{{- if not .Values.config.allowedNamespaces }}
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ include "tfy-agent-proxy.fullname" . }}-ns
  labels:
    {{- include "tfy-agent-proxy.commonLabels" . | nindent 4 }}
  annotations:
    {{- include "tfy-agent-proxy.commonAnnotations" . | nindent 4 }}
subjects:
  - kind: ServiceAccount
    name: {{ include "tfy-agent-proxy.serviceAccountName" . }}
    namespace: {{ .Release.Namespace }}
roleRef:
  kind: ClusterRole
  name: {{ include "tfy-agent-proxy.fullname" . }}-ns
  apiGroup: rbac.authorization.k8s.io
{{- end }}
{{- end }}
{{- end }}
{{- end }}
