{{- if .Values.tfyAgent.enabled -}}
{{- if .Values.tfyAgent.clusterRole.enable -}}
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ include "chart.fullname" . }}
  labels:
    {{- include "tfy-agent.commonLabels" . | nindent 4 }}
  annotations:
    {{- include "tfy-agent.commonAnnotations" . | nindent 4 }}
subjects:
  - kind: ServiceAccount
    name: {{ include "tfy-agent.serviceAccountName" . }}
    namespace: {{ .Release.Namespace }}
roleRef:
  kind: ClusterRole
  name: {{ include "chart.fullname" . }}
  apiGroup: rbac.authorization.k8s.io
{{- end }}
{{- end }}
