{{- if .Values.tfyAgent.enabled -}}
{{- if .Values.tfyAgent.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "tfy-agent.serviceAccountName" . }}
  labels:
    {{- include "tfy-agent.serviceAccount.labels" . | nindent 4 }}
  annotations:
    {{- include "tfy-agent.serviceAccount.annotations" . | nindent 4 }}
automountServiceAccountToken: {{ .Values.tfyAgent.serviceAccount.automountServiceAccountToken }}
{{- end }}
{{- end }}
