{{- if .Values.tfyAgentProxy.enabled -}}
{{- if .Values.tfyAgentProxy.clusterRole.enable -}}
{{- if or .Values.config.allowedNamespaces .Values.tfyAgentProxy.clusterRole.strictMode }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "tfy-agent-proxy.fullname" . }}-ns
rules:
  - apiGroups: [""]
    resources: ["namespaces"]
    verbs: ["patch", "delete"]

  - apiGroups: [""]
    resources: ["resourcequotas", "serviceaccounts"]
    verbs: ["list", "get", "delete", "patch", "create"]

  - apiGroups: [""]
    resources: ["resourcequotas/status"]
    verbs: ["get"]

  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["create", "patch"]

  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["delete", "get"]

  - apiGroups: [""]
    resources: ["pods/log", "events", "services", "persistentvolumes"]
    verbs: ["get", "list"]

  - apiGroups: ["apps"]
    resources: ["statefulsets/scale", "deployments/scale"]
    verbs: ["patch"]

  - apiGroups: ["monitoring.coreos.com"]
    resources: ["prometheuses"]
    verbs: ["patch"]

  - apiGroups: [""]
    resources: ["persistentvolumeclaims"]
    verbs: ["patch", "get"]

  - apiGroups: ["apps"]
    resources: ["statefulsets"]
    verbs: ["get", "create", "delete", "patch"]

  - apiGroups: ["keda.sh"]
    resources: ["scaledobjects"]
    verbs: ["get", "update"]

  - apiGroups: ["argoproj.io"]
    resources: ["applications"]
    verbs: ["*"]

  - apiGroups: ["argoproj.io"]
    resources: ["rollouts/scale", "rollouts/status"]
    verbs: ["patch"]

  - apiGroups: ["argoproj.io"]
    resources: ["rollouts", "workflowtemplates"]
    verbs: ["get"]

  - apiGroups: ["argoproj.io"]
    resources: ["workflows"]
    verbs: ["create", "get", "patch"]

  - apiGroups: ["kubeflow.org"]
    resources: ["notebooks"]
    verbs: ["get", "update", "delete"]

  {{/* This allows us to create intercepts for redirection / shadowing traffic */}}
  - apiGroups: ["networking.istio.io"]
    resources: ["envoyfilters"]
    verbs: ["create", "patch", "delete"]

  - apiGroups: ["flyte.lyft.com"]
    resources: ["flyteworkflows"]
    verbs: ["create", "patch", "get", "delete"]

  {{/* This allows us to apply VirtualService for Spark UI when applying a SparkApplication (Spark Job Run) */}}
  - apiGroups: ["networking.istio.io"]
    resources: ["virtualservices"]
    verbs: ["create", "patch"]

  {{/* This allows us to apply/delete SparkApplication (Spark Job Run) */}}
  - apiGroups: ["sparkoperator.k8s.io"]
    resources: ["sparkapplications"]
    verbs: ["create", "get", "delete"]
{{- end }}
{{- end }}
{{- end }}
