{{- if .Values.tfyAgentProxy.enabled }}
{{- if .Values.tfyAgentProxy.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "tfy-agent-proxy.serviceAccountName" . }}
  labels:
    {{- include "tfy-agent-proxy.serviceAccount.labels" . | nindent 4 }}
  annotations:
    {{- include "tfy-agent-proxy.serviceAccount.annotations" . | nindent 4 }}
automountServiceAccountToken: {{ .Values.tfyAgentProxy.serviceAccount.automountServiceAccountToken }}
{{- end }}
{{- end }}
