{{- if .Values.tfyAgent.enabled -}}
{{- if .Values.tfyAgent.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "tfy-agent.serviceAccountName" . }}
  labels:
    {{- include "tfy-agent.labels" . | nindent 4 }}
  {{- with .Values.tfyAgent.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
{{- end }}
