{{- if .Values.tfyAgent.enabled -}}
{{- if .Values.tfyAgent.clusterRole.enable -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "tfy-agent.fullname" . }}
  labels:
    {{- include "tfy-agent.commonLabels" . | nindent 4 }}
  annotations:
    {{- include "tfy-agent.commonAnnotations" . | nindent 4 }}
rules:
  - apiGroups: [""]
    resources: ["namespaces", "pods", "resourcequotas", "nodes", "events"]
    verbs: ["list", "watch"]
  - apiGroups: ["apps"]
    resources: ["replicasets", "deployments"]
    verbs: ["list", "watch"]
  - apiGroups: ["networking.istio.io"]
    resources: ["gateways", "virtualservices"]
    verbs: ["list", "watch"]
  - apiGroups: ["argoproj.io"]
    resources: ["applications", "rollouts", "workflowtemplates", "workflows"]
    verbs: ["list", "watch"]
  - apiGroups: ["kubeflow.org"]
    resources: ["notebooks"]
    verbs: ["list", "watch"]
  - apiGroups: ["sparkoperator.k8s.io"]
    resources: ["sparkapplications"]
    verbs: ["list", "watch"]
  - apiGroups: ["networking.k8s.io"]
    resources: ["ingresses"]
    verbs: ["list", "watch"]
{{- end }}
{{- end }}
