{{- if .Values.mlfoundryServer.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "mlfoundry-server.fullname" . }}
  labels:
    {{- include "mlfoundry-server.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.mlfoundryServer.replicaCount }}
  selector:
    matchLabels:
      {{- include "mlfoundry-server.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.mlfoundryServer.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "mlfoundry-server.labels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "mlfoundry-server.serviceAccountName" . }}
      {{- with .Values.mlfoundryServer.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: "mlfoundry-server"
          {{- with .Values.mlfoundryServer.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          env:
            {{- include "mlfoundry-server.env" . | trim | nindent 12 }}
          image: "{{ .Values.mlfoundryServer.image.repository }}:{{ .Values.mlfoundryServer.image.tag }}"
          imagePullPolicy: {{ .Values.mlfoundryServer.imagePullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.mlfoundryServer.service.port }}
              protocol: TCP
          resources:
            {{- toYaml .Values.mlfoundryServer.resources | nindent 12 }}
          livenessProbe:
            failureThreshold: 3
            initialDelaySeconds: 60
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
            httpGet:
              path: /
              port: {{ .Values.mlfoundryServer.service.port }}
              scheme: HTTP
          readinessProbe:
            failureThreshold: 3
            initialDelaySeconds: 30
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
            httpGet:
              path: /
              port: {{ .Values.mlfoundryServer.service.port }}
              scheme: HTTP
          volumeMounts:
          {{- toYaml .Values.mlfoundryServer.extraVolumeMounts | nindent 12 }}
      {{- with .Values.mlfoundryServer.imagePullSecrets }}
      imagePullSecrets:
        {{- tpl (toYaml .) $ | nindent 8 }}
      {{- end }}
      volumes:
      {{- toYaml .Values.mlfoundryServer.extraVolumes | nindent 8 }}
      nodeSelector:
        {{- include "mlfoundry-server.nodeSelector" . | nindent 8 }}
      {{- $mergedAffinity := dict | merge .Values.mlfoundryServer.affinity .Values.global.affinity }}
      {{- if $mergedAffinity }}
      affinity:
      {{- toYaml $mergedAffinity | nindent 8 }}
      {{- end }}
      topologySpreadConstraints:
       {{- if .Values.mlfoundryServer.topologySpreadConstraints }}
       {{- toYaml .Values.mlfoundryServer.topologySpreadConstraints | nindent 8 }}
       {{- else }}
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: ScheduleAnyway
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: {{ include "mlfoundry-server.name" . }}
       {{- end }}
      tolerations:
        {{- .Values.global.tolerations | toYaml | nindent 8 }}
        {{- if .Values.mlfoundryServer.tolerations }}
        {{- .Values.mlfoundryServer.tolerations | toYaml | nindent 8 }}
        {{- end }}
  {{- end }}
