{{- if and .Values.mlfoundryServer.enabled .Values.mlfoundryServer.serviceAccount.create .Values.mlfoundryServer.serviceAccount.name }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "mlfoundry-server.serviceAccountName" . }}
  labels:
    {{- include "mlfoundry-server.serviceAccountLabels" . | nindent 4 }}
  annotations:
    {{- include "mlfoundry-server.serviceAccountAnnotations" . | indent 4 }}
{{- if hasKey .Values.mlfoundryServer.serviceAccount "automountServiceAccountToken" }}
automountServiceAccountToken: {{ .Values.mlfoundryServer.serviceAccount.automountServiceAccountToken }}
{{- end }}
{{- end }}
