# cluster_region is based on topology.kubernetes.io/region
# image section can also contain `build_script` and `docker_registry`
images:
  - name: Jupyter Lab Minimal Image
    type: notebook
    enabled: true
    description: Minimal image with Python 3.12 environment. Starts quickly
    image:
      - match:
          - key: cluster_type
            operator: In
            values:
              - "gcp-gke-standard"
          - key: cluster_region
            operator: StartsWith
            values:
              - "us-"
        spec:
          image_uri: "us-docker.pkg.dev/production-01-407505/tfy-docker-us/jupyter:0.4.3-py3.12.11-sudo"
      - match:
          - key: cluster_type
            operator: In
            values:
              - "gcp-gke-standard"
          - key: cluster_region
            operator: StartsWith
            values:
              - "europe-"
        spec:
          image_uri: "europe-docker.pkg.dev/production-01-407505/tfy-docker-eu/jupyter:0.4.3-py3.12.11-sudo"
      - match:
          - key: cluster_type
            operator: In
            values:
              - "gcp-gke-standard"
          - key: cluster_region
            operator: StartsWith
            values:
              - "asia-"
        spec:
          image_uri: "asia-docker.pkg.dev/production-01-407505/tfy-docker-as/jupyter:0.4.3-py3.12.11-sudo"
      - match: []
        spec:
          image_uri: "tfy.jfrog.io/tfy-images/jupyter:0.4.3-py3.12.11-sudo"

  - name: Jupyter Lab Cuda 12.4 Image
    type: notebook
    enabled: true
    description: Python 3.12 environment with cuda toolkit 12.4
    image:
      - match:
          - key: cluster_type
            operator: In
            values:
              - "gcp-gke-standard"
          - key: cluster_region
            operator: StartsWith
            values:
              - "us-"
        spec:
          image_uri: "us-docker.pkg.dev/production-01-407505/tfy-docker-us/jupyter:0.4.3-cu124-py3.12.11-sudo"
      - match:
          - key: cluster_type
            operator: In
            values:
              - "gcp-gke-standard"
          - key: cluster_region
            operator: StartsWith
            values:
              - "europe-"
        spec:
          image_uri: "europe-docker.pkg.dev/production-01-407505/tfy-docker-eu/jupyter:0.4.3-cu124-py3.12.11-sudo"
      - match:
          - key: cluster_type
            operator: In
            values:
              - "gcp-gke-standard"
          - key: cluster_region
            operator: StartsWith
            values:
              - "asia-"
        spec:
          image_uri: "asia-docker.pkg.dev/production-01-407505/tfy-docker-as/jupyter:0.4.3-cu124-py3.12.11-sudo"
      - match: []
        spec:
          image_uri: "tfy.jfrog.io/tfy-images/jupyter:0.4.3-cu124-py3.12.11-sudo"

  - name: SSH Server Minimal Image
    type: ssh-server
    enabled: true
    description: SSH Server image with Python 3.12 environment
    image:
      - match:
          - key: cluster_type
            operator: In
            values:
              - "gcp-gke-standard"
          - key: cluster_region
            operator: StartsWith
            values:
              - "us-"
        spec:
          image_uri: "us-docker.pkg.dev/production-01-407505/tfy-docker-us/ssh-server:0.4.3-py3.12.11"
      - match:
          - key: cluster_type
            operator: In
            values:
              - "gcp-gke-standard"
          - key: cluster_region
            operator: StartsWith
            values:
              - "europe-"
        spec:
          image_uri: "europe-docker.pkg.dev/production-01-407505/tfy-docker-eu/ssh-server:0.4.3-py3.12.11"
      - match:
          - key: cluster_type
            operator: In
            values:
              - "gcp-gke-standard"
          - key: cluster_region
            operator: StartsWith
            values:
              - "asia-"
        spec:
          image_uri: "asia-docker.pkg.dev/production-01-407505/tfy-docker-as/ssh-server:0.4.3-py3.12.11"
      - match: []
        spec:
          image_uri: "tfy.jfrog.io/tfy-images/ssh-server:0.4.3-py3.12.11"

  - name: SSH Server Cuda 12.4 Image
    type: ssh-server
    enabled: true
    description: Python 3.12 environment with cuda toolkit 12.4
    image:
      - match:
          - key: cluster_type
            operator: In
            values:
              - "gcp-gke-standard"
          - key: cluster_region
            operator: StartsWith
            values:
              - "us-"
        spec:
          image_uri: "us-docker.pkg.dev/production-01-407505/tfy-docker-us/ssh-server:0.4.3-cu124-py3.12.11"
      - match:
          - key: cluster_type
            operator: In
            values:
              - "gcp-gke-standard"
          - key: cluster_region
            operator: StartsWith
            values:
              - "europe-"
        spec:
          image_uri: "europe-docker.pkg.dev/production-01-407505/tfy-docker-eu/ssh-server:0.4.3-cu124-py3.12.11"
      - match:
          - key: cluster_type
            operator: In
            values:
              - "gcp-gke-standard"
          - key: cluster_region
            operator: StartsWith
            values:
              - "asia-"
        spec:
          image_uri: "asia-docker.pkg.dev/production-01-407505/tfy-docker-as/ssh-server:0.4.3-cu124-py3.12.11"
      - match: []
        spec:
          image_uri: "tfy.jfrog.io/tfy-images/ssh-server:0.4.3-cu124-py3.12.11"

  - name: Rstudio 2024.09.0 Image
    type: rstudio
    enabled: true
    description: Minimal image with R 4.4 and Python 3.11 environment.
    image:
      - match: []
        spec:
          image_uri: "tfy.jfrog.io/tfy-images/rstudio:0.1.0-py3.11.10-sudo"
