apiVersion: v2
name: tfy-loki
description: Truefoundry Loki Provisioner
version: 0.1.3
maintainers:
  - name: truefoundry
dependencies:
  - condition: loki.enabled 
    name: loki
    version: 5.47.2
    repository: https://grafana.github.io/helm-charts
  - condition: promtail.enabled
    name: promtail
    version: 6.15.5
    repository: https://grafana.github.io/helm-charts
