{{- if and .Values.global.virtualService.enabled .Values.global.virtualService.natsMetricsServerHost }}
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: "{{ .Release.Name }}-nats-metrics"
spec:
  hosts:
    - {{ .Values.global.virtualService.natsMetricsServerHost | quote }}
  gateways:
    - {{ tpl .Values.global.virtualService.gatewayName . }}
  http:
    - route:
        - destination:
            host: {{ .Release.Name }}-nats
            port:
              number: 8222
{{- end }}