{{- if .Values.tfySignedURLServer.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "tfy-signed-url-server.name" . }}
  labels:
    {{- include "tfy-signed-url-server.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.tfySignedURLServer.replicaCount }}
  selector:
    matchLabels:
      {{- include "tfy-signed-url-server.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.tfySignedURLServer.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "tfy-signed-url-server.labels" . | nindent 8 }}
    spec:
      {{- if .Values.tfySignedURLServer.serviceAccountName }}
      serviceAccountName: {{ .Values.tfySignedURLServer.serviceAccountName }}
      {{- end }}
      {{- with .Values.tfySignedURLServer.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: "tfy-signed-url-server"
          {{- with .Values.tfySignedURLServer.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          env:
            {{- include "tfy-signed-url-server.env" . | trim | nindent 12 }}
          image: "{{ .Values.tfySignedURLServer.image.repository }}:{{ .Values.tfySignedURLServer.image.tag }}"
          imagePullPolicy: {{ .Values.tfySignedURLServer.imagePullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.tfySignedURLServer.service.port }}
              protocol: TCP
          resources:
            {{- toYaml .Values.tfySignedURLServer.resources | nindent 12 }}
          livenessProbe:
            failureThreshold: 3
            initialDelaySeconds: 60
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
            httpGet:
              path: /v1/health
              port: {{ .Values.tfySignedURLServer.service.port }}
              scheme: HTTP
          readinessProbe:
            failureThreshold: 3
            initialDelaySeconds: 10
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
            httpGet:
              path: /v1/health
              port: {{ .Values.tfySignedURLServer.service.port }}
              scheme: HTTP
          volumeMounts:
          {{- toYaml .Values.tfySignedURLServer.extraVolumeMounts | nindent 12 }}
      {{- with .Values.tfySignedURLServer.imagePullSecrets }}
      imagePullSecrets:
        {{- tpl (toYaml .) $ | nindent 8 }}
      {{- end }}
      volumes:
      {{- toYaml .Values.tfySignedURLServer.extraVolumes | nindent 8 }}
      nodeSelector:
        {{- include "tfy-signed-url-server.nodeSelector" . | nindent 8 }}
      {{- $mergedAffinity := dict | merge .Values.tfySignedURLServer.affinity }}
      {{- if $mergedAffinity }}
      affinity:
      {{- toYaml $mergedAffinity | nindent 8 }}
      {{- end }}
      topologySpreadConstraints:
       {{- if .Values.tfySignedURLServer.topologySpreadConstraints }}
       {{- toYaml .Values.tfySignedURLServer.topologySpreadConstraints | nindent 8 }}
       {{- else }}
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: ScheduleAnyway
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: {{ include "tfy-signed-url-server.name" . }}
       {{- end }}
      tolerations:
        {{- if .Values.tfySignedURLServer.tolerations }}
        {{- .Values.tfySignedURLServer.tolerations | toYaml | nindent 8 }}
        {{- end }}
  {{- end }}
