{{- if .Values.tfySignedURLServer.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "tfy-signed-url-server.name" . }}
  labels: {{- include "tfy-signed-url-server.labels" . | nindent 4 }}
spec:
  type: {{ .Values.tfySignedURLServer.service.type }}
  ports:
    - port: {{ .Values.tfySignedURLServer.service.port }}
      targetPort: {{ .Values.tfySignedURLServer.service.port }}
      protocol: TCP
      name: http
  selector: {{- include "tfy-signed-url-server.selectorLabels" . | nindent 4 }}
{{- end }}
