## @section Cluster configurations
##
cluster:
  ## @param cluster.name Name of the EKS cluster
  ##
  name: ""
  ## @param cluster.endpoint Endpoint of the EKS cluster
  ##
  endpoint: ""

## @section Karpenter configurations
##
karpenter:
  ## @param karpenter.instanceProfile Instance profile of the karpenter
  ##
  instanceProfile: ""
  
  ##
  # default provisioner for non-GPU workloads
  defaultProvisionerSpec:
    # nodes should consolidate to fit in the right instance size
    consolidation:
      ## @param karpenter.defaultProvisionerSpec.consolidation.enabled Enable consolidation for default provisioner
      ##
      enabled: true

    ## @extra karpenter.defaultProvisionerSpec.ttlSecondsAfterEmpty Seconds after which node should be deleted once it is empty. Either one of consolidation or ttlSecondsAfterEmpty should be used
    ## 
    # ttlSecondsAfterEmpty: 30
    
    ## @skip karpenter.defaultProvisionerSpec.requirements
    requirements:
      - key: karpenter.sh/capacity-type
        operator: In
        values: ["spot"]
      - key: "topology.kubernetes.io/zone"
        operator: In
        values: ["eu-west-1a", "eu-west-1b", "eu-west-1c"]
      - key: kubernetes.io/arch
        operator: In
        values: ["amd64"]
      - key: karpenter.k8s.aws/instance-family
        operator: NotIn
        values: ["t3", "t2", "t3a", "p2", "p3", "p4d", "p4de", "p5", "g4dn", "g5", "g4ad", "inf1", "inf2", "trn1", "trn1n"]
      - key: karpenter.k8s.aws/instance-size
        operator: NotIn
        values: ["nano", "micro", "metal"]

    ## @param karpenter.defaultProvisionerSpec.providerRef.name AWS node template name for default provisioner
    ##
    providerRef:
      name: default

  ## provisioner for GPU workloads
  gpuProvisionerSpec:
    ## @param karpenter.gpuProvisionerSpec.enabled Enable GPU provisioner for GPU nodes
    ##
    enabled: false

    ## @param karpenter.gpuProvisionerSpec.consolidation.enabled Enable consolidation for GPU provisioner
    ##
    consolidation:
      enabled: true
    
    ## @param karpenter.gpuProvisionerSpec.ttlSecondsAfterEmpty Seconds after which node should be deleted once it is empty. Either one of consolidation or ttlSecondsAfterEmpty should be used
    ## 
    ttlSecondsAfterEmpty: 300
    
    ## @param karpenter.gpuProvisionerSpec.capacityTypes Capacity types for GPU provisioner
    ##    
    capacityTypes:
      - spot
      - on-demand
    ## @param karpenter.gpuProvisionerSpec.zones Zones to launch instances for GPU provisioner
    ## 
    zones: []
    ## @param karpenter.gpuProvisionerSpec.instanceFamilies Instance families to launch instances for GPU provisioner
    ## 
    instanceFamilies:
      - p2
      - p3
      - g4dn
      - g5
      - p4d
      - p4de
    ## @param karpenter.gpuProvisionerSpec.instanceSizes.notAllowed Instance Sizes that are not allowed to launch instances for GPU provisioner
    ##
    instanceSizes:
      notAllowed:
        - nano
        - micro
        - metal
    ## @param karpenter.gpuProvisionerSpec.providerRefName Name of AWS node template to be used for GPU provisioner
    ##
    providerRefName: gpu-default

  ## Provisioner for Control plane workloads
  controlPlaneProvisioner:
    ## @param karpenter.controlPlaneProvisioner.enabled Enable control plane provisioner for control plane workloads
    ##
    enabled: false

    ## @param karpenter.controlPlaneProvisioner.consolidation.enabled Enable consolidation for control plane provisioner
    ##
    consolidation:
      enabled: true

    ## @param karpenter.controlPlaneProvisioner.ttlSecondsAfterEmpty Time (in seconds) after which node will be drained. Either one of consolidation or ttlSecondsAfterEmpty can be used
    ##
    ttlSecondsAfterEmpty: 30
  
    ## @param karpenter.controlPlaneProvisioner.capacityTypes Capacity types of control plane provisioner
    ## 
    capacityTypes:
      - spot
      - on-demand

    ## @param karpenter.controlPlaneProvisioner.zones Zones to launch instances for control plane workloads
    ##
    zones: []

    instanceFamilies:
      ## @param karpenter.controlPlaneProvisioner.instanceFamilies.allowed Allowed instance families for control plane workloads
      ##    
      allowed: []

      ## @param karpenter.controlPlaneProvisioner.instanceFamilies.notAllowed Not allowed instance families for control plane workloads
      ##      
      notAllowed: ["t3", "t2", "t3a", "p2", "p3", "p4d", "p4de", "p5", "g4dn", "g5", "g4ad", "inf1", "inf2", "trn1", "trn1n"]

    instanceSizes:
      ## @param karpenter.controlPlaneProvisioner.instanceSizes.allowed Allowed instance sizes for control plane workloads
      ##  
      allowed: []

      ## @param karpenter.controlPlaneProvisioner.instanceSizes.notAllowed Not allowed instance sizes for control plane workloads
      ## 
      notAllowed: ["nano", "12xlarge", "16xlarge", "24xlarge", "32xlarge", "metal"]

    ## @param karpenter.controlPlaneProvisioner.providerRefName Name of AWS node template to be used for control plane provisioner
    ##
    providerRefName: default

    ## @param karpenter.controlPlaneProvisioner.taints Taints to be applied on the control plane provisioner nodes
    ##
    taints: {}

    ## @param karpenter.controlPlaneProvisioner.labels Labels to be applied on the control plane provisioner nodes
    ##
    labels: {}

  ## @param karpenter.defaultNodeTemplate.extraTags Additional tags for the node template.
  ##
  defaultNodeTemplate:
    extraTags: {}