{{- if .Values.karpenter.gpuDefaultNodeTemplate.enabled }}
apiVersion: karpenter.k8s.aws/v1
kind: EC2NodeClass
metadata:
  name: {{ .Values.karpenter.gpuDefaultNodeTemplate.name }}
spec:
  {{- if .Values.karpenter.gpuDefaultNodeTemplate.instanceProfile }}
  instanceProfile: {{ .Values.karpenter.gpuDefaultNodeTemplate.instanceProfile }}
  {{- else }}
  instanceProfile: {{ .Values.karpenter.instanceProfile }}
  {{- end }}
  subnetSelectorTerms:
    - tags:
        kubernetes.io/cluster/{{ .Values.cluster.name }}: shared
        subnet: private
        {{- range $key, $val := .Values.karpenter.gpuDefaultNodeTemplate.extraSubnetTags }}
        {{ $key }}: {{ $val | quote }} 
        {{- end }}
  securityGroupSelectorTerms:
    - tags:
        karpenter.sh/discovery: {{ .Values.cluster.name }}
        {{- range $key, $val := .Values.karpenter.gpuDefaultNodeTemplate.extraSecurityGroupTags }}
        {{ $key }}: {{ $val | quote }} 
        {{- end }}
  {{- if .Values.karpenter.gpuDefaultNodeTemplate.metadataOptions }}
  metadataOptions:
    {{- toYaml .Values.karpenter.gpuDefaultNodeTemplate.metadataOptions | nindent 4 }}
  {{- end }}
  tags:
    truefoundry.com/compute_type: gpu
    karpenter.sh/discovery: {{ .Values.cluster.name }}
    cluster-name: {{ .Values.cluster.name }}
  {{- range $key, $val := .Values.karpenter.gpuDefaultNodeTemplate.extraTags }}
    {{ $key }}: {{ $val | quote }} 
  {{- end }}
  {{- if .Values.karpenter.gpuDefaultNodeTemplate.detailedMonitoring }}
  detailedMonitoring: true
  {{- end }}
  {{- if .Values.karpenter.gpuDefaultNodeTemplate.amiFamily }}
  amiFamily: {{ .Values.karpenter.gpuDefaultNodeTemplate.amiFamily }}
  {{- end }}
  {{- if .Values.karpenter.gpuDefaultNodeTemplate.amiSelectorTerms }}
  amiSelectorTerms:
  {{- .Values.karpenter.gpuDefaultNodeTemplate.amiSelectorTerms | toYaml | nindent 2 }}
  {{- end }}
  {{- if eq (include "gpuDefaultNodeTemplate.inferredAmiFamily" .) "bottlerocket" }}
  blockDeviceMappings:
    - deviceName: /dev/xvdb
      ebs:
  {{- else }}
  blockDeviceMappings:
    - deviceName: /dev/xvda
      ebs:
  {{- end }}
        volumeSize: {{ .Values.karpenter.gpuDefaultNodeTemplate.rootVolumeSize }}
        volumeType: gp3
        deleteOnTermination: true
        encrypted: {{ .Values.karpenter.gpuDefaultNodeTemplate.encrypted }}
        {{- if .Values.karpenter.gpuDefaultNodeTemplate.kmsKeyID }}
        kmsKeyID: {{ .Values.karpenter.gpuDefaultNodeTemplate.kmsKeyID }}
        {{- end }}
  {{- if (eq (include "gpuDefaultNodeTemplate.inferredAmiFamily" .) "al2") }}
  {{- if .Values.karpenter.gpuDefaultNodeTemplate.enableSoci }}
  userData: |
  {{- .Files.Get "files/al2-soci-gpu-provisioner-userdata.sh" | nindent 4 }}
  {{- else if (eq .Values.karpenter.gpuDefaultNodeTemplate.userData "default") }}
  userData: |
  {{- .Files.Get "files/al2-gpu-provisioner-userdata.sh" | nindent 4 }}
  {{- else }}
  userData: {{- .Values.karpenter.gpuDefaultNodeTemplate.userData | toYaml | indent 2 }}
  {{- end }}

  {{- else if (eq (include "gpuDefaultNodeTemplate.inferredAmiFamily" .) "al2023")  }}
  {{- if .Values.karpenter.gpuDefaultNodeTemplate.enableSoci }}
  userData: |
  {{- .Files.Get "files/al2023-soci-gpu-provisioner-userdata.sh" | nindent 4 }}
  {{- else if (eq .Values.karpenter.gpuDefaultNodeTemplate.userData "default") }}
  userData: |
  {{- .Files.Get "files/al2023-gpu-provisioner-userdata.sh" | nindent 4 }}
  {{- else }}
  userData: {{- .Values.karpenter.gpuDefaultNodeTemplate.userData | toYaml | indent 2 }}
  {{- end }}

  {{- else if (eq (include "gpuDefaultNodeTemplate.inferredAmiFamily" .) "bottlerocket") }}
  {{- if eq .Values.karpenter.gpuDefaultNodeTemplate.userData "default" }}
  userData: |
  {{- .Files.Get "files/bottlerocket-gpu-provisioner-userdata.toml" | nindent 4 }}
  {{- else }}
  userData: {{- .Values.karpenter.gpuDefaultNodeTemplate.userData | toYaml | indent 2 }}
  {{- end }}
  {{- end }}

{{- end }}