{{- if .Values.metricsServer.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: metrics-server
  finalizers:
  - resources-finalizer.argocd.argoproj.io
  labels:
    truefoundry.com/infra-component: "metrics-server"
  annotations:
    helm.sh/resource-policy: {{ .Values.helm.resourcePolicy }}
spec:
  destination:
    namespace: kube-system
    server: 'https://kubernetes.default.svc'
  source:
    repoURL: 'https://kubernetes-sigs.github.io/metrics-server/'
    targetRevision: 3.13.0
    chart: metrics-server
    helm:
      values: |-
        {{- if .Values.metricsServer.valuesOverride }}
        {{ .Values.metricsServer.valuesOverride | toYaml | nindent 8 }}
        {{- else }}
        {{- $mergedTolerations := .Values.tolerations }}
        {{- if .Values.metricsServer.tolerations }}
        {{- $mergedTolerations = .Values.metricsServer.tolerations }}
        {{- end }}

        {{- $mergedAffinity := .Values.affinity }}
        {{- if .Values.metricsServer.affinity }}
        {{- $mergedAffinity = .Values.metricsServer.affinity }}
        {{- end }}
        {{- if .Values.imagePullSecrets }}
        imagePullSecrets:
          {{- toYaml .Values.imagePullSecrets | nindent 12 }}
        {{- end }}
        {{- if .Values.registry }}
        image:
          repository: {{ .Values.registry }}/metrics-server/metrics-server
        {{- end }}
        podAnnotations:
          "cluster-autoscaler.kubernetes.io/safe-to-evict": "true"
        replicas: 2
        serviceMonitor:
          enabled: true
          additionalLabels:
            release: prometheus
        resources:
          limits:
            cpu: 200m
            memory: 100Mi
          requests:
            cpu: 100m
            memory: 50Mi
        podDisruptionBudget:
          enabled: true
          minAvailable: 1
        containerPort: 4443
        args:
          - '--kubelet-insecure-tls'
        {{- if $mergedTolerations }}
        tolerations:
          {{- toYaml $mergedTolerations | nindent 14 }}
        {{- end }}
        {{- if $mergedAffinity }}
        affinity:
          {{- toYaml $mergedAffinity | nindent 14 }}
        {{- end }}
        {{- end }}
  project: tfy-apps
  syncPolicy:
    automated: {}
{{- end }}
