{{- if and .Values.prometheus.enabled .Values.prometheus.config.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: tfy-prometheus-config
  finalizers:
     - resources-finalizer.argocd.argoproj.io
  labels:
    truefoundry.com/infra-component: "tfy-prometheus-config"
  annotations:
    helm.sh/resource-policy: {{ .Values.helm.resourcePolicy }}
spec:
  project: tfy-apps
  destination:
    server: "https://kubernetes.default.svc"
    namespace: prometheus
  syncPolicy:
    automated: {}
    syncOptions:
      - CreateNamespace=false
  source:
    repoURL: https://truefoundry.github.io/infra-charts/
    targetRevision: 0.2.17
    chart: tfy-prometheus-config
    helm:
      values: |-
        {{- if .Values.prometheus.config.valuesOverride }}
        {{ .Values.prometheus.config.valuesOverride | toYaml | nindent 8 }}
        {{- else }}
        serviceMonitors:
        {{- if .Values.aws }}
          karpenter:
            enabled: {{ .Values.aws.karpenter.enabled }}
        {{- else }}
          karpenter:
            enabled: false
        {{- end }}
        {{- if eq .Values.gpu.clusterType "gcpGkeStandard" }}
          gpu:
            dcgmExporter:
              serviceSelectorLabels:
                app.kubernetes.io/component: gcp-gke-standard-dcgm-exporter
                app.kubernetes.io/instance: tfy-gpu-operator
                app.kubernetes.io/name: gcp-gke-standard-dcgm-exporter
        {{- end }}
        extraObjects: []
        {{- end }}
{{- end }}
