{{- if .Values.tfyLogs.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: tfy-logs
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  labels:
    truefoundry.com/infra-component: "tfy-logs"
  annotations:
    helm.sh/resource-policy: {{ .Values.helm.resourcePolicy }}
spec:
  destination:
    namespace: tfy-logs
    server: "https://kubernetes.default.svc"
  source:
    repoURL: https://truefoundry.github.io/infra-charts/
    targetRevision: 0.1.15
    chart: tfy-logs
    helm:
      values: |-
        {{- if .Values.tfyLogs.valuesOverride }}
        {{ .Values.tfyLogs.valuesOverride | toYaml | nindent 8 }}
        {{- else }}
        {{- $mergedTolerations := .Values.tolerations }}
        {{- if .Values.tfyLogs.tolerations }}
        {{- $mergedTolerations = .Values.tfyLogs.tolerations }}
        {{- end }}

        {{- $mergedAffinity := .Values.affinity }}
        {{- if .Values.tfyLogs.affinity }}
        {{- $mergedAffinity = .Values.tfyLogs.affinity }}
        {{- end }}
        victoria-logs-single:
          enabled: true
          server:
            {{- if .Values.registry }}
            image:
              registry: {{ .Values.registry }}/tfy-mirror
            {{- end }}
            {{- if .Values.imagePullSecrets }}
            imagePullSecrets:
              {{- toYaml .Values.imagePullSecrets | nindent 14 }}
            {{- end }}
            retentionPeriod: 15d
            persistentVolume:
              size: 50Gi
            resources:
              requests:
                cpu: 200m
                memory: 400Mi
              limits:
                cpu: 800m
                memory: 800Mi
            {{- if $mergedTolerations }}
            tolerations:
            {{- toYaml $mergedTolerations | nindent 14 }}
            {{- end }}
            {{- if $mergedAffinity }}
            affinity:
            {{- toYaml $mergedAffinity | nindent 14 }}
            {{- end }}
          vector:
            {{- if .Values.registry }}
            image:
              registry: {{ .Values.registry }}/truefoundrycloud/timberio/vector
            {{- end }}
            {{- if .Values.imagePullSecrets }}
            pullSecrets:
              {{- toYaml .Values.imagePullSecrets | nindent 14 }}
            {{- end }}
            enabled: true
        {{- end }}
  project: tfy-apps
  syncPolicy:
    automated: {}
    syncOptions:
      - RespectIgnoreDifferences=true
      - CreateNamespace=true
      - ServerSideApply=true
{{- end }}
