{{- if .Values.truefoundry.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: truefoundry
  finalizers:
  - resources-finalizer.argocd.argoproj.io
  labels:
    truefoundry.com/infra-component: "truefoundry"
  annotations:
    helm.sh/resource-policy: {{ .Values.helm.resourcePolicy }}
spec:
  destination:
    namespace: truefoundry
    server: https://kubernetes.default.svc
  project: tfy-apps
  source:
    targetRevision: 0.104.2
    repoURL: "tfy.jfrog.io/tfy-helm"
    chart: truefoundry
    helm:
      values: |-
        {{- if .Values.truefoundry.valuesOverride }}
        {{ .Values.truefoundry.valuesOverride | toYaml | nindent 8 }}
        {{- else }}

        {{- $mergedTolerations := .Values.tolerations }}
        {{- if .Values.truefoundry.tolerations }}
        {{- $mergedTolerations = .Values.truefoundry.tolerations }}
        {{- end }}

        {{- $mergedAffinity := .Values.affinity }}
        {{- if .Values.truefoundry.affinity }}
        {{- $mergedAffinity = .Values.truefoundry.affinity }}
        {{- end }}
        global:
          tenantName: {{ .Values.tenantName }}
          controlPlaneURL: {{ .Values.controlPlaneURL }}
          truefoundryImagePullConfigJSON: {{ .Values.truefoundry.truefoundryImagePullConfigJSON }}
          tfyApiKey: {{ .Values.truefoundry.tfyApiKey }}
          database:
            host: {{ .Values.truefoundry.database.host }}
            name: {{ .Values.truefoundry.database.name }}
            username: {{ .Values.truefoundry.database.username }}
            password: {{ .Values.truefoundry.database.password }}
          {{- if $mergedTolerations }}
          tolerations:
            {{- toYaml $mergedTolerations | nindent 12 }}
          {{- else }}
          tolerations: []
          {{- end }}
          {{- if $mergedAffinity }}
          affinity:
            {{- toYaml $mergedAffinity | nindent 12 }}
          {{- else }}
          affinity: {}
          {{- end }}
          {{- if .Values.truefoundry.truefoundry_iam_role_arn_annotations }}
          serviceAccount:
            annotations: {{ toYaml .Values.truefoundry.truefoundry_iam_role_arn_annotations | nindent 14 }}
          {{- end }}
          config:
            defaultCloudProvider: {{ .Values.truefoundry.defaultCloudProvider }}
            storageConfiguration:
              {{- toYaml .Values.truefoundry.storageConfiguration | nindent 14 }}

        devMode:
          enabled: {{ .Values.truefoundry.devMode.enabled }}
        {{- if .Values.truefoundry.tags }}
        tags:
          {{- toYaml .Values.truefoundry.tags | nindent 10 }}
        {{- end }}
        truefoundryBootstrap:
          enabled: {{ .Values.truefoundry.truefoundryBootstrap.enabled }}
        {{- if .Values.truefoundry.devMode.enabled }}
        postgresql:
          primary:
            {{- if $mergedTolerations }}
            tolerations:
              {{- toYaml $mergedTolerations | nindent 14 }}
            {{- else }}
            tolerations: []
            {{- end }}
            {{- if $mergedAffinity }}
            affinity:
              {{- toYaml $mergedAffinity | nindent 14 }}
            {{- else }}
            affinity: {}
            {{- end }}
        {{- end }}
        
        truefoundryFrontendApp:
          istio:
            virtualservice:
              enabled: {{ .Values.truefoundry.virtualservice.enabled }}
              {{- if .Values.truefoundry.virtualservice.hosts }}
              hosts:
              {{- range $v := .Values.truefoundry.virtualservice.hosts }}
              - {{ $v | quote }}
              {{- end }}
              {{- end }}
              {{- if .Values.truefoundry.virtualservice.gateways }}
              gateways:
              {{- range $v := .Values.truefoundry.virtualservice.gateways }}
              - {{ $v | quote }}
              {{- end }}
              {{- end }}

        tfyNats:
          podTemplate:
            patch:
              - op: add
                path: /spec/volumes/-
                value:
                  name: resolver-volume
                  secret:
                    secretName: tfy-nats-accounts
                    defaultMode: 420
              - op: add
                path: /spec/imagePullSecrets
                value: []
              {{- if $mergedTolerations }}
              - op: add
                path: /spec/tolerations
                value:
                  {{- toYaml $mergedTolerations | nindent 18 }}
              {{- else }}
              - op: add
                path: /spec/tolerations
                value: []
              {{- end }}
              {{- if $mergedAffinity }}
              - op: add
                path: /spec/affinity
                value:
                  {{- toYaml $mergedAffinity | nindent 18 }}
              {{- else }}
              - op: add
                path: /spec/affinity
                value: {}
              {{- end }}
              - op: add
                path: /spec/nodeSelector
                value: {}
        tfy-buildkitd-service:
          {{- if $mergedTolerations }}
          tolerations:
            {{- toYaml $mergedTolerations | nindent 12 }}
          {{- else }}
          tolerations: []
          {{- end }}
          {{- if $mergedAffinity }}
          affinity:
            {{- toYaml $mergedAffinity | nindent 12 }}
          {{- else }}
          affinity: {}
          {{- end }}
        s3proxy:
          enabled: {{ .Values.truefoundry.s3proxy.enabled }}
        sparkHistoryServer:
          enabled: {{ .Values.truefoundry.sparkHistoryServer.enabled }}
        tfyWorkflowAdmin:
          enabled: {{ .Values.truefoundry.tfyWorkflowAdmin.enabled }}
        tfy-llm-gateway:
          {{- if $mergedTolerations }}
          tolerations:
            {{- toYaml $mergedTolerations | nindent 12 }}
          {{- else }}
          tolerations: []
          {{- end }}
          {{- if $mergedAffinity }}
          affinity:
            {{- toYaml $mergedAffinity | nindent 12 }}
          {{- else }}
          affinity: {}
          {{- end }}
        tfy-otel-collector:
          {{- if $mergedTolerations }}
          tolerations:
            {{- toYaml $mergedTolerations | nindent 12 }}
          {{- else }}
          tolerations: []
          {{- end }}
          {{- if $mergedAffinity }}
          affinity:
            {{- toYaml $mergedAffinity | nindent 12 }}
          {{- else }}
          affinity: {}
          {{- end }}
        tfy-clickhouse:
          enabled: false
          clickhouse:
            {{- if $mergedTolerations }}
            tolerations:
              {{- toYaml $mergedTolerations | nindent 14 }}
            {{- else }}
            tolerations: []
            {{- end }}
            {{- if $mergedAffinity }}
            affinity:
              {{- toYaml $mergedAffinity | nindent 14 }}
            {{- else }}
            affinity: {}
            {{- end }}
          altinity-clickhouse-operator:
            {{- if $mergedTolerations }}
            tolerations:
              {{- toYaml $mergedTolerations | nindent 14 }}
            {{- else }}
            tolerations: []
            {{- end }}
            {{- if $mergedAffinity }}
            affinity:
              {{- toYaml $mergedAffinity | nindent 14 }}
            {{- else }}
            affinity: {}
            {{- end }}
          zookeeper:
            {{- if $mergedTolerations }}
            tolerations:
              {{- toYaml $mergedTolerations | nindent 14 }}
            {{- else }}
            tolerations: []
            {{- end }}
            {{- if $mergedAffinity }}
            affinity:
              {{- toYaml $mergedAffinity | nindent 14 }}
            {{- else }}
            affinity: {}
            {{- end }}

        {{- end }}

  syncPolicy:
    automated: {}
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
      - Prune=true
{{- end }}
