apiVersion: v2
name: tfy-llm-gateway
version: 0.106.0
description: "Truefoundry LLM Gateway deployment chart"
maintainers:
  - name: truefoundry
dependencies:
  - name: redis
    version: 20.3.0
    repository: https://charts.bitnami.com/bitnami
    condition: redis.enabled
