apiVersion: v2
name: tfy-llm-gateway
version: 0.106.2
description: "Truefoundry LLM Gateway deployment chart"
maintainers:
  - name: truefoundry
dependencies:
  - name: redis
    version: 24.0.0
    repository: oci://tfy.jfrog.io/tfy-helm
    condition: redis.enabled
