## @section Configuration for LLM Gateway

global:
  ## @param global.resourceTier Resource deployment type
  resourceTier: "medium"
  ## @param global.controlPlaneURL Control plane URL
  controlPlaneURL: ""
  ## @param global.controlPlaneChartVersion Control plane version
  controlPlaneChartVersion: "0.98.2"
  ## @param global.gatewayChartVersion Gateway version
  gatewayChartVersion: "0.121.0-rc.1"
  ## @param global.imagePullSecrets [array] Existing truefoundry image pull secret name
  imagePullSecrets: []
  ## @param global.affinity [object] Affinity rules for pod scheduling on a node
  affinity: {}
  ## @param global.labels [object] Global labels
  labels: {}
  ## @param global.annotations [object] Global annotations
  annotations: {}
  ## @param global.podLabels [object] Global pod labels
  podLabels: {}
  ## @param global.podAnnotations [object] Global pod annotations
  podAnnotations: {}
  ## @param global.deploymentLabels [object] Global deployment labels
  deploymentLabels: {}
  ## @param global.deploymentAnnotations [object] Global deployment annotations
  deploymentAnnotations: {}
  ## @param global.serviceAnnotations [object] Global service annotations
  serviceAnnotations: {}
  ## @param global.serviceLabels [object] Global service labels
  serviceLabels: {}
  ## @param global.tolerations [array] Tolerations for pod scheduling on a node
  tolerations: []
  ## @param global.nodeSelector [object] Node selector
  nodeSelector: {}
  ## global.serviceAccount Service account configuration
  serviceAccount:
    ## @param global.serviceAccount.name Service account name
    name: ""
    ## @param global.serviceAccount.labels Service account labels
    labels: {}
    ## @param global.serviceAccount.annotations Service account annotations
    annotations: {}
  ## @param global.image.registry Global image registry override
  image:
    registry: "tfy.jfrog.io"
  ## @param global.namespaceOverride Namespace override (defaults to .Release.Namespace if not set)
  namespaceOverride: ""
## Image configuration for llm-gateway
image:
  ## @param image.registry Image registry for tfyLLMGateway (defaults to global.image.registry if not set)
  registry: ""
  ## @param image.repository Image repository for tfyLLMGateway
  repository: tfy-private-images/tfy-llm-gateway
  ## @param image.tag Image tag for the tfyLLMGateway
  tag: v0.121.0-rc.1
## @param fullnameOverride Full name override for the tfy-llm-gateway
fullnameOverride: ""
## @skip replicaCount Number of replicas
# replicaCount: 3

## @param environmentName The environment name
environmentName: default
## @param envSecretName The environment secret name
envSecretName: tfy-llm-gateway-env-secret
## @param imagePullPolicy Image pull policy
imagePullPolicy: IfNotPresent
## @param nameOverride Name override
nameOverride: ""
## @param podAnnotations Pod annotations
podAnnotations: {}
## @param commonAnnotations Common annotations
commonAnnotations: {}
## @param podSecurityContext Pod security context
podSecurityContext: {}
## @param commonLabels Common labels
commonLabels: {}
## @param podLabels Pod annotations
podLabels: {}
## @param deploymentLabels Deployment labels
deploymentLabels: {}
## @param deploymentAnnotations Deployment annotations
deploymentAnnotations: {}
## @param securityContext Security context configuration
securityContext: {}
## @param imagePullSecrets [array] Image pull secrets
imagePullSecrets: []
## Healthcheck configuration
healthcheck:
  ## @param healthcheck.enabled Enable healthcheck
  enabled: true
  ## healthcheck.readiness Readiness probe configuration
  readiness:
    ## @param healthcheck.readiness.port Port to probe
    port: 8787
    ## @param healthcheck.readiness.path Path to probe
    path: /
    ## @param healthcheck.readiness.initialDelaySeconds Initial delay in seconds
    initialDelaySeconds: 30
    ## @param healthcheck.readiness.periodSeconds Period in seconds
    periodSeconds: 10
    ## @param healthcheck.readiness.timeoutSeconds Timeout in seconds
    timeoutSeconds: 5
    ## @param healthcheck.readiness.successThreshold Success threshold
    successThreshold: 1
    ## @param healthcheck.readiness.failureThreshold Failure threshold
    failureThreshold: 3
  ## healthcheck.liveness Liveness probe configuration
  liveness:
    ## @param healthcheck.liveness.port Port to probe
    port: 8787
    ## @param healthcheck.liveness.path Path to probe
    path: /
    ## @param healthcheck.liveness.initialDelaySeconds Initial delay in seconds
    initialDelaySeconds: 600
    ## @param healthcheck.liveness.periodSeconds Period in seconds
    periodSeconds: 10
    ## @param healthcheck.liveness.timeoutSeconds Timeout in seconds
    timeoutSeconds: 5
    ## @param healthcheck.liveness.successThreshold Success threshold
    successThreshold: 1
    ## @param healthcheck.liveness.failureThreshold Failure threshold
    failureThreshold: 3
## @skip resources [object] Resource configuration
# resources:
#   limits:
#     cpu: 1000m
#     ephemeral-storage: 256Mi
#     memory: 1024Mi
#   requests:
#     cpu: 500m
#     ephemeral-storage: 128Mi
#     memory: 512Mi
## @param nodeSelector Node selector
nodeSelector: {}
## @param tolerations Tolerations
tolerations: []
## @param affinity Affinity
affinity: {}
## @param topologySpreadConstraints Topology spread constraints
topologySpreadConstraints: {}
## @param terminationGracePeriodSeconds Termination grace period in seconds
terminationGracePeriodSeconds: 300
## podDisruptionBudget configuration
podDisruptionBudget:
  ## @param podDisruptionBudget.enabled Enable PodDisruptionBudget
  enabled: true
  ## @param podDisruptionBudget.annotations PDB annotations
  annotations: {}
  ## @param podDisruptionBudget.labels PDB labels
  labels: {}
  ## @param podDisruptionBudget.maxUnavailable Maximum number of unavailable replicas
  maxUnavailable: 30%
## Ingress configuration
ingress:
  ## @param ingress.enabled Enable ingress configuration
  enabled: false
  ## @param ingress.annotations Ingress annotations
  annotations: {}
  ## @param ingress.labels Ingress labels
  labels: {}
  ## @param ingress.ingressClassName Ingress class name
  ingressClassName: istio
  ## @param ingress.tls Ingress TLS configuration
  tls: []
  ## @param ingress.hosts Ingress hosts
  hosts: []
## Istio configuration
istio:
  ## istio.virtualservice Virtual service configuration
  virtualservice:
    ## @param istio.virtualservice.enabled Enable virtual service
    enabled: false
    ## @param istio.virtualservice.annotations Virtual service annotations
    annotations: {}
    ## @param istio.virtualservice.labels Virtual service labels
    labels: {}
    ## @param istio.virtualservice.gateways Virtual service gateways
    gateways: []
    ## @param istio.virtualservice.hosts Virtual service hosts
    hosts: []
    ## Retries configuration
    retries:
      ## @param istio.virtualservice.retries.enabled Enable retries
      enabled: false
      ## @param istio.virtualservice.retries.attempts Retries attempts
      attempts: 3
      ## @param istio.virtualservice.retries.retryOn Retries retry on
      retryOn: "gateway-error"
## Service configuration
service:
  ## @param service.type Service type
  type: ClusterIP
  ## @param service.port Service port
  port: 8787
  ## @param service.annotations Service annotations
  annotations: {}
  ## @param service.labels Service labels
  labels: {}
## Service account configuration
serviceAccount:
  ## @param serviceAccount.create Create service account
  create: false
  ## @param serviceAccount.annotations Service account annotations
  annotations: {}
  ## @param serviceAccount.labels Service account labels
  labels: {}
  ## @param serviceAccount.name Service account name
  name: ""
  ## @param serviceAccount.automountServiceAccountToken Automount service account token this will only be used if create is true
  automountServiceAccountToken: false
## @param extraVolumes Extra volumes
extraVolumes: []
## @param extraVolumeMounts Extra volume mounts
extraVolumeMounts: []
## @param dnsConfig DNS config
dnsConfig: {}
## @param hostAliases Host aliases
## Example
# hostAliases:
# - ip: 127.0.0.1
#   hostnames:
#   - myadded.examplehostname
hostAliases: []
## rbac configuration
rbac:
  ## @param rbac.enabled Enable rbac
  enabled: true
## Autoscaling configuration
autoscaling:
  ## @param autoscaling.enabled Enable autoscaling
  enabled: true
  ## @param autoscaling.minReplicas Minimum number of replicas
  minReplicas: 3
  ## @param autoscaling.maxReplicas Maximum number of replicas
  maxReplicas: 100
  ## @param autoscaling.targetCPUUtilizationPercentage Target CPU utilization percentage
  targetCPUUtilizationPercentage: 60
  # @param autoscaling.targetMemoryUtilizationPercentage Target memory utilization percentage
  # targetMemoryUtilizationPercentage: 70
  ## Rollout configuration
rollout:
  ## @param rollout.enabled Enable rollout (rolling update)
  enabled: true
  ## @param rollout.maxUnavailable Maximum number of unavailable replicas during rolling update
  maxUnavailable: 0
  ## @param rollout.maxSurge Maximum number of surge replicas during rolling update
  maxSurge: 40%
## @skip env Environment variables for the llmGateway
env:
  SERVICEFOUNDRY_SERVER_URL: http://{{ .Release.Name }}-servicefoundry-server.{{ include "global.namespace" . }}.svc.cluster.local:3000
  TFY_API_KEY: ${k8s-secret/truefoundry-creds/TFY_API_KEY}
  LOG_LEVEL: info
  DEPLOYED_LLM_GATEWAY_URL: "{{ .Values.global.controlPlaneURL }}/api/llm"
  CONTROL_PLANE_NATS_URL: http://{{ .Release.Name }}-tfy-nats.{{ include "global.namespace" . }}.svc.cluster.local:4222
  ENABLE_EXTERNAL_OAUTH: "false"
  REQUEST_LOGGING_MODE: HEADER_CONTROLLED
  TENANT_NAME: "{{ .Values.global.tenantName }}"
  TFY_OTEL_EXPORTER_OTLP_TRACES_ENDPOINT: http://{{ .Release.Name }}-tfy-otel-collector.{{ include "global.namespace" . }}.svc.cluster.local:4318/v1/traces
  USE_GLOBAL_STATE_V2: "true"
  MULTITENANT: "false"
  TIME_PER_OUTPUT_TOKEN_THRESHOLD_MINIMUM_SAMPLE_SIZE: "3"
  AUTH_SERVER_URL: https://auth.truefoundry.com
  RUN_IN_SINGLE_TENANT_MODE: "false"
  CONTROL_PLANE_VERSION: "{{ .Values.global.controlPlaneChartVersion }}"
  GATEWAY_VERSION: "{{ .Values.global.gatewayChartVersion }}"
  ENABLE_ZOD_VALIDATION: "false"
  DEFAULT_GATEWAY_METADATA: "{}"
  GATEWAY_AWS_ROLE_ARN: ""
  GATEWAY_AWS_USER_ACCESS_KEY_ID: ""
  GATEWAY_AWS_USER_SECRET_ACCESS_KEY: ""
  PUBLIC_CONTROL_PLANE_URL: "{{ .Values.global.controlPlaneURL }}"
## serviceMonitor [object] Service monitor configuration
serviceMonitor:
  ## @param serviceMonitor.enabled Enable service monitor
  enabled: true
  ## @param serviceMonitor.additionalLabels Additional labels for the service monitor
  additionalLabels: {}
  ## @param serviceMonitor.additionalAnnotations Additional annotations for the service monitor
  additionalAnnotations: {}
## OIDC configuration
oidc:
  ## @param oidc.enabled Enable OIDC configuration
  enabled: false
  ## @param oidc.config OIDC configuration
  config: {}
## Redis dependency configuration
redis:
  global:
    security:
      ## @param redis.global.security.allowInsecureImages Allow insecure images
      allowInsecureImages: true
  ## @param redis.enabled Enable Redis dependency
  enabled: false
  ## redis.auth Authentication configuration
  auth:
    ## @param redis.auth.enabled Enable Redis authentication
    enabled: false
  ## redis.image Image configuration
  image:
    ## @param redis.image.tag Image tag
    tag: 8.2.1-debian-12-r0
    ## @param redis.image.registry Image registry
    registry: tfy.jfrog.io
    ## @param redis.image.pullPolicy Image pull policy
    pullPolicy: IfNotPresent
    ## @param redis.image.repository Image repository
    repository: tfy-mirror/bitnamilegacy/redis
  ## redis.master Master configuration
  master:
    ## @param redis.master.nodeSelector [object] Node selector for Redis master pods (e.g. {"karpenter.sh/capacity-type": "on-demand"} for AWS)
    nodeSelector: {}
    ## @skip redis.master.tolerations Tolerations for Redis master pods
    tolerations:
      - key: class.truefoundry.io/control-plane
        effect: NoSchedule
        operator: Exists
    ## @skip redis.master.affinity Affinity rules for Redis master pods (default: avoid spot nodes across all cloud providers)
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: karpenter.sh/capacity-type
                  operator: NotIn
                  values:
                    - spot
                - key: eks.amazonaws.com/capacityType
                  operator: NotIn
                  values:
                    - SPOT
                - key: cloud.google.com/gke-provisioning
                  operator: NotIn
                  values:
                    - spot
                - key: kubernetes.azure.com/scalesetpriority
                  operator: NotIn
                  values:
                    - spot
    ## @param redis.master.configmap Redis master configmap configuration
    configmap: >-
      # Basic Redis config appendonly yes                     # Enable AOF appendfsync everysec               # Standard durability vs performance balance # AOF Rewrite (Consolidation) Settings auto-aof-rewrite-percentage 100    # Default threshold auto-aof-rewrite-min-size 64mb     # Minimum size before rewriting # Force AOF rewrite every 24 hours using system-based triggering # by setting an active-expire-cycle to help reduce fragmentation # and using cron-trigger for rewrite via Redis "CONFIG SET" supported: aof-rewrite-incremental-fsync yes # Optional: reduce memory fragmentation in long-running single-pod Redis maxmemory-policy noeviction
    ## redis.master.persistence Persistence configuration
    persistence:
      ## @param redis.master.persistence.size Persistence volume size
      size: 8Gi
      ## @param redis.master.persistence.enabled Enable persistence
      enabled: true
      ## @param redis.master.persistence.accessModes [array] Persistence access modes
      accessModes:
        - ReadWriteOnce
      ## @param redis.master.persistence.storageClass Persistence storage class
      storageClass: ""
    ## redis.master.resources Resource configuration
    resources:
      ## redis.master.resources.limits Resource limits
      limits:
        ## @param redis.master.resources.limits.cpu CPU limit
        cpu: 2000m
        ## @param redis.master.resources.limits.memory Memory limit
        memory: 6000Mi
      ## redis.master.resources.requests Resource requests
      requests:
        ## @param redis.master.resources.requests.cpu CPU request
        cpu: 1000m
        ## @param redis.master.resources.requests.memory Memory request
        memory: 4000Mi
  ## @param redis.architecture Redis architecture
  architecture: standalone
  ## @param redis.replicaCount Redis replica count
  replicaCount: 1
