{{- if .Values.truefoundryFrontendApp.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "truefoundry-frontend-app.fullname" . }}
  labels:
    {{- include "truefoundry-frontend-app.deploymentLabels" . | nindent 4 }}
  annotations:
    {{- include "truefoundry-frontend-app.deploymentAnnotations" . | nindent 4 }}
spec:
  replicas: {{- include "truefoundry-frontend-app.replicas" . | indent 1 }}
  selector:
    matchLabels:
      {{- include "truefoundry.selectorLabels" (dict "context" . "name" "truefoundry-frontend-app") | nindent 6 }}
  template:
    metadata:
      annotations:
        {{- include "truefoundry-frontend-app.podAnnotations" . | nindent 8 }}
      labels:
        {{- include "truefoundry-frontend-app.podLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "truefoundry-frontend-app.serviceAccountName" . }}
      {{- with .Values.truefoundryFrontendApp.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: "truefoundry-frontend-app"
          {{- with .Values.truefoundryFrontendApp.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          env:
            {{- include "truefoundry-frontend-app.env" . | trim | nindent 12 }}
          image: "{{ .Values.truefoundryFrontendApp.image.registry | default .Values.global.image.registry }}/{{ .Values.truefoundryFrontendApp.image.repository }}:{{ .Values.truefoundryFrontendApp.image.tag }}"
          imagePullPolicy: {{ .Values.truefoundryFrontendApp.imagePullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.truefoundryFrontendApp.service.port }}
              protocol: TCP
          resources:
            {{- include "truefoundry-frontend-app.resources" . | indent 12 }}
          livenessProbe:
            failureThreshold: {{ .Values.truefoundryFrontendApp.livenessProbe.failureThreshold }}
            initialDelaySeconds: {{ .Values.truefoundryFrontendApp.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.truefoundryFrontendApp.livenessProbe.periodSeconds }}
            successThreshold: {{ .Values.truefoundryFrontendApp.livenessProbe.successThreshold }}
            timeoutSeconds: {{ .Values.truefoundryFrontendApp.livenessProbe.timeoutSeconds }}
            httpGet:
              path: /livez
              port: {{ .Values.truefoundryFrontendApp.service.port }}
              scheme: HTTP
          readinessProbe:
            failureThreshold: {{ .Values.truefoundryFrontendApp.readinessProbe.failureThreshold }}
            initialDelaySeconds: {{ .Values.truefoundryFrontendApp.readinessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.truefoundryFrontendApp.readinessProbe.periodSeconds }}
            successThreshold: {{ .Values.truefoundryFrontendApp.readinessProbe.successThreshold }}
            timeoutSeconds: {{ .Values.truefoundryFrontendApp.readinessProbe.timeoutSeconds }}
            httpGet:
              path: /readyz
              port: {{ .Values.truefoundryFrontendApp.service.port }}
              scheme: HTTP
          volumeMounts:
          {{- toYaml .Values.truefoundryFrontendApp.extraVolumeMounts | nindent 12 }}
      imagePullSecrets:
        {{- include "truefoundry-frontend-app.imagePullSecrets" . | nindent 8 }}
      volumes:
      {{- toYaml .Values.truefoundryFrontendApp.extraVolumes | nindent 8 }}
      nodeSelector:
        {{- include "truefoundry-frontend-app.nodeSelector" . | nindent 8 }}
      {{- $mergedAffinity := dict | merge .Values.truefoundryFrontendApp.affinity .Values.global.affinity }}
      {{- if $mergedAffinity }}
      affinity:
      {{- toYaml $mergedAffinity | nindent 8 }}
      {{- end }}
      topologySpreadConstraints:
        {{- if .Values.truefoundryFrontendApp.topologySpreadConstraints }}
        {{- toYaml .Values.truefoundryFrontendApp.topologySpreadConstraints | nindent 8 }}
        {{- else }}
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: ScheduleAnyway
          labelSelector:
            matchLabels:
              {{- include "truefoundry.selectorLabels" (dict "context" . "name" "truefoundry-frontend-app") | nindent 14 }}
        {{- end }}
      tolerations:
        {{- .Values.global.tolerations | toYaml | nindent 8 }}
        {{- if .Values.truefoundryFrontendApp.tolerations }}
        {{- .Values.truefoundryFrontendApp.tolerations | toYaml | nindent 8 }}
        {{- end }}
{{- end }}
