{{- if .Values.truefoundryFrontendApp.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "truefoundry-frontend-app.fullname" . }}
  labels:
    {{- include "truefoundry-frontend-app.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.truefoundryFrontendApp.replicaCount }}
  selector:
    matchLabels:
      {{- include "truefoundry-frontend-app.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.truefoundryFrontendApp.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "truefoundry-frontend-app.podLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "truefoundry-frontend-app.serviceAccountName" . }}
      {{- with .Values.truefoundryFrontendApp.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: "truefoundry-frontend-app"
          {{- with .Values.truefoundryFrontendApp.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          env:
            {{- include "truefoundry-frontend-app.env" . | trim | nindent 12 }}
          image: "{{ .Values.truefoundryFrontendApp.image.repository }}:{{ .Values.truefoundryFrontendApp.image.tag }}"
          imagePullPolicy: {{ .Values.truefoundryFrontendApp.imagePullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.truefoundryFrontendApp.service.port }}
              protocol: TCP
          resources:
            {{- toYaml .Values.truefoundryFrontendApp.resources | nindent 12 }}
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /livez
              port: {{ .Values.truefoundryFrontendApp.service.port }}
              scheme: HTTP
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /readyz
              port: {{ .Values.truefoundryFrontendApp.service.port }}
              scheme: HTTP
          volumeMounts:
          {{- toYaml .Values.truefoundryFrontendApp.extraVolumeMounts | nindent 12 }}
      {{- with .Values.truefoundryFrontendApp.imagePullSecrets }}
      imagePullSecrets:
        {{- tpl (toYaml .) $ | nindent 8 }}
      {{- end }}
      volumes:
      {{- toYaml .Values.truefoundryFrontendApp.extraVolumes | nindent 8 }}
      nodeSelector:
        {{- include "truefoundry-frontend-app.nodeSelector" . | nindent 8 }}
      {{- $mergedAffinity := dict | merge .Values.truefoundryFrontendApp.affinity .Values.global.affinity }}
      {{- if $mergedAffinity }}
      affinity:
      {{- toYaml $mergedAffinity | nindent 8 }}
      {{- end }}
      topologySpreadConstraints:
        {{- if .Values.truefoundryFrontendApp.topologySpreadConstraints }}
        {{- toYaml .Values.truefoundryFrontendApp.topologySpreadConstraints | nindent 8 }}
        {{- else }}
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: ScheduleAnyway
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: {{ include "truefoundry-frontend-app.name" . }}
        {{- end }}
      tolerations:
        {{- .Values.global.tolerations | toYaml | nindent 8 }}
        {{- if .Values.truefoundryFrontendApp.tolerations }}
        {{- .Values.truefoundryFrontendApp.tolerations | toYaml | nindent 8 }}
        {{- end }}
{{- end }}
