{{- if and .Values.truefoundryFrontendApp.enabled .Values.truefoundryFrontendApp.ingress.enabled -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "truefoundry-frontend-app.fullname" . }}-ingress
  namespace: {{ include "global.namespace" . }}
  labels:
    {{- include "truefoundry-frontend-app.ingress.labels" . | nindent 4 }}
  annotations:
    {{- include "truefoundry-frontend-app.ingress.annotations" . | nindent 4 }}
spec:
  {{- if .Values.truefoundryFrontendApp.ingress.tls }}
  tls:
    {{- toYaml .Values.truefoundryFrontendApp.ingress.tls | nindent 4 }}
  {{- end }}
  ingressClassName: {{ .Values.truefoundryFrontendApp.ingress.ingressClassName }}
  rules:
    {{- range $host := .Values.truefoundryFrontendApp.ingress.hosts }}
    - host: {{ $host }}
      http:
        paths:
          - path: /api/svc/socket.io/
            pathType: Prefix
            backend:
              service:
                name: {{ $.Release.Name }}-servicefoundry-server
                port:
                  number: 3000
          - path: /api/llm/
            pathType: Prefix
            backend:
              service:
                name: {{ $.Release.Name }}-tfy-llm-gateway
                port:
                  number: {{ $.Values.truefoundryFrontendApp.llmGateway.backendPort }}
          - path: /api/proxy-server/
            pathType: Prefix
            backend:
              service:
                name: {{ $.Release.Name }}-tfy-controller
                port:
                  number: 8123
          - path: /flyteidl.service.AdminService/
            pathType: Prefix
            backend:
              service:
                name: {{ $.Release.Name }}-tfy-workflow-admin-server
                port:
                  number: 8089
          - path: /api/s3proxy/
            pathType: Prefix
            backend:
              service:
                name: {{ $.Release.Name }}-s3proxy
                port:
                  number: 8080
          - path: /api/otel/
            pathType: Prefix
            backend:
              service:
                name: {{ $.Release.Name }}-tfy-otel-collector
                port:
                  number: 4318
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ include "truefoundry-frontend-app.fullname" $ }}
                port:
                  number: 5000
    {{- end }}
{{- end -}}