{{- if and .Values.truefoundryFrontendApp.enabled .Values.truefoundryFrontendApp.llmGateway.external }}
apiVersion: networking.istio.io/v1beta1
kind: ServiceEntry
metadata:
  name: llm-gateway-{{ include "truefoundry-frontend-app.fullname" . }}
  namespace: {{ include "global.namespace" . }}
  labels:
    {{- include "truefoundry-frontend-app.commonLabels" . | nindent 4 }}
  annotations:
    {{- include "truefoundry-frontend-app.commonAnnotations" . | indent 4 }}
spec:
  hosts:
  - {{ tpl .Values.truefoundryFrontendApp.llmGateway.backendHost . }}
  location: MESH_EXTERNAL
  ports:
  - number: {{ .Values.truefoundryFrontendApp.llmGateway.backendPort }}
    protocol: HTTPS
    name: https-port
  resolution: DNS
{{- end }}
