{{- if .Values.truefoundryFrontendApp.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "truefoundry-frontend-app.fullname" . }}
  namespace: {{ include "global.namespace" . }}
  labels:
    {{- include "truefoundry-frontend-app.serviceLabels" . | nindent 4 }}
  annotations:
    {{- include "truefoundry-frontend-app.serviceAnnotations" . | nindent 4 }}
spec:
  type: {{ .Values.truefoundryFrontendApp.service.type }}
  ports:
    - port: {{ .Values.truefoundryFrontendApp.service.port }}
      targetPort: {{ .Values.truefoundryFrontendApp.service.port }}
      protocol: TCP
      name: http
  selector:
    {{- include "truefoundry.selectorLabels" (dict "context" . "name" "truefoundry-frontend-app") | nindent 4 }}
{{- end }}
