{{- if and .Values.truefoundryFrontendApp.enabled .Values.truefoundryFrontendApp.serviceAccount.create .Values.truefoundryFrontendApp.serviceAccount.name }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "truefoundry-frontend-app.serviceAccountName" . }}
  namespace: {{ include "global.namespace" . }}
  labels:
    {{- include "truefoundry-frontend-app.serviceAccountLabels" . | nindent 4 }}
  annotations:
    {{- include "truefoundry-frontend-app.serviceAccountAnnotations" . | nindent 4 }}
{{- if hasKey .Values.truefoundryFrontendApp.serviceAccount "automountServiceAccountToken" }}
automountServiceAccountToken: {{ .Values.truefoundryFrontendApp.serviceAccount.automountServiceAccountToken }}
{{- end }}
{{- end }}
