{{- if and .Values.truefoundryFrontendApp.enabled .Values.truefoundryFrontendApp.istio.virtualservice.enabled -}}
{{- $serviceName := include "truefoundry-frontend-app.fullname" . -}}
{{- $servicePort := .Values.truefoundryFrontendApp.service.port -}}
apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: {{ include "truefoundry-frontend-app.fullname" . }}
  labels:
    {{- include "truefoundry-frontend-app.labels" . | nindent 4 }}
  {{- if .Values.truefoundryFrontendApp.istio.virtualservice.annotations }}
    annotations:
    {{- range $key, $value := .Values.truefoundryFrontendApp.istio.virtualservice.annotations }}
      {{ $key }}: {{ $value | quote }}
    {{- end }}
  {{- end }}
  namespace: {{ .Release.Namespace }}
spec:
  gateways:
  {{- range .Values.truefoundryFrontendApp.istio.virtualservice.gateways}}
    - {{ . }}
  {{- end }}
  hosts:
  {{- range .Values.truefoundryFrontendApp.istio.virtualservice.hosts}}
    - {{ . }}
  {{- end }}
  http:
    - match:
        - uri:
            prefix: "/api/svc/socket.io"
      rewrite:
        uri: /socket.io
      route:
        - destination:
            host: {{ tpl .Values.truefoundryFrontendApp.servicefoundryServerHost . }}
            port:
              number: 3000
    - match:
        - uri:
            prefix: "/api/llm/"
      rewrite:
        uri: /
      {{- if .Values.truefoundryFrontendApp.llmGateway.external }}
        authority: {{ tpl .Values.truefoundryFrontendApp.llmGateway.backendHost . }}
      {{- end }}
      route:
        - destination:
            host: {{ tpl .Values.truefoundryFrontendApp.llmGateway.backendHost . }}
            port:
              number: {{ .Values.truefoundryFrontendApp.llmGateway.backendPort }}
    - match:
        - uri:
            prefix: /api/proxy-server/
      rewrite:
        uri: /
      route:
        - destination:
            host: {{ tpl .Values.truefoundryFrontendApp.proxyServerHost . }}
            port:
              number: 8123
    - match:
        - uri:
            prefix: "/flyteidl.service.AdminService/"
      route:
        - destination:
            host: {{ tpl .Values.truefoundryFrontendApp.tfyWorkflowAdminHost . }}
            port:
              number: 8089
          weight: 100
    - route:
        - destination:
            host: {{ include "truefoundry-frontend-app.fullname" . }}.{{ .Release.Namespace }}.svc.cluster.local
            port:
              number: {{ .Values.truefoundryFrontendApp.service.port }}
{{- end }}
