{{- if .Values.istio.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: istio-base
  finalizers:
  - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/sync-wave: "-2"
    helm.sh/resource-policy: {{ .Values.helm.resourcePolicy }}
  labels:
    truefoundry.com/infra-component: "istio-base"
spec:
  destination:
    namespace: istio-system
    server: https://kubernetes.default.svc
  project: tfy-apps
  source:
    chart: base
    repoURL: https://istio-release.storage.googleapis.com/charts
    targetRevision: 1.25.4
    helm:
      {{- if .Values.istio.base.valuesOverride }}
      values: |-
      {{ .Values.istio.base.valuesOverride | toYaml | nindent 8 }}
      {{- else }}
      values: ""
      {{- end }}
  syncPolicy:
    automated: {}
    syncOptions:
      - RespectIgnoreDifferences=true
      - CreateNamespace=true
      - ServerSideApply=true
{{- end }}
