{{- if .Values.tfyWorkflowAdmin.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "tfy-workflow-admin.fullname" . }}-server
  namespace: {{ include "global.namespace" . }}
  labels:
    {{- include "tfy-workflow-admin.deploymentLabels" . | nindent 4 }}
  annotations:
    {{- include "tfy-workflow-admin.deploymentAnnotations" . | nindent 4 }}
spec:
  replicas: {{- include "tfy-workflow-admin-server.replicas" . | indent 1 }}
  selector:
    matchLabels:
      {{- include "truefoundry.selectorLabels" (dict "context" . "name" "tfy-workflow-admin") | nindent 6 }}
      app.kubernetes.io/workflow-component: server
  template:
    metadata:
      annotations:
        {{- include "tfy-workflow-admin.podAnnotations" . | nindent 8 }}
      labels:
        {{- include "tfy-workflow-admin.server.podLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "tfy-workflow-admin.serviceAccountName" . }}
      {{- with .Values.tfyWorkflowAdmin.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: "tfy-workflow-admin-server"
          command:
          - sh
          - '-c'
          - >-
            flyteadmin migrate run --config ${ADMIN_CONFIG_FILE_PATH} &&
            flyteadmin serve --config ${ADMIN_CONFIG_FILE_PATH}
          {{- with .Values.tfyWorkflowAdmin.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          env:
            {{- include "tfy-workflow-admin.env" . | trim | nindent 12 }}
          image: "{{ .Values.tfyWorkflowAdmin.image.registry | default .Values.global.image.registry }}/{{ .Values.tfyWorkflowAdmin.image.repository }}:{{ .Values.tfyWorkflowAdmin.image.tag }}"
          imagePullPolicy: {{ .Values.tfyWorkflowAdmin.imagePullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.tfyWorkflowAdmin.service.port }}
              protocol: TCP
          resources:
            {{- include "tfy-workflow-admin-server.resources" . | indent 12 }}
          readinessProbe:
            failureThreshold: {{ .Values.tfyWorkflowAdmin.readinessProbe.failureThreshold }}
            initialDelaySeconds: {{ .Values.tfyWorkflowAdmin.readinessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.tfyWorkflowAdmin.readinessProbe.periodSeconds }}
            successThreshold: {{ .Values.tfyWorkflowAdmin.readinessProbe.successThreshold }}
            timeoutSeconds: {{ .Values.tfyWorkflowAdmin.readinessProbe.timeoutSeconds }}
            exec:
              command:
                - /bin/grpc_health_probe
                - '-addr=:{{ .Values.tfyWorkflowAdmin.service.port }}'
          livenessProbe:
            failureThreshold: {{ .Values.tfyWorkflowAdmin.livenessProbe.failureThreshold }}
            initialDelaySeconds: {{ .Values.tfyWorkflowAdmin.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.tfyWorkflowAdmin.livenessProbe.periodSeconds }}
            successThreshold: {{ .Values.tfyWorkflowAdmin.livenessProbe.successThreshold }}
            timeoutSeconds: {{ .Values.tfyWorkflowAdmin.livenessProbe.timeoutSeconds }}
            exec:
              command:
                - /bin/grpc_health_probe
                - '-addr=:{{ .Values.tfyWorkflowAdmin.service.port }}'
          volumeMounts:
          - mountPath: /etc/config/flyteadmin-config.yaml
            name: {{ include "tfy-workflow-admin.fullname" . }}-config
            subPath: flyteadmin-config.yaml
          - mountPath: /etc/secrets/admin_api_key
            name: {{ include "tfy-workflow-admin.fullname" . }}-tfy-api-key
            subPath: TFY_API_KEY
      imagePullSecrets:
        {{- include "tfy-workflow-admin.imagePullSecrets" . | nindent 8 }}
      volumes:
        - configMap:
            name: {{ include "tfy-workflow-admin.fullname" . }}-config
          name: {{ include "tfy-workflow-admin.fullname" . }}-config
        - name: {{ include "tfy-workflow-admin.fullname" . }}-tfy-api-key
          secret:
            secretName: truefoundry-creds
      {{- $mergedNodeSelector := mergeOverwrite (deepCopy .Values.global.nodeSelector) (deepCopy .Values.tfyWorkflowAdmin.nodeSelector) }}
      {{- if $mergedNodeSelector }}
      nodeSelector:
        {{- toYaml $mergedNodeSelector | nindent 8 }}
      {{- end }}
      {{- $mergedAffinity := dict | merge .Values.tfyWorkflowAdmin.affinity .Values.global.affinity }}
      {{- if $mergedAffinity }}
      affinity:
      {{- toYaml $mergedAffinity | nindent 8 }}
      {{- end }}
      topologySpreadConstraints:
        {{- if .Values.tfyWorkflowAdmin.topologySpreadConstraints }}
        {{- toYaml .Values.tfyWorkflowAdmin.topologySpreadConstraints | nindent 8 }}
        {{- else }}
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: ScheduleAnyway
          labelSelector:
            matchLabels:
              {{- include "truefoundry.selectorLabels" (dict "context" . "name" "tfy-workflow-admin") | nindent 14 }}
              app.kubernetes.io/workflow-component: server
        {{- end }}
      tolerations:
        {{- .Values.global.tolerations | toYaml | nindent 8 }}
        {{- if .Values.tfyWorkflowAdmin.tolerations }}
        {{- .Values.tfyWorkflowAdmin.tolerations | toYaml | nindent 8 }}
        {{- end }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "tfy-workflow-admin.fullname" . }}-scheduler
  namespace: {{ include "global.namespace" . }}
  labels:
    {{- include "tfy-workflow-admin.deploymentLabels" . | nindent 4 }}
  annotations:
    {{- include "tfy-workflow-admin.deploymentAnnotations" . | nindent 4 }}
spec:
  replicas: {{- include "tfy-workflow-admin-scheduler.replicas" . | indent 1 }}
  selector:
    matchLabels:
      {{- include "truefoundry.selectorLabels" (dict "context" . "name" "tfy-workflow-admin") | nindent 6 }}
      app.kubernetes.io/workflow-component: scheduler
  template:
    metadata:
      annotations:
        {{- include "tfy-workflow-admin.podAnnotations" . | nindent 8 }}
      labels:
        {{- include "tfy-workflow-admin.scheduler.podLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "tfy-workflow-admin.serviceAccountName" . }}
      {{- with .Values.tfyWorkflowAdmin.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: "tfy-workflow-admin-scheduler"
          command:
            - flytescheduler
            - run
            - '--config'
            - $(SCHEDULER_CONFIG_FILE_PATH)
          {{- with .Values.tfyWorkflowAdmin.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          env:
            {{- include "tfy-workflow-admin.env" . | trim | nindent 12 }}
          image: "{{ .Values.tfyWorkflowAdmin.image.registry | default .Values.global.image.registry }}/{{ .Values.tfyWorkflowAdmin.image.repository }}:{{ .Values.tfyWorkflowAdmin.image.tag }}"
          imagePullPolicy: {{ .Values.tfyWorkflowAdmin.imagePullPolicy }}
          resources:
            {{- include "tfy-workflow-admin-scheduler.resources" . | nindent 12 }}
          volumeMounts:
          - mountPath: /etc/config/flytescheduler-config.yaml
            name: {{ include "tfy-workflow-admin.fullname" . }}-config
            subPath: flytescheduler-config.yaml
          - mountPath: /etc/secrets/admin_api_key
            name: {{ include "tfy-workflow-admin.fullname" . }}-tfy-api-key
            subPath: TFY_API_KEY
      imagePullSecrets:
        {{- include "tfy-workflow-admin.imagePullSecrets" . | nindent 8 }}
      volumes:
        - configMap:
            name: {{ include "tfy-workflow-admin.fullname" . }}-config
          name: {{ include "tfy-workflow-admin.fullname" . }}-config
        - name: {{ include "tfy-workflow-admin.fullname" . }}-tfy-api-key
          secret:
            secretName: truefoundry-creds
      {{- $mergedNodeSelector := mergeOverwrite (deepCopy .Values.global.nodeSelector) (deepCopy .Values.tfyWorkflowAdmin.nodeSelector) }}
      {{- if $mergedNodeSelector }}
      nodeSelector:
        {{- toYaml $mergedNodeSelector | nindent 8 }}
      {{- end }}
      {{- $mergedAffinity := dict | merge .Values.tfyWorkflowAdmin.affinity .Values.global.affinity }}
      {{- if $mergedAffinity }}
      affinity:
      {{- toYaml $mergedAffinity | nindent 8 }}
      {{- end }}
      {{- with .Values.tfyWorkflowAdmin.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      tolerations:
        {{- .Values.global.tolerations | toYaml | nindent 8 }}
        {{- if .Values.tfyWorkflowAdmin.tolerations }}
        {{- .Values.tfyWorkflowAdmin.tolerations | toYaml | nindent 8 }}
        {{- end }}
{{- end }}
