{{- if .Values.tfyWorkflowAdmin.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "tfy-workflow-admin.fullname" . }}-server
  namespace: {{ include "global.namespace" . }}
  labels:
    {{- include "tfy-workflow-admin.serviceLabels" . | nindent 4 }}
  annotations:
    {{- include "tfy-workflow-admin.serviceAnnotations" . | nindent 4 }}
spec:
  type: {{ .Values.tfyWorkflowAdmin.service.type }}
  ports:
    - port: {{ .Values.tfyWorkflowAdmin.service.port }}
      targetPort: {{ .Values.tfyWorkflowAdmin.service.port }}
      protocol: TCP
      appProtocol: grpc
      name: grpc
  selector:
    {{- include "truefoundry.selectorLabels" (dict "context" . "name" "tfy-workflow-admin") | nindent 4 }}
    app.kubernetes.io/workflow-component: server
  {{- end }}
