tenantName: ""
controlPlaneURL: ""
clusterName: ""

argocd:
  enabled: true
argoWorkflows:
  enabled: true
argoRollouts:
  enabled: true
notebookController:
  enabled: true
  defaultStorageClass: ""
  notebookBaseDomainUrl: ""
certManager:
  enabled: true
metricsServer:

  enabled: true



  
aws:
  awsLoadBalancerController:
    enabled: true
    roleArn: ""
  karpenter:
    enabled: true
    config: {}
    clusterEndpoint: ""
    roleArn: ""
    instanceProfile: ""
    defaultZones: []
    interruptionQueue: ""
  awsEbsCsiDriver:
    enabled: true
    roleArn: ""
  awsEfsCsiDriver:
    enabled: true
    fileSystemId: ""
    roleArn: ""

  inferentia:
    enabled: true
  

gpu:
  enabled: true
  clusterType: awsEks
truefoundry:
  enabled: true
  tfyWorkflowAdmin:
    enabled: true
  devMode:
    enabled: true
  truefoundryBootstrap:
    enabled: true
  database:
    host: ""
    name: ""
    username: ""
    password: ""
  tfyApiKey: ""
  truefoundryImagePullConfigJSON: ""

loki:
  enabled: true

istio:
  enabled: true
  gateway:
    
    annotations:
      "service.beta.kubernetes.io/aws-load-balancer-name": "<terragruntOutput.cluster.cluster_name.raw>"
      "service.beta.kubernetes.io/aws-load-balancer-type": "external"
      "service.beta.kubernetes.io/aws-load-balancer-scheme": "internet-facing"
      "service.beta.kubernetes.io/aws-load-balancer-ssl-ports": "https"
      "service.beta.kubernetes.io/aws-load-balancer-alpn-policy": "HTTP2Preferred"
      "service.beta.kubernetes.io/aws-load-balancer-backend-protocol": "tcp"
      "service.beta.kubernetes.io/aws-load-balancer-additional-resource-tags":
        cluster-name=<terragruntOutput.cluster.cluster_name.raw>,  truefoundry.com/managed=true,
        owner=Truefoundry, application=tfy-istio-ingress
      "service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled": "true"
    
  discovery:
    hub: gcr.io/istio-release
    tag: 1.21.1-distroless
  tfyGateway:
    
    httpsRedirect: true
    

keda:
  enabled: true

kubecost:
  enabled: true

prometheus:
  enabled: true

grafana:
  enabled: true

tfyAgent:
  enabled: true
  clusterToken: ""

elasti:
  enabled: true

jspolicy:
  enabled: true
