{{- if and .Values.sfyManifestService.enabled .Values.sfyManifestService.serviceAccount.create .Values.sfyManifestService.serviceAccount.name }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "sfy-manifest-service.serviceAccountName" . }}
  namespace: {{ include "global.namespace" . }}
  labels:
    {{- include "sfy-manifest-service.serviceAccountLabels" . | nindent 4 }}
  annotations:
    {{- include "sfy-manifest-service.serviceAccountAnnotations" . | nindent 4 }}
{{- if hasKey .Values.sfyManifestService.serviceAccount "automountServiceAccountToken" }}
automountServiceAccountToken: {{ .Values.sfyManifestService.serviceAccount.automountServiceAccountToken }}
{{- end }}
{{- end }}
