{{- if and .Values.sfyManifestService.enabled .Values.sfyManifestService.serviceMonitor.enabled (.Capabilities.APIVersions.Has "monitoring.coreos.com/v1") -}}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ include "sfy-manifest-service.fullname" . }}
  labels:
    {{- include "sfy-manifest-service.serviceMonitorLabels" . | nindent 4 }}
  annotations:
    {{- include "sfy-manifest-service.serviceMonitorAnnotations" . | nindent 4 }}
spec:
  namespaceSelector:
    matchNames:
      - {{ include "global.namespace" . }}
  selector:
    matchLabels:
      {{- include "truefoundry.selectorLabels" (dict "context" . "name" "sfy-manifest-service") | nindent 6 }}
  endpoints:
    - targetPort: 8080
      path: /metrics
      honorLabels: true
      interval: 10s
{{- end -}}