apiVersion: karpenter.k8s.aws/v1alpha1
kind: AWSNodeTemplate
metadata:
  name: inferentia-default
  namespace: karpenter
spec:
  instanceProfile: {{ .Values.karpenter.instanceProfile }}
  subnetSelector:
    kubernetes.io/cluster/{{ .Values.cluster.name }}: shared
    subnet: private
  securityGroupSelector:
    karpenter.sh/discovery: {{ .Values.cluster.name }}
  tags:
    karpenter.sh/discovery: {{ .Values.cluster.name }}
  {{- range $key, $val := .Values.karpenter.inferentiaDefaultNodeTemplate.extraTags }}
    {{ $key }}: {{ $val }} 
  {{- end }}
  amiFamily: {{ .Values.karpenter.inferentiaDefaultNodeTemplate.amiFamily }}
  blockDeviceMappings:
    - deviceName: /dev/xvda
      ebs:
        volumeSize: {{ .Values.karpenter.inferentiaDefaultNodeTemplate.rootVolumeSize }}
        volumeType: gp3
        deleteOnTermination: true
  {{- if not (eq .Values.karpenter.inferentiaDefaultNodeTemplate.userData "")}}
  userData: {{- .Values.karpenter.inferentiaDefaultNodeTemplate.userData | toYaml | indent 2 }}
  {{- end }}
