{{- if .Values.karpenter.gpuProvisionerSpec.enabled }}
apiVersion: karpenter.sh/v1alpha5
kind: Provisioner
metadata:
  name: gpu-provisioner
  namespace: karpenter
spec:
  weight: 10
  {{- if .Values.karpenter.gpuProvisionerSpec.consolidation.enabled }}
  consolidation:
    enabled: true
  {{- else }}
  ttlSecondsAfterEmpty: {{ .Values.karpenter.gpuProvisionerSpec.ttlSecondsAfterEmpty }}
  {{- end }}
  {{- if .Values.karpenter.gpuProvisionerSpec.labels }}
  labels:
    {{- if eq .Values.karpenter.gpuDefaultNodeTemplate.amiFamily "Bottlerocket" }}
    nvidia.com/gpu.deploy.operands: 'false'
    {{- end }}  
    {{- .Values.karpenter.gpuProvisionerSpec.labels | toYaml | nindent 4 }}
  {{- end }}
  requirements:
    - key: karpenter.sh/capacity-type
      operator: In
      values:
      {{- range .Values.karpenter.gpuProvisionerSpec.capacityTypes }}
        - {{ . | quote }}
      {{- end }}
    - key: topology.kubernetes.io/zone
      operator: In
      values:
      {{- range .Values.karpenter.gpuProvisionerSpec.zones  }}
        - {{ . | quote }}
      {{- end }}
    - key: kubernetes.io/arch
      operator: In
      values:
        - amd64
    - key: karpenter.k8s.aws/instance-family
      operator: In
      values:
      {{- range .Values.karpenter.gpuProvisionerSpec.instanceFamilies  }}
        - {{ . | quote }}
      {{- end }}
    - key: karpenter.k8s.aws/instance-size
      operator: NotIn
      values:
      {{- range .Values.karpenter.gpuProvisionerSpec.instanceSizes.notAllowed  }}
        - {{ . | quote }}
      {{- end }}
  taints:
    - key: "nvidia.com/gpu"
      effect: "NoSchedule"
  providerRef:
    name: {{ .Values.karpenter.gpuProvisionerSpec.providerRefName }}
{{- end }}