{{- if .Values.karpenter.controlPlaneProvisioner.enabled }}
apiVersion: karpenter.sh/v1alpha5
kind: Provisioner
metadata:
  name: control-plane-provisioner
spec:
  labels:
    {{- include "controlPlaneProvisioner.labels" . | nindent 4 }}
  providerRef:
    name: {{ .Values.karpenter.controlPlaneProvisioner.providerRefName }}
  {{- if .Values.karpenter.controlPlaneProvisioner.consolidation.enabled }}
  consolidation:
    enabled: true
  {{- else }}
  ttlSecondsAfterEmpty: {{ .Values.karpenter.controlPlaneProvisioner.ttlSecondsAfterEmpty }}
  {{- end }}
  requirements:
  - key: karpenter.sh/capacity-type
    operator: In
    values:
    {{- range .Values.karpenter.controlPlaneProvisioner.capacityTypes }}
      - {{ . | quote }}
    {{- end }}
  - key: topology.kubernetes.io/zone
    operator: In
    values:
    {{- range .Values.karpenter.controlPlaneProvisioner.zones  }}
      - {{ . | quote }}
    {{- end }}
  - key: kubernetes.io/arch
    operator: In
    values:
    - amd64
  - key: kubernetes.io/os
    operator: In
    values:
    - linux
  {{- if .Values.karpenter.controlPlaneProvisioner.instanceFamilies.allowed }}
  - key: karpenter.k8s.aws/instance-family
    operator: In
    values:
    {{- range .Values.karpenter.controlPlaneProvisioner.instanceFamilies.allowed }}
      - {{ . | quote }}
    {{- end }}
  {{- end }}
  {{- if .Values.karpenter.controlPlaneProvisioner.instanceFamilies.notAllowed }}
  - key: karpenter.k8s.aws/instance-family
    operator: NotIn
    values:
    {{- range .Values.karpenter.controlPlaneProvisioner.instanceFamilies.notAllowed  }}
      - {{ . | quote }}
    {{- end }}
  {{- end }}
  {{- if .Values.karpenter.controlPlaneProvisioner.instanceSizes.allowed }}
  - key: karpenter.k8s.aws/instance-size
    operator: In
    values:
    {{- range .Values.karpenter.controlPlaneProvisioner.instanceSizes.allowed  }}
      - {{ . | quote }}
    {{- end }}
  {{- end }}
  {{- if .Values.karpenter.controlPlaneProvisioner.instanceSizes.notAllowed }}
  - key: karpenter.k8s.aws/instance-size
    operator: NotIn
    values:
    {{- range .Values.karpenter.controlPlaneProvisioner.instanceSizes.notAllowed  }}
      - {{ . | quote }}
    {{- end }}
  {{- end }}
  taints:
  - key: "karpenter.sh/legacy"
    effect: "NoSchedule"
    value: "true"
  {{- include "controlPlaneProvisioner.taints" . | nindent 2 }}
{{- end }}
