{{- if .Values.servicefoundryServer.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "servicefoundry-server.fullname" . }}
  labels:
    {{- include "servicefoundry-server.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.servicefoundryServer.replicaCount }}
  selector:
    matchLabels:
      {{- include "servicefoundry-server.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.servicefoundryServer.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "servicefoundry-server.podLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "servicefoundry-server.serviceAccountName" . }}
      {{- with .Values.servicefoundryServer.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: "servicefoundry-server"
          {{- with .Values.servicefoundryServer.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          env:
            {{- include "servicefoundry-server.env" . | trim | nindent 12 }}
          image: "{{ .Values.servicefoundryServer.image.repository }}:{{ .Values.servicefoundryServer.image.tag }}"
          imagePullPolicy: {{ .Values.servicefoundryServer.imagePullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.servicefoundryServer.service.port }}
              protocol: TCP
          resources:
            {{- toYaml .Values.servicefoundryServer.resources | nindent 12 }}
          livenessProbe:
            failureThreshold: 3
            initialDelaySeconds: 60
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
            httpGet:
              path: /
              port: {{ .Values.servicefoundryServer.service.port }}
              scheme: HTTP
          readinessProbe:
            failureThreshold: 3
            initialDelaySeconds: 30
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
            httpGet:
              path: /
              port: {{ .Values.servicefoundryServer.service.port }}
              scheme: HTTP
          volumeMounts:
            {{- include "servicefoundry-server.volumeMounts" . | nindent 12 }}
      {{- with .Values.servicefoundryServer.imagePullSecrets }}
      imagePullSecrets:
        {{- tpl (toYaml .) $ | nindent 8 }}
      {{- end }}
      volumes:
        {{- include "servicefoundry-server.volumes" . | nindent 8 }}
      {{- if .Values.servicefoundryServer.nodeSelector }}
      nodeSelector:
        {{- toYaml .Values.servicefoundryServer.nodeSelector | nindent 8 }}
      {{- end }}
      {{- $mergedAffinity := dict | merge .Values.servicefoundryServer.affinity .Values.global.affinity }}
      {{- if $mergedAffinity }}
      affinity:
      {{- toYaml $mergedAffinity | nindent 8 }}
      {{- end }}
      topologySpreadConstraints:
        {{- if .Values.servicefoundryServer.topologySpreadConstraints }}
        {{- toYaml .Values.servicefoundryServer.topologySpreadConstraints | nindent 8 }}
        {{- else }}
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: ScheduleAnyway
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: {{ include "servicefoundry-server.name" . }}
        {{- end }}
      tolerations:
        {{- .Values.global.tolerations | toYaml | nindent 8 }}
        {{- if .Values.servicefoundryServer.tolerations }}
        {{- .Values.servicefoundryServer.tolerations | toYaml | nindent 8 }}
        {{- end }}
{{- end }}
