{{- if and .Values.servicefoundryServer.rbac.enabled .Values.servicefoundryServer.enabled -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "servicefoundry-server.fullname" . }}-role-binding
  namespace: {{ include "global.namespace" . }}
  labels:
    {{- include "servicefoundry-server.commonLabels" . | nindent 4 }}
  annotations:
    {{- include "servicefoundry-server.commonAnnotations" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ include "servicefoundry-server.fullname" . }}-role
subjects:
  - kind: ServiceAccount
    namespace: {{ include "global.namespace" . }}
    name: {{ include "servicefoundry-server.serviceAccountName" . }}
{{- end}}
