{{- if .Values.servicefoundryServer.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "servicefoundry-server.fullname" . }}
  namespace: {{ include "global.namespace" . }}
  labels:
    {{- include "servicefoundry-server.serviceLabels" . | nindent 4 }}
  annotations:
    {{- include "servicefoundry-server.serviceAnnotations" . | nindent 4 }}
spec:
  type: {{ .Values.servicefoundryServer.service.type }}
  ports:
    - port: {{ .Values.servicefoundryServer.service.port }}
      targetPort: {{ .Values.servicefoundryServer.service.port }}
      protocol: TCP
      name: http
  selector:
    {{- include "truefoundry.selectorLabels" (dict "context" . "name" "servicefoundry-server") | nindent 4 }}
{{- end }}
