{{- if and .Values.servicefoundryServer.enabled .Values.servicefoundryServer.serviceAccount.create .Values.servicefoundryServer.serviceAccount.name }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "servicefoundry-server.serviceAccountName" . }}
  namespace: {{ include "global.namespace" . }}
  labels:
    {{- include "servicefoundry-server.serviceAccountLabels" . | nindent 4 }}
  annotations:
    {{- include "servicefoundry-server.serviceAccountAnnotations" . | nindent 4 }}
{{- if hasKey .Values.servicefoundryServer.serviceAccount "automountServiceAccountToken" }}
automountServiceAccountToken: {{ .Values.servicefoundryServer.serviceAccount.automountServiceAccountToken }}
{{- end }}
{{- end }}