{{- if .Values.s3proxy.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "s3proxy.configmapName" . }}
  namespace: {{ include "global.namespace" . }}
  labels:
    {{- include "s3proxy.commonLabels" . | nindent 4 }}
  annotations:
    {{- include "s3proxy.commonAnnotations" . | nindent 4 }}
data:
  config.properties: |-
    s3proxy.endpoint=http://0.0.0.0:{{ .Values.s3proxy.service.port }}
    s3proxy.authorization=aws-v4
    s3proxy.identity=__dynamic__
    s3proxy.credential=__token__
    jclouds.provider={{ tpl .Values.s3proxy.config.jcloudsProvider . }}
    jclouds.identity=
    jclouds.credential=
    jclouds.endpoint={{ tpl .Values.s3proxy.config.jcloudsEndpoint . }}
  {{- end }}