{{- if .Values.s3proxy.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "s3proxy.fullname" . }}
  namespace: {{ include "global.namespace" . }}
  labels:
    {{- include "s3proxy.serviceLabels" . | nindent 4 }}
  annotations:
    {{- include "s3proxy.serviceAnnotations" . | nindent 4 }}
spec:
  type: {{ .Values.s3proxy.service.type }}
  ports:
    - port: {{ .Values.s3proxy.service.port }}
      targetPort: {{ .Values.s3proxy.service.port }}
      protocol: TCP
      name: http
  selector:
    {{- include "truefoundry.selectorLabels" (dict "context" . "name" "s3proxy") | nindent 4 }}
{{- end }}
