{{- if and .Values.s3proxy.enabled .Values.s3proxy.serviceAccount.create .Values.s3proxy.serviceAccount.name }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "s3proxy.serviceAccountName" . }}
  labels:
    {{- include "s3proxy.serviceAccountLabels" . | nindent 4 }}
  annotations:
    {{- include "s3proxy.serviceAccountAnnotations" . | indent 4 }}
{{- if hasKey .Values.s3proxy.serviceAccount "automountServiceAccountToken" }}
automountServiceAccountToken: {{ .Values.s3proxy.serviceAccount.automountServiceAccountToken }}
{{- end }}
{{- end }}
