apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "tfy-llm-gateway.fullname" . }}
  labels:
    {{- include "tfy-llm-gateway.deploymentLabels" . | nindent 4 }}
  annotations:
    {{- include "tfy-llm-gateway.deploymentAnnotations" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ include "tfy-llm-gateway.replicas" . }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "tfy-llm-gateway.selectorLabels" . | nindent 6 }}
  strategy:
    {{- if .Values.rollout.enabled }}
    type: RollingUpdate
    rollingUpdate:
      maxSurge: {{ .Values.rollout.maxSurge | default "100%" | quote }}
      maxUnavailable: {{ .Values.rollout.maxUnavailable | default 0 }}
    {{- end }}
  template:
    metadata:
      annotations:
        {{- include "tfy-llm-gateway.podAnnotations" . | nindent 8 }}
      labels:
        {{- include "tfy-llm-gateway.podLabels" . | nindent 8 }}
    spec:
      {{- if .Values.dnsConfig }}
      dnsConfig:
        {{- toYaml .Values.dnsConfig | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "tfy-llm-gateway.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds | default 30 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          env:
            {{- include "tfy-llm-gateway.env" . | trim | nindent 12 }}
          image: "{{ .Values.image.registry | default .Values.global.image.registry }}/{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          resources:
            {{- include "tfy-llm-gateway.resources" . | nindent 12 }}
          {{- if .Values.healthcheck.enabled }}
          livenessProbe:
            httpGet:
              path: {{ .Values.healthcheck.liveness.path }}
              port: {{ .Values.healthcheck.liveness.port }}
            initialDelaySeconds: {{ .Values.healthcheck.liveness.initialDelaySeconds | default 10 }}
            periodSeconds: {{ .Values.healthcheck.liveness.periodSeconds | default 10 }}
            timeoutSeconds: {{ .Values.healthcheck.liveness.timeoutSeconds | default 5 }}
            successThreshold: {{ .Values.healthcheck.liveness.successThreshold | default 1 }}
            failureThreshold: {{ .Values.healthcheck.liveness.failureThreshold | default 3 }}
          readinessProbe:
            httpGet:
              path: {{ .Values.healthcheck.readiness.path }}
              port: {{ .Values.healthcheck.readiness.port }}
            initialDelaySeconds: {{ .Values.healthcheck.readiness.initialDelaySeconds | default 10 }}
            periodSeconds: {{ .Values.healthcheck.readiness.periodSeconds | default 10 }}
            timeoutSeconds: {{ .Values.healthcheck.readiness.timeoutSeconds | default 5 }}
            successThreshold: {{ .Values.healthcheck.readiness.successThreshold | default 1 }}
            failureThreshold: {{ .Values.healthcheck.readiness.failureThreshold | default 3 }}
          {{- end }}
          volumeMounts:
          {{- if gt (len .Values.extraVolumeMounts) 0 }}
          {{- toYaml .Values.extraVolumeMounts | nindent 12 }}
          {{- end }}
          {{- if .Values.oidc.enabled }}
          - name: oidc-config
            mountPath: /etc/oidc
            readOnly: true
          {{- end }}
      imagePullSecrets:
        {{- include "tfy-llm-gateway.imagePullSecrets" . | nindent 8 }}
      volumes:
      {{- if gt (len .Values.extraVolumes) 0 }}
      {{- toYaml .Values.extraVolumes | nindent 8 }}
      {{- end }}
      {{- if .Values.oidc.enabled }}
      - name: oidc-config
        configMap:
          name: {{ include "tfy-llm-gateway.fullname" . }}-oidc-cm
      {{- end }}
      nodeSelector:
        {{- include "tfy-llm-gateway.nodeSelector" . | nindent 8 }}
      affinity:
        {{- include "tfy-llm-gateway.affinity" . | nindent 8 }}
      topologySpreadConstraints:
        {{- if .Values.topologySpreadConstraints }}
        {{- toYaml .Values.topologySpreadConstraints | nindent 8 }}
        {{- else }}
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: ScheduleAnyway
          labelSelector:
            matchLabels:
              {{- include "tfy-llm-gateway.selectorLabels" . | nindent 14 }}
        {{- end }}
      tolerations:
        {{- include "tfy-llm-gateway.tolerations" . | nindent 8 }}