{{- if .Values.ingress.enabled -}}
{{- $serviceName := include "tfy-llm-gateway.fullname" . -}}
{{- $servicePort := .Values.service.port -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "tfy-llm-gateway.fullname" . }}
  labels:
    {{- include "tfy-llm-gateway.ingressLabels" . | nindent 4 }}
  annotations:
    {{- include "tfy-llm-gateway.ingressAnnotations" . | nindent 4 }}
spec:
  ingressClassName: {{ tpl .Values.ingress.ingressClassName $ }}
  rules:
    {{- range $host := .Values.ingress.hosts }}
    - host: {{ tpl $host $ }}
      http:
        paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: {{ $serviceName }}
              port:
                number: {{ $servicePort }}

    {{- end -}}
  {{- if .Values.ingress.tls }}
  tls:
  {{-  tpl (.Values.ingress.tls | toYaml) $ | nindent 4 }}
  {{- end -}}
{{- end -}}
