{{- if and .Values.serviceMonitor.enabled (.Capabilities.APIVersions.Has "monitoring.coreos.com/v1") -}}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ include "tfy-llm-gateway.fullname" . }}
  namespace: {{ include "global.namespace" . }}
  labels:
    {{- include "tfy-llm-gateway.serviceMonitorLabels" . | nindent 4 }}
  annotations:
    {{- include "tfy-llm-gateway.serviceMonitorAnnotations" . | nindent 4 }}
spec:
  namespaceSelector:
    matchNames:
      - {{ include "global.namespace" . }}
  selector:
    matchLabels:
      {{- include "tfy-llm-gateway.selectorLabels" . | nindent 6 }}
  endpoints:
    - targetPort: 8787
      path: /metrics
      honorLabels: true
      interval: 10s
{{- end -}}