{{- if .Values.istio.virtualservice.enabled -}}
{{- $serviceName := include "tfy-llm-gateway.fullname" . -}}
{{- $servicePort := .Values.service.port -}}
apiVersion: networking.istio.io/v1
kind: VirtualService
metadata:
  name: {{ include "tfy-llm-gateway.fullname" . }}
  labels:
    {{- include "tfy-llm-gateway.virtualserviceLabels" . | nindent 4 }}
  annotations:
    {{- include "tfy-llm-gateway.virtualserviceAnnotations" . | nindent 4 }}
spec:
  gateways:
  {{- range .Values.istio.virtualservice.gateways}}
    - {{ . }}
  {{- end }}
  hosts:
  {{- range .Values.istio.virtualservice.hosts}}
  - {{ . }}
  {{- end }}
  http:
  - match:
    - uri:
        prefix: /metrics
    directResponse:
      status: 403
      body: 
        string: "Access denied"
  - route:
    - destination:
        host: {{ include "tfy-llm-gateway.fullname" . }}.{{ include "global.namespace" . }}.svc.cluster.local
        port:
          number: {{ .Values.service.port }}
    {{- if .Values.istio.virtualservice.retries.enabled }}
    retries:
      attempts: {{ .Values.istio.virtualservice.retries.attempts }}
      retryOn: {{ .Values.istio.virtualservice.retries.retryOn }}
    {{- end }}
{{- end }}