{{- if .Values.karpenter.controlPlaneNodeTemplate.enabled }}
apiVersion: karpenter.k8s.aws/v1
kind: EC2NodeClass
metadata:
  name: {{ .Values.karpenter.controlPlaneNodeTemplate.name }}
spec:
  {{- if .Values.karpenter.controlPlaneNodeTemplate.instanceProfile }}
  instanceProfile: {{ .Values.karpenter.controlPlaneNodeTemplate.instanceProfile }}
  {{- else }}
  instanceProfile: {{ .Values.karpenter.instanceProfile }}
  {{- end }}
  subnetSelectorTerms:
    - tags:
        kubernetes.io/cluster/{{ .Values.cluster.name }}: shared
        subnet: private
        {{- range $key, $val := .Values.karpenter.controlPlaneNodeTemplate.extraSubnetTags }}
        {{ $key }}: {{ $val | quote }} 
        {{- end }}
  securityGroupSelectorTerms:
    - tags:
        karpenter.sh/discovery: {{ .Values.cluster.name }}
        {{- range $key, $val := .Values.karpenter.controlPlaneNodeTemplate.extraSecurityGroupTags }}
        {{ $key }}: {{ $val | quote }} 
        {{- end }}
  {{- if .Values.karpenter.controlPlaneNodeTemplate.metadataOptions }}
  metadataOptions:
    {{- toYaml .Values.karpenter.controlPlaneNodeTemplate.metadataOptions | nindent 4 }}
  {{- end }}
  tags:
    truefoundry.com/compute_type: cpu
    truefoundry.com/component_type: control-plane
    karpenter.sh/discovery: {{ .Values.cluster.name }}
    cluster-name: {{ .Values.cluster.name }}
  {{- range $key, $val := .Values.karpenter.controlPlaneNodeTemplate.extraTags }}
    {{ $key }}: {{ $val | quote }} 
  {{- end }}
  {{- if .Values.karpenter.controlPlaneNodeTemplate.detailedMonitoring }}
  detailedMonitoring: true
  {{- end }}
  {{- if .Values.karpenter.controlPlaneNodeTemplate.amiFamily }}
  amiFamily: {{ .Values.karpenter.controlPlaneNodeTemplate.amiFamily }}
  {{- end }}
  {{- if .Values.karpenter.controlPlaneNodeTemplate.amiSelectorTerms }}
  amiSelectorTerms:
  {{- .Values.karpenter.controlPlaneNodeTemplate.amiSelectorTerms | toYaml | nindent 2 }}
  {{- end }}
  {{- if eq (include "controlPlaneNodeTemplate.inferredAmiFamily" .) "bottlerocket" }}
  blockDeviceMappings:
    - deviceName: /dev/xvdb
      ebs:
  {{- else }}
  blockDeviceMappings:
    - deviceName: /dev/xvda
      ebs:
  {{- end }}
        volumeSize: {{ .Values.karpenter.controlPlaneNodeTemplate.rootVolumeSize }}
        volumeType: gp3
        deleteOnTermination: true
        encrypted: {{ .Values.karpenter.controlPlaneNodeTemplate.encrypted }}
        {{- if .Values.karpenter.controlPlaneNodeTemplate.kmsKeyID }}
        kmsKeyID: {{ .Values.karpenter.controlPlaneNodeTemplate.kmsKeyID }}
        {{- end }}
  {{- if not (eq .Values.karpenter.controlPlaneNodeTemplate.userData "")}}
  userData: {{- .Values.karpenter.controlPlaneNodeTemplate.userData | toYaml | indent 2 }}
  {{- end }}
{{- end }}