apiVersion: v2
name: truefoundry
version: 0.119.1
description: "TrueFoundry Control Plane Components"
maintainers:
  - name: truefoundry
dependencies:
  - condition: servicefoundryServer.enabled
    name: tfy-configs
    repository: https://truefoundry.github.io/infra-charts
    version: 0.1.23
  - condition: tfyNats.enabled
    name: nats
    alias: tfyNats
    repository: https://nats-io.github.io/k8s/helm/charts/
    version: 2.12.3
  - condition: devMode.enabled
    name: postgresql
    repository: oci://tfy.jfrog.io/tfy-mirror/bitnamicharts
    version: 18.1.1
  - condition: tfy-buildkitd-service.enabled
    name: tfy-buildkitd-service
    repository: https://truefoundry.github.io/infra-charts/
    version: 0.2.16
  - name: tfy-manifests-template
    repository: https://truefoundry.github.io/infra-charts/
    version: 0.2.0
    alias: extraResources
    condition: extraResources.enabled
  - name: tfy-llm-gateway
    repository: https://truefoundry.github.io/infra-charts/
    version: 0.119.0
    condition: tfy-llm-gateway.enabled
    tags:
      - llmGateway
  - name: tfy-otel-collector
    repository: https://truefoundry.github.io/infra-charts/
    version: 0.118.0
    condition: tfy-otel-collector.enabled
    tags:
      - tracing
      - llmGatewayRequestLogging
