{{- if .Values.argoWorkflows.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argo-workflows
  finalizers:
  - resources-finalizer.argocd.argoproj.io
  labels:
    truefoundry.com/infra-component: "argo-workflows"
  annotations:
    helm.sh/resource-policy: {{ .Values.helm.resourcePolicy }}
spec:
  destination:
    namespace: argo-workflows
    server: https://kubernetes.default.svc
  project: tfy-apps
  source:
    chart: argo-workflows
    repoURL: "https://argoproj.github.io/argo-helm"
    targetRevision: 0.46.2
    helm:
      values: |-
        {{- if .Values.argoWorkflows.valuesOverride }}
        {{ .Values.argoWorkflows.valuesOverride | toYaml | nindent 8 }}
        {{- else }}
        {{- $mergedTolerations := .Values.tolerations }}
        {{- if .Values.argoWorkflows.tolerations }}
        {{- $mergedTolerations = .Values.argoWorkflows.tolerations }}
        {{- end }}

        {{- $mergedAffinity := .Values.affinity }}
        {{- if .Values.argoWorkflows.affinity }}
        {{- $mergedAffinity = .Values.argoWorkflows.affinity }}
        {{- end }}

        {{- if .Values.imagePullSecrets }}
        images:
          pullSecrets:
            {{- toYaml .Values.imagePullSecrets | nindent 12 }}
        {{- end }}
        controller:
          {{- if .Values.registry }}
          image:
            registry: {{ .Values.registry }}
          {{- end }}
          serviceMonitor:
            enabled: true
            additionalLabels:
              release: prometheus
          workflowDefaults:
            spec:
              activeDeadlineSeconds: 432000
              ttlStrategy:
                secondsAfterCompletion: 3600
          namespaceParallelism: 1000
          parallelism: 1000
          metricsConfig:
            enabled: true
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
              ephemeral-storage: 256Mi
            limits:
              cpu: 400m
              memory: 512Mi
              ephemeral-storage: 512Mi
          {{- if $mergedTolerations }}
          tolerations:
            {{- toYaml $mergedTolerations | nindent 14 }}
          {{- end }}
          {{- if $mergedAffinity }}
          affinity:
            {{- toYaml $mergedAffinity | nindent 14 }}
          {{- end }}
        executor:
          {{- if .Values.registry }}
          image:
            registry: {{ .Values.registry }}
          {{- end }}
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
              ephemeral-storage: 256Mi
            limits:
              cpu: 400m
              memory: 512Mi
              ephemeral-storage: 512Mi
        server:
          {{- if .Values.registry }}
          image:
            registry: {{ .Values.registry }}
          {{- end }}
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
              ephemeral-storage: 256Mi
            limits:
              cpu: 400m
              memory: 512Mi
              ephemeral-storage: 512Mi
          {{- if $mergedTolerations }}
          tolerations:
            {{- toYaml $mergedTolerations | nindent 14 }}
          {{- end }}
          {{- if $mergedAffinity }}
          affinity:
            {{- toYaml $mergedAffinity | nindent 14 }}
          {{- end }}
        {{- end }}
  syncPolicy:
    automated: {}
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
{{- end }}
