{{- if .Values.argocd.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd
  finalizers:
  - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/sync-wave: "-20"
    helm.sh/hook: pre-install
    helm.sh/hook-weight: "-20"
    helm.sh/resource-policy: {{ .Values.helm.resourcePolicy }}
  labels:
    truefoundry.com/infra-component: "argocd"
spec:
  destination:
    namespace: argocd
    server: https://kubernetes.default.svc
  project: default
  source:
    chart: argo-cd
    repoURL: https://argoproj.github.io/argo-helm
    targetRevision: 7.8.26
    helm:
      values: |-
        {{- if .Values.argocd.valuesOverride }}
        {{ .Values.argocd.valuesOverride | toYaml | nindent 8 }}
        {{- else }}
        {{- $mergedTolerations := .Values.tolerations }}
        {{- if .Values.argocd.tolerations }}
        {{- $mergedTolerations = .Values.argocd.tolerations }}
        {{- end }}

        {{- $mergedAffinity := .Values.affinity }}
        {{- if .Values.argocd.affinity }}
        {{- $mergedAffinity = .Values.argocd.affinity }}
        {{- end }}
        extraObjects: 
        - apiVersion: argoproj.io/v1alpha1
          kind: AppProject
          metadata:
            name: tfy-apps
          spec:
            clusterResourceWhitelist:
            - group: '*'
              kind: '*'
            destinations:
            - namespace: '*'
              server: '*'
            sourceRepos:
            - '*'
            sourceNamespaces:
            - "*"
        
        notifications:
          enabled: false
        dex:
          enabled: false
        configs:
          cm:
            resource.customizations.ignoreDifferences.storage.k8s.io_CSIDriver: |
              jqPathExpressions:
              - '.spec.seLinuxMount'
        applicationSet:
          resources:
            requests:
              cpu: 100m
              memory: 50Mi
              ephemeral-storage: 256Mi
            limits:
              cpu: 200m
              memory: 100Mi
              ephemeral-storage: 512Mi
          {{- if $mergedTolerations }}
          tolerations:
            {{- toYaml $mergedTolerations | nindent 14 }}
          {{- end }}
          {{- if $mergedAffinity }}
          affinity:
            {{- toYaml $mergedAffinity | nindent 14 }}
          {{- end }}
        server:
          extraArgs:
            - --insecure
            - '--application-namespaces="*"'
          resources:
            requests:
              cpu: 200m
              memory: 256Mi
              ephemeral-storage: 256Mi
            limits:
              cpu: 400m
              memory: 1024Mi
              ephemeral-storage: 512Mi
          {{- if $mergedTolerations }}
          tolerations:
            {{- toYaml $mergedTolerations | nindent 14 }}
          {{- end }}
          {{- if $mergedAffinity }}
          affinity:
            {{- toYaml $mergedAffinity | nindent 14 }}
          {{- end }}
        controller:
          metrics:
            enabled: true
            serviceMonitor:
              enabled: true
              additionalLabels:
                release: prometheus
          extraArgs:
            - '--application-namespaces="*"'
          resources:
            requests:
              cpu: 1.3
              memory: 550Mi
              ephemeral-storage: 256Mi
            limits:
              cpu: 2.6
              memory: 1100Mi
              ephemeral-storage: 512Mi
          {{- if $mergedTolerations }}
          tolerations:
            {{- toYaml $mergedTolerations | nindent 14 }}
          {{- end }}
          {{- if $mergedAffinity }}
          affinity:
            {{- toYaml $mergedAffinity | nindent 14 }}
          {{- end }}
        redis:
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
              ephemeral-storage: 256Mi
            limits:
              cpu: 400m
              memory: 512Mi
              ephemeral-storage: 512Mi
          {{- if $mergedTolerations }}
          tolerations:
            {{- toYaml $mergedTolerations | nindent 14 }}
          {{- end }}
          {{- if $mergedAffinity }}
          affinity:
            {{- toYaml $mergedAffinity | nindent 14 }}
          {{- end }}
        redisSecretInit:
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
              ephemeral-storage: 256Mi
            limits:
              cpu: 400m
              memory: 512Mi
              ephemeral-storage: 512Mi
          {{- if $mergedTolerations }}
          tolerations:
            {{- toYaml $mergedTolerations | nindent 14 }}
          {{- end }}
          {{- if $mergedAffinity }}
          affinity:
            {{- toYaml $mergedAffinity | nindent 14 }}
          {{- end }}
        repoServer:
          resources:
            requests:
              cpu: 0.6
              memory: 256Mi
              ephemeral-storage: 256Mi
            limits:
              cpu: 1.2
              memory: 1024Mi
              ephemeral-storage: 512Mi
          {{- if $mergedTolerations }}
          tolerations:
            {{- toYaml $mergedTolerations | nindent 14 }}
          {{- end }}
          {{- if $mergedAffinity }}
          affinity:
            {{- toYaml $mergedAffinity | nindent 14 }}
          {{- end }}
        {{- end }}
  syncPolicy:
    automated: {}
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
{{- end }}
