{{- if .Values.loki.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: loki
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  labels:
    truefoundry.com/infra-component: "loki"
    truefoundry.com/infra-migration-tag: "1000"
spec:
  destination:
    namespace: loki
    server: "https://kubernetes.default.svc"
  source:
    repoURL: https://truefoundry.github.io/infra-charts/
    targetRevision: 0.1.1
    chart: tfy-loki
    helm:
      values: |-
        {{- if .Values.loki.valuesOverride }}
        {{ .Values.loki.valuesOverride | toYaml | nindent 8 }}
        {{- else }}
        loki:
          enabled: true
          monitoring:
            serviceMonitor:
              enabled: true
          loki:
            extraMemberlistConfig:
              bind_addr:
                - ${POD_IP}
          singleBinary:
            extraEnv:
              - name: POD_IP
                valueFrom:
                  fieldRef:
                    fieldPath: status.podIP
            extraArgs:
              - -print-config-stderr
              - -config.expand-env=true
            resources:
              requests:
                cpu: 200m
                memory: 256Mi
                ephemeral-storage: 256Mi
              limits:
                cpu: 400m
                memory: 512Mi
                ephemeral-storage: 512Mi
            {{- with .Values.tolerations }}
            tolerations:
              {{ toYaml . | nindent 14 }}
            {{- end }}
            {{- with .Values.affinity }}
            affinity: |-
              {{ toYaml . | nindent 14 }}
              podAntiAffinity:
                requiredDuringSchedulingIgnoredDuringExecution:
                - labelSelector:
                    matchLabels:
                      app.kubernetes.io/component: single-binary
                  topologyKey: kubernetes.io/hostname
            {{- end }}
        promtail:
          enabled: true
          serviceMonitor:
            enabled: true
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
              ephemeral-storage: 128Mi
            limits:
              cpu: 400m
              memory: 256Mi
              ephemeral-storage: 256Mi
        {{- end }}
  project: tfy-apps
  syncPolicy:
    automated: {}
    syncOptions:
      - RespectIgnoreDifferences=true
      - CreateNamespace=true
      - ServerSideApply=true
{{- end }}
