## @section Parameters for tfy-notebook-controller

## @param labels.app Label for the application.
## @param labels.kustomize.component Label for the Kustomize component.
##
labels:
  app: notebook-controller
  kustomize.component: notebook-controller
## @param namespaceOverride Namespace override for the notebook controller.
##
namespaceOverride: ""
## @param istioGateway Istio Gateway for the notebook controller.
##
istioGateway: istio-system/tfy-wildcard
## Image tag for the notebook controller.
##
## @param image.pullPolicy Pull Policy for notebook controller.
## @param image.repository Image repostiory for the notebook controller.
## @param image.tag Image tag for the notebook controller.
##
image:
  pullPolicy: IfNotPresent
  repository: "docker.io/truefoundryuser/notebook-controller"
  tag: "0.1.2"
## Resource configuration for the notebook controller.
##
## @param resources.limits.cpu CPU limit for the notebook controller.
## @param resources.limits.memory Memory limit for the notebook controller.
## @param resources.limits.ephemeral-storage Ephemeral storage limit for the notebook controller.
## @param resources.requests.cpu CPU request for the notebook controller.
## @param resources.requests.memory Memory request for the notebook controller.
## @param resources.requests.ephemeral-storage Ephemeral storage request for the notebook controller.
##
resources:
  limits:
    cpu: 100m
    memory: 256Mi
    ephemeral-storage: 256Mi
  requests:
    cpu: 50m
    memory: 128Mi
    ephemeral-storage: 128Mi
## Tolerations for the notebook controller deployment.
##
## @param tolerations[0].key Key for the first toleration.
## @param tolerations[0].value Value for the first toleration.
## @param tolerations[0].effect Effect for the first toleration.
## @param tolerations[0].operator Operator for the first toleration.
##
tolerations:
  - key: CriticalAddonsOnly
    value: "true"
    effect: NoSchedule
    operator: Equal

## Base domain URL for the notebook without scheme.
## Can be a wildcard like *.example.com
notebookBaseDomainUrl:

## OAuth2 configuration settings.
##
## @param secret Secret key used for OAuth2 authentication. This key should be kept confidential.
## @param hmac HMAC key used for encoding/decoding tokens in OAuth2. This key is crucial for maintaining token integrity and security.
##
oauth2:
  secret:
  hmac:

## Config for SDS service
##
## @param repository Docker image repository
## @param tag Docker image tag
##
sdsServer:
  repository:
  tag: 