{{- if .Values.global.serviceAccount.create }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Values.global.serviceAccount.name }}
  namespace: {{ include "global.namespace" . }}
  labels:
    {{- include "global.labels" . | nindent 4 }}
  annotations:
    {{- include "global.serviceAccountAnnotations" . | nindent 4 }}
{{- if hasKey .Values.global.serviceAccount "automountServiceAccountToken" }}
automountServiceAccountToken: {{ .Values.global.serviceAccount.automountServiceAccountToken }}
{{- end }}
{{- end }}
