apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-cicd-templates-cm
  namespace: {{ .Release.Namespace }}
data:
{{- if .Values.configs.cicdTemplates }}
  {{- range $key, $value := .Values.configs.cicdTemplates }}
  {{ $key }}: |
{{ $value | indent 4 }}
  {{- end }}
{{- else }}
{{ (.Files.Glob "files/cicd-templates/*.yaml").AsConfig | indent 2 }}
{{- end }}