{{- if and .Values.sparkHistoryServer.enabled .Values.sparkHistoryServer.serviceAccount.create .Values.sparkHistoryServer.serviceAccount.name }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "spark-history-server.serviceAccountName" . }}
  labels:
    {{- include "spark-history-server.serviceAccountLabels" . | nindent 4 }}
  annotations:
    {{- include "spark-history-server.serviceAccountAnnotations" . | indent 4 }}
{{- if hasKey .Values.sparkHistoryServer.serviceAccount "automountServiceAccountToken" }}
automountServiceAccountToken: {{ .Values.sparkHistoryServer.serviceAccount.automountServiceAccountToken }}
{{- end }}
{{- end }}
