{{- if .Values.aws.awsEfsCsiDriver.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: aws-efs-csi-driver
  finalizers:
  - resources-finalizer.argocd.argoproj.io
  labels:
    truefoundry.com/infra-component: "aws-efs-csi-driver"
  annotations:
    helm.sh/resource-policy: {{ .Values.helm.resourcePolicy }}
spec:
  destination:
    namespace: aws-efs-csi-driver
    server: 'https://kubernetes.default.svc'
  source:
    repoURL: https://kubernetes-sigs.github.io/aws-efs-csi-driver/
    targetRevision: 3.1.8
    chart: aws-efs-csi-driver
    helm:
      values: |-
        {{- if .Values.aws.awsEfsCsiDriver.valuesOverride }}
        {{ .Values.aws.awsEfsCsiDriver.valuesOverride | toYaml | nindent 8 }}
        {{- else }}
        {{- $mergedTolerations := .Values.tolerations }}
        {{- if .Values.aws.awsEfsCsiDriver.tolerations }}
        {{- $mergedTolerations = .Values.aws.awsEfsCsiDriver.tolerations }}
        {{- end }}

        {{- $mergedAffinity := .Values.affinity }}
        {{- if .Values.aws.awsEfsCsiDriver.affinity }}
        {{- $mergedAffinity = .Values.aws.awsEfsCsiDriver.affinity }}
        {{- end }}
        node:
          resources:
            requests:
              cpu: 10m
              memory: 128Mi
            limits:
              cpu: 100m
              memory: 400Mi
        sidecars:
          nodeDriverRegistrar:
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                cpu: 100m
                memory: 400Mi
          livenessProbe:
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                cpu: 100m
                memory: 400Mi
        controller:
          serviceAccount:
            create: true
            annotations:
              eks.amazonaws.com/role-arn: {{ .Values.aws.awsEfsCsiDriver.roleArn }}
          {{- if $mergedTolerations }}
          tolerations:
            {{- toYaml $mergedTolerations | nindent 14 }}
          {{- end }}
          {{- if $mergedAffinity }}
          affinity:
            {{- toYaml $mergedAffinity | nindent 14 }}
          {{- end }}
          tags:
            cluster-name: {{ .Values.clusterName }}
            volume-type: efs
            truefoundry.com/managed: "true"
          resources:
            requests:
              cpu: 10m
              memory: 128Mi
            limits:
              cpu: 100m
              memory: 400Mi
        storageClasses:
          - name: efs-sc
            mountOptions:
              - iam
            parameters:
              basePath: /truefoundry
              directoryPerms: "700"
              fileSystemId: {{ .Values.aws.awsEfsCsiDriver.fileSystemId }}
              gidRangeEnd: "2000"
              gidRangeStart: "1000"
              provisioningMode: efs-ap
            provisioner: efs.csi.aws.com
            reclaimPolicy: Delete
            volumeBindingMode: Immediate
        {{- end }}
  project: tfy-apps
  syncPolicy:
    automated: {}
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
{{- end }}
