{{- if .Values.aws.awsEfsCsiDriver.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: aws-efs-csi-driver
  finalizers:
  - resources-finalizer.argocd.argoproj.io
  labels:
    truefoundry.com/infra-component: "aws-efs-csi-driver"
    truefoundry.com/infra-migration-tag: "1001"
spec:
  destination:
    namespace: aws-efs-csi-driver
    server: 'https://kubernetes.default.svc'
  source:
    repoURL: https://kubernetes-sigs.github.io/aws-efs-csi-driver/
    targetRevision: 3.0.5
    chart: aws-efs-csi-driver
    helm:
      values: |-
        {{- if .Values.aws.awsEfsCsiDriver.valuesOverride }}
        {{ .Values.aws.awsEfsCsiDriver.valuesOverride | toYaml | nindent 8 }}
        {{- else }}
        controller:
          serviceAccount:
            create: true
            annotations:
              eks.amazonaws.com/role-arn: {{ .Values.aws.awsEfsCsiDriver.roleArn }}
          tags:
            cluster-name: {{ .Values.clusterName }}
            volume-type: efs
            truefoundry.com/managed: "true"
        storageClasses:
          - name: efs-sc
            mountOptions:
              - iam
            parameters:
              basePath: /truefoundry
              directoryPerms: "700"
              fileSystemId: {{ .Values.aws.awsEfsCsiDriver.fileSystemId }}
              gidRangeEnd: "2000"
              gidRangeStart: "1000"
              provisioningMode: efs-ap
            provisioner: efs.csi.aws.com
            reclaimPolicy: Delete
            volumeBindingMode: Immediate
        {{- end }}
  project: tfy-apps
  syncPolicy:
    automated: { }
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
{{- end }}
