{{- if .Values.aws.awsEbsCsiDriver.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: aws-ebs-csi-driver
  finalizers:
  - resources-finalizer.argocd.argoproj.io
  labels:
    truefoundry.com/infra-component: "aws-ebs-csi-driver"
    truefoundry.com/infra-migration-tag: "1001"
  annotations:
    helm.sh/hook: pre-install
    helm.sh/hook-weight: "-18"
spec:
  destination:
    namespace: aws-ebs-csi-driver
    server: 'https://kubernetes.default.svc'
  source:
    repoURL: "https://kubernetes-sigs.github.io/aws-ebs-csi-driver"
    targetRevision: 2.31.0
    chart: aws-ebs-csi-driver
    helm:
      values: |-
        {{- if .Values.aws.awsEbsCsiDriver.valuesOverride }}
        {{ .Values.aws.awsEbsCsiDriver.valuesOverride | toYaml | nindent 8 }}
        {{- else }}
        {{- $mergedTolerations := .Values.tolerations }}
        {{- if .Values.aws.awsEbsCsiDriver.tolerations }}
        {{- $mergedTolerations = .Values.aws.awsEbsCsiDriver.tolerations }}
        {{- end }}

        {{- $mergedAffinity := .Values.affinity }}
        {{- if .Values.aws.awsEbsCsiDriver.affinity }}
        {{- $mergedAffinity = .Values.aws.awsEbsCsiDriver.affinity }}
        {{- end }}
        node:
          tolerateAllTaints: true
        controller:
          serviceAccount:
            name: ebs-csi-controller-sa
            annotations:
              eks.amazonaws.com/role-arn: {{ .Values.aws.awsEbsCsiDriver.roleArn }}
          extraVolumeTags:
            cluster-name: {{ .Values.clusterName }}
            volume-type: csi-ebs
            truefoundry.com/managed: "true"
          {{- if $mergedTolerations }}
          tolerations:
            {{- toYaml $mergedTolerations | nindent 14 }}
          {{- end }}
          {{- if $mergedAffinity }}
          affinity:
            {{- toYaml $mergedAffinity | nindent 14 }}
          {{- end }}
        storageClasses:
          - name: gp2
            parameters:
              type: gp2
              fsType: ext4
            annotations:
              storageclass.kubernetes.io/is-default-class: "false"
            provisioner: kubernetes.io/aws-ebs
            reclaimPolicy: Delete
            volumeBindingMode: WaitForFirstConsumer
            allowVolumeExpansion: true
          - name: gp3
            parameters:
              type: gp3
              fsType: ext4
              encrypted: "true"
            annotations:
              storageclass.kubernetes.io/is-default-class: "true"
            provisioner: ebs.csi.aws.com
            reclaimPolicy: Delete
            volumeBindingMode: WaitForFirstConsumer
            allowVolumeExpansion: true
        {{- end }}
  project: tfy-apps
  syncPolicy:
    automated: {}
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
{{- end }}
