{{- if .Values.aws.awsLoadBalancerController.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: aws-load-balancer-controller
  finalizers:
  - resources-finalizer.argocd.argoproj.io
  labels:
    truefoundry.com/infra-component: "aws-load-balancer-controller"
  annotations:
    helm.sh/hook: pre-install
    helm.sh/hook-weight: "-18"
    helm.sh/resource-policy: {{ .Values.helm.resourcePolicy }}
spec:
  destination:
    namespace: aws-load-balancer-controller
    server: 'https://kubernetes.default.svc'
  source:
    repoURL: "https://aws.github.io/eks-charts"
    targetRevision: 1.16.0
    chart: aws-load-balancer-controller
    helm:
      values: |-
        {{- if .Values.aws.awsLoadBalancerController.valuesOverride }}
        {{ .Values.aws.awsLoadBalancerController.valuesOverride | toYaml | nindent 8 }}
        {{- else }}
        {{- $mergedTolerations := .Values.tolerations }}
        {{- if .Values.aws.awsLoadBalancerController.tolerations }}
        {{- $mergedTolerations = .Values.aws.awsLoadBalancerController.tolerations }}
        {{- end }}

        configureDefaultAffinity: false
        {{- $mergedAffinity := .Values.affinity }}
        {{- if .Values.aws.awsLoadBalancerController.affinity }}
        {{- $mergedAffinity = .Values.aws.awsLoadBalancerController.affinity }}
        {{- end }}
        {{- if .Values.registry }}
        image:
          repository: {{ .Values.registry }}/eks/aws-load-balancer-controller
        {{- end }}
        {{- if .Values.imagePullSecrets }}
        imagePullSecrets:
          {{- toYaml .Values.imagePullSecrets | nindent 10 }}
        {{- end }}
        clusterName: {{ .Values.clusterName | quote }}
        serviceMonitor:
          enabled: {{ .Values.prometheus.enabled }}
          additionalLabels:
            release: prometheus
        resources:
          requests:
            cpu: 10m
            memory: 128Mi
          limits:
            cpu: 100m
            memory: 400Mi
        serviceAccount:
          annotations:
            eks.amazonaws.com/role-arn: {{ .Values.aws.awsLoadBalancerController.roleArn }}
        {{- if $mergedTolerations }}
        tolerations:
          {{- toYaml $mergedTolerations | nindent 14 }}
        {{- end }}
        {{- if $mergedAffinity }}
        affinity:
          {{- toYaml $mergedAffinity | nindent 14 }}
        {{- end }}
        vpcId: {{ .Values.aws.awsLoadBalancerController.vpcId | quote }}
        region: {{ .Values.aws.awsLoadBalancerController.region | quote }}
        {{- end }}
  project: tfy-apps
  syncPolicy:
    automated: {}
    syncOptions:
      - RespectIgnoreDifferences=true
      - CreateNamespace=true
      - ServerSideApply=true
{{- end }}
