{{- if .Values.aws.awsLoadBalancerController.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: aws-load-balancer-controller
  finalizers:
  - resources-finalizer.argocd.argoproj.io
  labels:
    truefoundry.com/infra-component: "aws-load-balancer-controller"
    truefoundry.com/infra-migration-tag: "1001"
spec:
  destination:
    namespace: aws-load-balancer-controller
    server: 'https://kubernetes.default.svc'
  source:
    repoURL: "https://aws.github.io/eks-charts"
    targetRevision: 1.8.2
    chart: aws-load-balancer-controller
    helm:
      values: |-
        {{- if .Values.aws.awsLoadBalancerController.valuesOverride }}
        {{ .Values.aws.awsLoadBalancerController.valuesOverride | toYaml | nindent 8 }}
        {{- else }}
        {{- $mergedTolerations := .Values.tolerations }}
        {{- if .Values.aws.awsLoadBalancerController.tolerations }}
        {{- $mergedTolerations = .Values.aws.awsLoadBalancerController.tolerations }}
        {{- end }}

        {{- $mergedAffinity := .Values.affinity }}
        {{- if .Values.aws.awsLoadBalancerController.affinity }}
        {{- $mergedAffinity = .Values.aws.awsLoadBalancerController.affinity }}
        {{- end }}
        clusterName: {{ .Values.clusterName | quote }}
        serviceAccount:
          annotations:
            eks.amazonaws.com/role-arn: {{ .Values.aws.awsLoadBalancerController.roleArn }}
        {{- if $mergedTolerations }}
        tolerations:
          {{- toYaml $mergedTolerations | nindent 14 }}
        {{- end }}
        {{- if $mergedAffinity }}
        affinity:
          {{- toYaml $mergedAffinity | nindent 14 }}
        {{- end }}
        vpcId: {{ .Values.aws.awsLoadBalancerController.vpcId | quote }}
        region: {{ .Values.aws.awsLoadBalancerController.region | quote }}
        {{- end }}
  project: tfy-apps
  syncPolicy:
    automated: {}
    syncOptions:
      - RespectIgnoreDifferences=true
      - CreateNamespace=true
      - ServerSideApply=true
{{- end }}
