{{- if .Values.aws.karpenter.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: karpenter-config
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  labels:
    truefoundry.com/infra-component: "karpenter-config"
    truefoundry.com/infra-migration-tag: "1002"
spec:
  destination:
    namespace: karpenter
    server: "https://kubernetes.default.svc"
  source:
    chart: tfy-karpenter-config
    repoURL: https://truefoundry.github.io/infra-charts/
    targetRevision: 0.1.35
    helm:
      values: |-
        {{- if .Values.aws.karpenter.config.valuesOverride }}
        {{ .Values.aws.karpenter.config.valuesOverride | toYaml | nindent 8 }}
        {{- else }}
        cluster:
          name: {{ .Values.clusterName }}
        karpenter:
          enabled: {{ .Values.aws.karpenter.enabled }}
          instanceProfile: {{ .Values.aws.karpenter.instanceProfile }}
          defaultNodePool:
            zones: {{- range .Values.aws.karpenter.defaultZones }}
            - {{ . | quote }}
            {{- end }}
          {{- if .Values.gpu.enabled }}
          gpuNodePool:
            zones: {{- range .Values.aws.karpenter.defaultZones }}
            - {{ . | quote }}
            {{- end }}
          {{- end }}
          inferentiaNodePool:
            zones: {{- range .Values.aws.karpenter.defaultZones }}
            - {{ . | quote }}
            {{- end }}
        {{- end }}
  project: tfy-apps
  syncPolicy:
    automated: {}
    syncOptions:
      - CreateNamespace=false
{{- end }}
