{{- if .Values.aws.karpenter.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: karpenter
  finalizers:
  - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/sync-wave: "-2"
    helm.sh/resource-policy: {{ .Values.helm.resourcePolicy }}
  labels:
    truefoundry.com/infra-component: "karpenter"
spec:
  destination:
    namespace: kube-system
    server: 'https://kubernetes.default.svc'
  source:
    repoURL: https://truefoundry.github.io/infra-charts/
    targetRevision: 0.5.6
    chart: tfy-karpenter
    helm:
      values: |-
        {{- if .Values.aws.karpenter.valuesOverride }}
        {{ .Values.aws.karpenter.valuesOverride | toYaml | nindent 8 }}
        {{- else }}
        {{- $mergedTolerations := .Values.tolerations }}
        {{- if .Values.aws.karpenter.tolerations }}
        {{- $mergedTolerations = .Values.aws.karpenter.tolerations }}
        {{- end }}

        {{- $mergedAffinity := .Values.affinity }}
        {{- if .Values.aws.karpenter.affinity }}
        {{- $mergedAffinity = .Values.aws.karpenter.affinity }}
        {{- end }}
        karpenter:
          serviceAccount:
            annotations:
              eks.amazonaws.com/role-arn: {{ .Values.aws.karpenter.roleArn }}
          settings:
            clusterName: {{ .Values.clusterName | default "cluster-name" }}
            clusterEndpoint: {{ .Values.aws.karpenter.clusterEndpoint }}
            defaultInstanceProfile: {{ .Values.aws.karpenter.instanceProfile }}
            interruptionQueue: {{ .Values.aws.karpenter.interruptionQueue }}
          controller:
            {{- if $mergedTolerations }}
            tolerations:
              {{- toYaml $mergedTolerations | nindent 14 }}
            {{- end }}
            {{- if $mergedAffinity }}
            affinity:
              {{- toYaml $mergedAffinity | nindent 14 }}
            {{- end }}
            resources:
              requests:
                cpu: 100m
                memory: 256Mi
              limits:
                cpu: 200m
                memory: 512Mi
        {{- end }}
  project: tfy-apps
  syncPolicy:
    automated: {}
    syncOptions:
      - RespectIgnoreDifferences=true
      - CreateNamespace=true
      - ServerSideApply=true
{{- end }}
