{{- if .Values.aws.inferentia.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: tfy-inferentia-operator
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  labels:
    truefoundry.com/infra-component: "tfy-inferentia-operator"
  annotations:
    helm.sh/resource-policy: {{ .Values.helm.resourcePolicy }}
spec:
  destination:
    namespace: tfy-inferentia-operator
    server: https://kubernetes.default.svc
  project: tfy-apps
  source:
    repoURL: https://truefoundry.github.io/infra-charts/
    chart: tfy-inferentia-operator
    targetRevision: 0.2.8
    helm:
      values: |-
        {{- if .Values.aws.inferentia.valuesOverride }}
        {{ .Values.aws.inferentia.valuesOverride | toYaml | nindent 8 }}
        {{- else }}
        {{- $mergedTolerations := .Values.tolerations }}
        {{- if .Values.aws.inferentia.tolerations }}
        {{- $mergedTolerations = .Values.aws.inferentia.tolerations }}
        {{- end }}

        {{- $mergedAffinity := .Values.affinity }}
        {{- if .Values.aws.inferentia.affinity }}
        {{- $mergedAffinity = .Values.aws.inferentia.affinity }}
        {{- end }}
        scheduler:
          {{- if $mergedTolerations }}
          tolerations:
          {{- toYaml $mergedTolerations | nindent 12 }}
          {{- else }}
          tolerations: []
          {{- end }}
          {{- if $mergedAffinity }}
          affinity:
          {{- toYaml $mergedAffinity | nindent 12 }}
          {{- else }}
          affinity: {}
          {{- end }}
          extension:
            {{- if $mergedTolerations }}
            tolerations:
            {{- toYaml $mergedTolerations | nindent 14 }}
            {{- else }}
            tolerations: []
            {{- end }}
            {{- if $mergedAffinity }}
            affinity:
            {{- toYaml $mergedAffinity | nindent 14 }}
            {{- else }}
            affinity: {}
            {{- end }}
      {{- end }}
  syncPolicy:
    automated: {}
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true

{{- end}}
