{{- if .Values.elasti.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: elasti
  finalizers:
  - resources-finalizer.argocd.argoproj.io
  labels:
    truefoundry.com/infra-component: "elasti"
    truefoundry.com/infra-migration-tag: "1000"
spec:
  destination:
    namespace: elasti
    server: 'https://kubernetes.default.svc'
  source:
    targetRevision: 0.1.8
    repoURL: "tfy.jfrog.io/tfy-helm"
    chart: elasti
    helm:
      {{- if .Values.elasti.valuesOverride }}
      values: |-
      {{ .Values.elasti.valuesOverride | toYaml | nindent 8 }}
      {{- else }}
      values: ""
      {{- end }}
  project: tfy-apps
  syncPolicy:
    automated: {}
{{- end }}
