{{- if .Values.grafana.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: grafana
  finalizers:
  - resources-finalizer.argocd.argoproj.io
  labels:
    truefoundry.com/infra-component: "grafana"
    truefoundry.com/infra-migration-tag: "1000"
spec:
  destination:
    namespace: grafana
    server: https://kubernetes.default.svc
  project: tfy-apps
  source:
    chart: tfy-grafana
    repoURL: https://truefoundry.github.io/infra-charts/
    targetRevision: 0.1.8
    helm:
      values: |-
        {{- if .Values.grafana.valuesOverride }}
        {{ .Values.grafana.valuesOverride | toYaml | nindent 8 }}
        {{- else }}
        {{- $mergedTolerations := .Values.tolerations }}
        {{- if .Values.grafana.tolerations }}
        {{- $mergedTolerations = .Values.grafana.tolerations }}
        {{- end }}

        {{- $mergedAffinity := .Values.affinity }}
        {{- if .Values.grafana.affinity }}
        {{- $mergedAffinity = .Values.grafana.affinity }}
        {{- end }}
        # Host for the grafana dashboard
        host: <to_be_provided>
        grafana:
          # Username for grafana dashboard
          adminUser: <to_be_provided>
          # Password for grafana dashboard
          adminPassword: <to_be_provided>
          {{- if $mergedTolerations }}
          tolerations:
            {{- toYaml $mergedTolerations | nindent 14 }}
          {{- end }}
          {{- if $mergedAffinity }}
          affinity:
            {{- toYaml $mergedAffinity | nindent 14 }}
          {{- end }}
        {{- end }}
  syncPolicy:
    automated: {}
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
{{- end }}
