{{- if .Values.kubecost.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kubecost
  finalizers:
  - resources-finalizer.argocd.argoproj.io
  labels:
    truefoundry.com/infra-component: "kubecost"
  annotations:
    helm.sh/resource-policy: {{ .Values.helm.resourcePolicy }}
spec:
  destination:
    namespace: kubecost
    server: https://kubernetes.default.svc
  project: tfy-apps
  source:
    chart: "cost-analyzer"
    repoURL: https://kubecost.github.io/cost-analyzer/
    targetRevision: 2.4.1
    helm:
      values: |-
        {{- if .Values.kubecost.valuesOverride }}
        {{ .Values.kubecost.valuesOverride | toYaml | nindent 8 }}
        {{- else }}
        {{- $mergedTolerations := .Values.tolerations }}
        {{- if .Values.kubecost.tolerations }}
        {{- $mergedTolerations = .Values.kubecost.tolerations }}
        {{- end }}

        {{- $mergedAffinity := .Values.affinity }}
        {{- if .Values.kubecost.affinity }}
        {{- $mergedAffinity = .Values.kubecost.affinity }}
        {{- end }}
        {{- if .Values.imagePullSecrets }}
        imagePullSecrets:
          {{- toYaml .Values.imagePullSecrets | nindent 12 }}
        {{- end }}
        global:
          grafana:
            enabled: false
            proxy: false
          prometheus:
            fqdn: http://prometheus-operated.prometheus.svc.cluster.local:9090/
            enabled: false
        serviceMonitor:
          enabled: true
          additionalLabels:
            release: prometheus
        diagnostics:
          enabled: true
        networkCosts:
          enabled: false
        kubecostMetrics:
          exporter:
            enabled: false
            prometheusScrape: false
        forecasting:
          enabled: false
        kubecostFrontend:
          {{- if .Values.registry }}
          image: {{ .Values.registry }}/kubecost1/frontend
          {{- end }}
          resources:
            limits:
              cpu: 100m
              memory: 256Mi
            requests:
              cpu: 10m
              memory: 55Mi
        kubecostAggregator:
          cloudCost:
            resources:
              limits:
                cpu: 200m
                memory: 512Mi
              requests:
                cpu: 50m
                memory: 128Mi
          resources:
            limits:
              cpu: 800m
              memory: 4Gi
            requests:
              cpu: 200m
              memory: 3Gi
        kubecostModel:
          {{- if .Values.registry }}
          image: {{ .Values.registry }}/kubecost1/cost-model
          {{- end }}
          resources:
            limits:
              cpu: 256m
              memory: 1024Mi
            requests:
              cpu: 128m
              memory: 512Mi
        server:
          {{- if $mergedTolerations }}
          tolerations:
            {{- toYaml $mergedTolerations | nindent 14 }}
          {{- end }}
          {{- if $mergedAffinity }}
          affinity:
            {{- toYaml $mergedAffinity | nindent 14 }}
          {{- end }}

        {{- if $mergedTolerations }}
        tolerations:
          {{- toYaml $mergedTolerations | nindent 14 }}
        {{- end }}
        {{- if $mergedAffinity }}
        affinity:
          {{- toYaml $mergedAffinity | nindent 14 }}
        {{- end }}
      {{- end }}
  syncPolicy:
    automated: {}
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
{{- end }}
