{{- if .Values.tfyAgent.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: tfy-agent
  finalizers:
  - resources-finalizer.argocd.argoproj.io
  labels:
    truefoundry.com/infra-component: "tfy-agent"
  annotations:
    helm.sh/resource-policy: {{ .Values.helm.resourcePolicy }}
spec:
  destination:
    namespace: tfy-agent
    server: https://kubernetes.default.svc
  project: tfy-apps
  source:
    targetRevision: 0.2.84
    repoURL: https://truefoundry.github.io/infra-charts/
    chart: tfy-agent
    helm:
      values: |-
        {{- if .Values.tfyAgent.valuesOverride }}
        {{ .Values.tfyAgent.valuesOverride | toYaml | nindent 8 }}
        {{- else }}

        {{- $mergedTolerations := .Values.tolerations }}
        {{- if .Values.tfyAgent.tolerations }}
        {{- $mergedTolerations = .Values.tfyAgent.tolerations }}
        {{- end }}

        {{- $mergedAffinity := .Values.affinity }}
        {{- if .Values.tfyAgent.affinity }}
        {{- $mergedAffinity = .Values.tfyAgent.affinity }}
        {{- end }}

        config:
          clusterToken: {{ .Values.tfyAgent.clusterToken }}
          tenantName: {{ .Values.tenantName }}
          controlPlaneURL: {{ .Values.controlPlaneURL }}
          clusterTokenSecret: {{ .Values.tfyAgent.clusterTokenSecret }}
        tfyAgent:
          {{- if .Values.registry }}
          image:
            registry: {{ .Values.registry }}/tfy-images/tfy-agent
          {{- end }}
          {{- if .Values.imagePullSecrets }}
          imagePullSecrets:
            {{- toYaml .Values.imagePullSecrets | nindent 12 }}
          {{- end }}
          resources:
            limits:
              cpu: 500m
              memory: 1024Mi
              ephemeral-storage: 256Mi
            requests:
              cpu: 300m
              memory: 512Mi
              ephemeral-storage: 128Mi
          {{- if $mergedTolerations }}
          tolerations:
            {{- toYaml $mergedTolerations | nindent 12 }}
          {{- end }}
          {{- if $mergedAffinity }}
          affinity:
            {{- toYaml $mergedAffinity | nindent 12 }}
          {{- end }}
        tfyAgentProxy:
          {{- if .Values.registry }}
          image:
            registry: {{ .Values.registry }}/tfy-images/tfy-agent-proxy
          {{- end }}
          {{- if .Values.imagePullSecrets }}
          imagePullSecrets:
            {{- toYaml .Values.imagePullSecrets | nindent 12 }}
          {{- end }}
          resources:
            limits:
              cpu: 500m
              memory: 512Mi
              ephemeral-storage: 256Mi
            requests:
              cpu: 50m
              memory: 128Mi
              ephemeral-storage: 128Mi
          {{- if $mergedTolerations }}
          tolerations:
            {{- toYaml $mergedTolerations | nindent 12 }}
          {{- end }}
          {{- if $mergedAffinity }}
          affinity:
            {{- toYaml $mergedAffinity | nindent 12 }}
          {{- end }}
        sdsServer:
          {{- if .Values.registry }}
          image:
            registry: {{ .Values.registry }}/tfy-images/sds-server
          {{- end }}
          {{- if .Values.imagePullSecrets }}
          imagePullSecrets:
            {{- toYaml .Values.imagePullSecrets | nindent 12 }}
          {{- end }}
          resources:
            limits:
              cpu: 200m
              ephemeral-storage: 20M
              memory: 50M
            requests:
              cpu: 100m
              ephemeral-storage: 10M
              memory: 30M
          {{- if $mergedTolerations }}
          tolerations:
            {{- toYaml $mergedTolerations | nindent 12 }}
          {{- end }}
          {{- if $mergedAffinity }}
          affinity:
            {{- toYaml $mergedAffinity | nindent 12 }}
          {{- end }}
        {{- end }}
  syncPolicy:
    automated: {}
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
{{- end }}
