{{- if .Values.serviceMonitors.kubeStateMetrics.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ .Values.serviceMonitors.kubeStateMetrics.name }}
  labels:
    {{- include "kubeStateMetrics.labels" . | nindent 4 }}
spec:
  endpoints:
  {{- toYaml .Values.serviceMonitors.kubeStateMetrics.endpoints | nindent 2 }}
  jobLabel: {{ .Values.serviceMonitors.kubeStateMetrics.jobLabel }}
  selector:
    matchLabels:
      {{- toYaml .Values.serviceMonitors.kubeStateMetrics.serviceSelectorLabels | nindent 6 }}
{{- end }}