{{- if .Values.serviceMonitors.kubelet.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ .Values.serviceMonitors.kubelet.name }}
  labels:
    {{- include "kubelet.serviceMonitorLabels" . | nindent 4 }}
  annotations:
    {{- include "kubelet.annotations" . | nindent 4 }}
spec:
  jobLabel: {{ .Values.serviceMonitors.kubelet.jobLabel }}
  attachMetadata:
    node: false
  endpoints:
  {{- toYaml .Values.serviceMonitors.kubelet.endpoints | nindent 2 }}
  namespaceSelector:
    {{- toYaml .Values.serviceMonitors.kubelet.namespaceSelector | nindent 4 }}
  selector:
    matchLabels:
      {{- toYaml .Values.serviceMonitors.kubelet.serviceSelectorLabels | nindent 6 }}
{{- end -}}