{{- if .Values.serviceMonitors.nodeExporter.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ .Values.serviceMonitors.nodeExporter.name }}
  labels:
    {{- include "nodeExporter.serviceMonitorLabels" . | nindent 4 }}
  annotations:
    {{- include "nodeExporter.annotations" . | nindent 4 }}
spec:
  jobLabel: {{ .Values.serviceMonitors.nodeExporter.jobLabel }}
  attachMetadata:
    node: false
  endpoints:
  {{- toYaml .Values.serviceMonitors.nodeExporter.endpoints | nindent 2 }}
  namespaceSelector:
    {{- toYaml .Values.serviceMonitors.nodeExporter.namespaceSelector | nindent 4 }}
  selector:
    matchLabels:
      {{- toYaml .Values.serviceMonitors.nodeExporter.serviceSelectorLabels | nindent 6 }}
{{- end -}}