{{- if .Values.alertManagers.tfyAgent.enabled }}
apiVersion: monitoring.coreos.com/v1alpha1
kind: AlertmanagerConfig
metadata:
  name: {{ .Values.alertManagers.tfyAgent.name }}
  labels:
    {{- include "tfy-agent.labels" . | nindent 4 }}
  annotations:
    {{- include "tfy-agent.annotations" . | nindent 4 }}
spec:
  route:
    receiver: {{ .Values.alertManagers.tfyAgent.route.receiver }}
    routes:
      {{- toYaml .Values.alertManagers.tfyAgent.route.routes | nindent 4 }}
  receivers:
    {{- toYaml .Values.alertManagers.tfyAgent.receivers | nindent 2 }}
{{- end }}