{{- if .Values.scheduler.enabled }}
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ .Release.Name }}-scheduler-extension
rules:
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - nodes/status
  verbs:
  - update
  - patch
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - update
  - patch
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - bindings
  - pods/binding
  verbs:
  - create
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Release.Name }}-scheduler-extension
  namespace: {{ .Release.Namespace }}
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ .Release.Name }}-scheduler-extension
  namespace: {{ .Release.Namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ .Release.Name }}-scheduler-extension
subjects:
- kind: ServiceAccount
  name: {{ .Release.Name }}-scheduler-extension
  namespace: {{ .Release.Namespace }}
---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: {{ .Release.Name }}-scheduler-extension
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
        app: {{ .Release.Name }}-scheduler
        component: scheduler-extension
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-scheduler
        component: scheduler-extension
    spec:
      {{- with .Values.scheduler.extension.imagePullSecrets }}
      imagePullSecrets:
        {{- tpl (toYaml .) $ | nindent 8 }}
      {{- end }}
      priorityClassName: system-cluster-critical
      serviceAccountName: {{ .Release.Name }}-scheduler-extension
      schedulerName: {{ .Values.scheduler.schedulerName }} 
      tolerations:
      {{- range .Values.scheduler.extension.tolerations }}
        - {{ . | toYaml | nindent 10 | trim }}
      {{- else }}
        []
      {{- end }}
      affinity:
        {{- toYaml (index .Values "scheduler" "extension" "affinity") | nindent 8 }}
      containers:
        - name: scheduler-exp
          image: {{ .Values.scheduler.extension.image }}
          resources:
            {{- toYaml (index .Values "scheduler" "extension" "resources") | nindent 12 }}
          env:
          - name: PORT
            value: "12345"

# service.yaml            
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-scheduler-extension
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Release.Name }}-scheduler
    component: scheduler-extension
spec:
  ports:
  - port: 12345
    name: http
    targetPort: 12345
  selector:
    app: {{ .Release.Name }}-scheduler
    component: scheduler-extension   
{{- end }}
