{{- if and .Values.monitoring.enabled .Values.monitoring.alertManager.enabled .Values.monitoring.alertManager.secret.create }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.monitoring.alertManager.secret.name }}
  namespace: {{ include "global.namespace" . }}
  labels:
    {{- include "monitoring.secretLabels" . | nindent 4 }}
    release: prometheus
  annotations:
    {{- include "monitoring.secretAnnotations" . | nindent 4 }}
type: Opaque
data:
  {{- with .Values.monitoring.alertManager.secret.data }}
  {{- toYaml . | nindent 2 }}
  {{- end }}
{{- end }}
