{{- if .Values.argoRollouts.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argo-rollout
  finalizers:
  - resources-finalizer.argocd.argoproj.io
  labels:
    truefoundry.com/infra-component: "argo-rollout"
    truefoundry.com/infra-migration-tag: "1000"
spec:
  destination:
    namespace: argo-rollouts
    server: https://kubernetes.default.svc
  project: tfy-apps
  source:
    chart: argo-rollouts
    repoURL: https://argoproj.github.io/argo-helm
    targetRevision: 2.37.6
    helm:
      values: |-
        {{- if .Values.argoRollouts.valuesOverride }}
        {{ .Values.argoRollouts.valuesOverride | toYaml | nindent 8 }}
        {{- else }}
        {{- $mergedTolerations := .Values.tolerations }}
        {{- if .Values.argoRollouts.tolerations }}
        {{- $mergedTolerations = .Values.argoRollouts.tolerations }}
        {{- end }}

        {{- $mergedAffinity := .Values.affinity }}
        {{- if .Values.argoRollouts.affinity }}
        {{- $mergedAffinity = .Values.argoRollouts.affinity }}
        {{- end }}
        controller:
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
              ephemeral-storage: 256Mi
            limits:
              cpu: 400m
              memory: 512Mi
              ephemeral-storage: 512Mi
          {{- if $mergedTolerations }}
          tolerations:
            {{- toYaml $mergedTolerations | nindent 14 }}
          {{- end }}
          {{- if $mergedAffinity }}
          affinity:
            {{- toYaml $mergedAffinity | nindent 14 }}
          {{- end }}
        {{- end }}
  syncPolicy:
    automated: {}
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
{{- end }}
