{{- if .Values.keda.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: keda
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  labels:
    truefoundry.com/infra-component: "keda"
  annotations:
    helm.sh/resource-policy: {{ .Values.helm.resourcePolicy }}
spec:
  destination:
    namespace: keda
    server: https://kubernetes.default.svc
  project: tfy-apps
  source:
    chart: keda
    repoURL: "https://kedacore.github.io/charts"
    targetRevision: 2.17.1
    helm:
      values: |-
        {{- if .Values.keda.valuesOverride }}
        {{ .Values.keda.valuesOverride | toYaml | nindent 8 }}
        {{- else }}
        {{- $mergedTolerations := .Values.tolerations }}
        {{- if .Values.keda.tolerations }}
        {{- $mergedTolerations = .Values.keda.tolerations }}
        {{- end }}

        {{- $mergedAffinity := .Values.affinity }}
        {{- if .Values.keda.affinity }}
        {{- $mergedAffinity = .Values.keda.affinity }}
        {{- end }}
        {{- if .Values.registry }}
        global:
          image:
            registry: {{ .Values.registry }}
        {{- end }}
        {{- if .Values.imagePullSecrets }}
        imagePullSecrets:
          {{- toYaml .Values.imagePullSecrets | nindent 12 }}
        {{- end }}
        resources:
          operator:
            requests:
              cpu: 200m
              memory: 256Mi
              ephemeral-storage: 256Mi
            limits:
              cpu: 400m
              memory: 512Mi
              ephemeral-storage: 512Mi
          webhooks:
            requests:
              cpu: 100m
              memory: 40Mi
              ephemeral-storage: 256Mi
            limits:
              cpu: 200m
              memory: 80Mi
              ephemeral-storage: 512Mi
          metricServer:
            requests:
              cpu: 600m
              memory: 256Mi
              ephemeral-storage: 256Mi
            limits:
              cpu: 1.2 
              memory: 512Mi
              ephemeral-storage: 512Mi
        prometheus:
          operator:
            enabled: true
            serviceMonitor:
              enabled: true
              additionalLabels:
                release: prometheus
        {{- if $mergedTolerations }}
        tolerations:
          {{- toYaml $mergedTolerations | nindent 14 }}
        {{- end }}
        {{- if $mergedAffinity }}
        affinity:
          {{- toYaml $mergedAffinity | nindent 14 }}
        {{- end }}
      {{- end }}
  syncPolicy:
    automated: {}
    syncOptions:
      - RespectIgnoreDifferences=true
      - CreateNamespace=true
      - ServerSideApply=true
{{- end }}
