apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "buildkitd-service.fullname" . }}-config
  namespace: {{ include "global.namespace" . }}
  labels:
    {{- include "buildkitd-service.commonLabels" . | nindent 4 }}
  annotations:
    {{- include "buildkitd-service.commonAnnotations" . | nindent 4 }}
data:
  buildkitd.toml: |
    {{- .Values.buildkitConfig | nindent 4 }}
