apiVersion: v1
kind: Service
metadata:
  name: {{ include "buildkitd-service.fullname" . }}
  labels:
    {{- include "buildkitd-service.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.port }}
      protocol: TCP
      name: grpc-buildkit
  selector:
    {{- include "buildkitd-service.selectorLabels" . | nindent 4 }}
