{{- if .Values.tfyController.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "tfy-controller.fullname" . }}
  labels:
    {{- include "tfy-controller.deploymentLabels" . | nindent 4 }}
  annotations:
    {{- include "tfy-controller.deploymentAnnotations" . | nindent 4 }}
spec:
  replicas: {{- include "tfy-controller.replicas" . | indent 1 }}
  selector:
    matchLabels:
      {{- include "truefoundry.selectorLabels" (dict "context" . "name" "tfy-controller") | nindent 6 }}
  template:
    metadata:
      annotations:
        {{- include "tfy-controller.podAnnotations" . | nindent 8 }}
      labels:
        {{- include "tfy-controller.podLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "tfy-controller.serviceAccountName" . }}
      {{- with .Values.tfyController.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: "tfy-controller"
          {{- with .Values.tfyController.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          env:
            {{- include "tfy-controller.env" . | trim | nindent 12 }}
          image: "{{ .Values.tfyController.image.registry | default .Values.global.image.registry }}/{{ .Values.tfyController.image.repository }}:{{ .Values.tfyController.image.tag }}"
          imagePullPolicy: {{ .Values.tfyController.imagePullPolicy }}
          ports:
            - name: port-{{ .Values.tfyController.service.port }}
              containerPort: {{ .Values.tfyController.service.port }}
              protocol: TCP
          resources:
            {{- include "tfy-controller.resources" . | indent 12 }}
          livenessProbe:
            httpGet:
              path: /healthy
              port: {{ .Values.tfyController.service.port }}
              scheme: HTTP
            failureThreshold: {{ .Values.tfyController.livenessProbe.failureThreshold }}
            initialDelaySeconds: {{ .Values.tfyController.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.tfyController.livenessProbe.periodSeconds }}
            successThreshold: {{ .Values.tfyController.livenessProbe.successThreshold }}
            timeoutSeconds: {{ .Values.tfyController.livenessProbe.timeoutSeconds }}
          readinessProbe:
            failureThreshold: {{ .Values.tfyController.readinessProbe.failureThreshold }}
            initialDelaySeconds: {{ .Values.tfyController.readinessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.tfyController.readinessProbe.periodSeconds }}
            successThreshold: {{ .Values.tfyController.readinessProbe.successThreshold }}
            timeoutSeconds: {{ .Values.tfyController.readinessProbe.timeoutSeconds }}
            httpGet:
              path: /healthy
              port: {{ .Values.tfyController.service.port }}
              scheme: HTTP
      imagePullSecrets:
        {{- include "tfy-controller.imagePullSecrets" . | nindent 8 }}
      topologySpreadConstraints:
        {{- if .Values.tfyController.topologySpreadConstraints }}
        {{- toYaml .Values.tfyController.topologySpreadConstraints | nindent 8 }}
        {{- else }}
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: ScheduleAnyway
          labelSelector:
            matchLabels:
              {{- include "truefoundry.selectorLabels" (dict "context" . "name" "tfy-controller") | nindent 14 }}
        {{- end }}
      {{- $mergedNodeSelector := mergeOverwrite (deepCopy .Values.global.nodeSelector) (deepCopy .Values.tfyController.nodeSelector) }}
      {{- if $mergedNodeSelector }}
      nodeSelector:
        {{- toYaml $mergedNodeSelector | nindent 8 }}
      {{- end }}
      {{- $mergedAffinity := dict | merge .Values.tfyController.affinity .Values.global.affinity }}
      {{- if $mergedAffinity }}
      affinity:
      {{- toYaml $mergedAffinity | nindent 8 }}
      {{- end }}
      tolerations:
        {{- .Values.global.tolerations | toYaml | nindent 8 }}
        {{- if .Values.tfyController.tolerations }}
        {{- .Values.tfyController.tolerations | toYaml | nindent 8 }}
        {{- end }}
{{- end }}
