apiVersion: v1
kind: Service
metadata:
  name: {{ include "tfy-controller.fullname" . }}
  labels: {{- include "tfy-controller.labels" . | nindent 4 }}
spec:
  type: {{ .Values.tfyController.service.type }}
  ports:
    - port: {{ .Values.tfyController.service.port }}
      targetPort: {{ .Values.tfyController.service.port }}
      protocol: TCP
      name: port-{{ .Values.tfyController.service.port }}
  selector: {{- include "tfy-controller.selectorLabels" . | nindent 4 }}
