{{- if and .Values.tfyController.enabled .Values.tfyController.serviceAccount.create .Values.tfyController.serviceAccount.name }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "tfy-controller.serviceAccountName" . }}
  namespace: {{ include "global.namespace" . }}
  labels:
    {{- include "tfy-controller.serviceAccountLabels" . | nindent 4 }}
  annotations:
    {{- include "tfy-controller.serviceAccountAnnotations" . | nindent 4 }}
{{- if hasKey .Values.tfyController.serviceAccount "automountServiceAccountToken" }}
automountServiceAccountToken: {{ .Values.tfyController.serviceAccount.automountServiceAccountToken }}
{{- end }}
{{- end }}
