{{- if .Values.tfyController.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "tfy-controller.fullname" . }}
  namespace: {{ include "global.namespace" . }}
  labels:
    {{- include "tfy-controller.serviceLabels" . | nindent 4 }}
  annotations:
    {{- include "tfy-controller.serviceAnnotations" . | nindent 4 }}
spec:
  type: {{ .Values.tfyController.service.type }}
  ports:
    - port: {{ .Values.tfyController.service.port }}
      targetPort: {{ .Values.tfyController.service.port }}
      protocol: TCP
      name: port-{{ .Values.tfyController.service.port }}
  selector: {{- include "truefoundry.selectorLabels" (dict "context" . "name" "tfy-controller") | nindent 4 }}
{{- end }}
