{{- if .Values.podVolumeMounts.enabled }}
apiVersion: policy.jspolicy.com/v1beta1
kind: JsPolicy
metadata:
  name: {{ .Release.Name }}-pod-volume-mounts.truefoundry.com
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "tfy-jspolicy-configs.labels" . | nindent 4 }}
  annotations:
    {{- include "tfy-jspolicy-configs.annotations" . | nindent 4 }}
spec:
  type: Mutating
  operations: ["CREATE", "UPDATE"]
  resources: ["pods"]
  failurePolicy: Ignore
  dependencies:
    "js-yaml": "^4.1.0"
  javascript: |
    // this policy will add volume mounts to the pod if the pod has a volume mount with the same name as the secret
    import { load } from 'js-yaml';
    
    function parseYamlString(yamlString) {
      try {
        return load(yamlString);
      } catch (e) {
        console.log("Error parsing YAML string:", e);
        return null;
      }
    }

    // get the namespaces from the input namespaces. If inputNamespace is a string, return the string. If inputNamespace is an array, return the array. If inputNamespace is a regex, return the namespaces that match the regex. Only basic regex is supported.
    function getNamespaces(inputNamespace) {
      let namespaceList = [];
      let filteredNamespaces = [];
      const allNamespaces = list("Namespace", "v1").map(namespace => namespace.metadata.name);
      for (let i in inputNamespace) {
        if (inputNamespace[i] === "*") {
          namespaceList = allNamespaces;
          break;
        }
        if (inputNamespace[i].includes("*")) {
          const regex = new RegExp(inputNamespace[i]);
          filteredNamespaces = allNamespaces.filter(namespace => regex.test(namespace));
          namespaceList = [...namespaceList, ...filteredNamespaces];
        } else {
          namespaceList.push(inputNamespace[i]);
        }
      }
      return namespaceList;
    }

    const inputExcludedNamespaces = parseYamlString(`{{ .Values.podVolumeMounts.excludeNamespaces | toYaml | nindent 4 }}`);
    const inputInlcudedNamespaces = parseYamlString(`{{ .Values.podVolumeMounts.includeNamespaces | toYaml | nindent 4 }}`)
    const includedNamespaces = getNamespaces(inputInlcudedNamespaces);
    const excludedNamespaces = getNamespaces(inputExcludedNamespaces);
    print("includedNamespaces", includedNamespaces);
    print("excludedNamespaces", excludedNamespaces);
    const mountDetails = parseYamlString(`{{ .Values.podVolumeMounts.mountDetails | toYaml | nindent 4 }}`);
    if ((includedNamespaces.length > 0 && !includedNamespaces.includes(request.namespace)) || excludedNamespaces.includes(request.namespace) || mountDetails.length < 0) {
      exit()
    }
    print("Adding volume mounts to the pod " + request.object.metadata.name + " in namespace " + request.namespace);
    // add the volumes to the pod
    let podVolumes = request.object.spec.volumes || [];
    mountDetails.forEach(mountDetail => {
      if (mountDetail.type === "secret") {
        // skip if the volume already exists, volume name is same as secret name
        if (podVolumes.find(volume => volume.name === mountDetail.secretName)) {
          print("Volume " + mountDetail.secretName + " already exists in the pod " + request.object.metadata.name + " in namespace " + request.namespace + ". Skipping...");
          return;
        }
        print("Adding volume " + mountDetail.secretName + " to the pod " + request.object.metadata.name + " in namespace " + request.namespace);
        if (request.object.spec.volumes === undefined) {
          request.object.spec.volumes = [];
        }
        request.object.spec.volumes.push({
          name: mountDetail.secretName,
          secret: {
            secretName: mountDetail.secretName
          }
        });
      }
      if (mountDetail.type === "configMap") {
        // skip if the volume already exists, volume name is same as secret name
        if (podVolumes.find(volume => volume.name === mountDetail.configMapName)) {
          print("Volume " + mountDetail.configMapName + " already exists in the pod " + request.object.metadata.name + " in namespace " + request.namespace + ". Skipping...");
          return;
        }
        print("Adding volume " + mountDetail.configMapName + " to the pod " + request.object.metadata.name + " in namespace " + request.namespace);
        if (request.object.spec.volumes === undefined) {
          request.object.spec.volumes = [];
        }
        request.object.spec.volumes.push({
          name: mountDetail.configMapName,
          configMap: {
            name: mountDetail.configMapName
          }
        });
      }

      let containers = request.object.spec.containers || [];
      let initContainers = request.object.spec.initContainers || [];
      [...containers, ...initContainers].forEach(container => {
        let volumeName = "";
        if (mountDetail.type === "secret") {
          volumeName = mountDetail.secretName;
        }
        if (mountDetail.type === "configMap") {
          volumeName = mountDetail.configMapName;
        }
        if (volumeName === "") {
          print("Invalid volume mount details: " + JSON.stringify(mountDetail));
          exit();
        }

        if (!container.volumeMounts) {
          container.volumeMounts = [];
        }
        // skip if the volume mount already exists
        if (container.volumeMounts.find(volumeMount => volumeMount.name === volumeName)) {
          print("Volume mount " + volumeName + " already exists in the container " + container.name + " in the pod " + request.object.metadata.name + " in namespace " + request.namespace + ". Skipping...");
          return;
        }
        print("Adding volume mount " + volumeName + " to the container " + container.name + " in the pod " + request.object.metadata.name + " in namespace " + request.namespace);
        print("Mount details: " + JSON.stringify(mountDetail));
        if (container.volumeMounts === undefined) {
          container.volumeMounts = [];
        }
        container.volumeMounts.push({
          name: volumeName,
          mountPath: mountDetail.mountPath,
          subPath: mountDetail.subPath || "",
          readOnly: true
          });
      });
    });
    mutate(request.object);
    print("Done adding volume mounts to the pod " + request.object.metadata.name + " in namespace " + request.namespace);
{{- end }}