{{- if .Values.replaceArgoHelmRepo.enabled -}}
apiVersion: policy.jspolicy.com/v1beta1
kind: JsPolicy
metadata:
  name: {{ .Release.Name }}-replace-argo-helm-repo.truefoundry.com
  namespace: {{ .Release.Namespace }}
spec:
  type: Mutating
  operations: ["CREATE", "UPDATE"]
  resources: ["applications"]
  apiGroups: ["argoproj.io"]
  apiVersions: ["v1alpha1"]
  failurePolicy: Ignore
  dependencies:
    "js-yaml": "^4.1.0"
  javascript: |
    import { load } from 'js-yaml';

    const excludedNamespaces = parseYamlString(`{{ .Values.replaceArgoHelmRepo.excludeNamespaces | toYaml | nindent 4 }}`)
    const includedNamespaces = parseYamlString(`{{ .Values.replaceArgoHelmRepo.includeNamespaces | toYaml | nindent 4 }}`)
    const registryReplacementMap = parseYamlString(`{{ .Values.replaceArgoHelmRepo.registryReplacementMap | toYaml | nindent 4 }}`)
    if ((includedNamespaces.length > 0 && !includedNamespaces.includes(request.namespace)) || excludedNamespaces.includes(request.namespace) || !registryReplacementMap) {
      exit()
    }

    function parseYamlString(yamlString) {
      try {
        return load(yamlString);
      } catch (e) {
        console.log("Error parsing YAML string:", e);
        return null;
      }
    }

    function getNewRegistry(protocol, hostname) {
      const completeHostname = protocol + '//' + hostname;
      let newRegistry = registryReplacementMap[completeHostname] || registryReplacementMap['*'] || null;
      if (!newRegistry) {
        return
      }
      return newRegistry;
    }

    if (!request.object.spec.source.helm) {
      exit()
    }
    const repoURLString = request.object.spec.source.repoURL;
    let normalizedRepoURL = repoURLString;
    if (!repoURLString.match(/^[a-zA-Z][a-zA-Z\d+\-.]*:/)) {
      normalizedRepoURL = "oci://" + repoURLString;
    }
    const urlParts = normalizedRepoURL.split('/');
    const protocol = urlParts[0];
    const hostname = urlParts[2];

    let newRegistry = getNewRegistry(protocol, hostname);
    if (!newRegistry) {
      exit()
    }
    // oci registry url should not have protocol
    if (newRegistry.startsWith('oci://')) {
      newRegistry = newRegistry.replace('oci://', '');
    }
    if (repoURLString.startsWith(newRegistry)) {
      console.log('Repo URL already has the new registry');
      exit()
    }

    let newRepoURL = normalizedRepoURL.replace(`${protocol}//${hostname}`, newRegistry);
    if (newRepoURL.endsWith('/')) {
      newRepoURL = newRepoURL.slice(0, -1);
    }
    request.object.spec.source.repoURL = newRepoURL;
    mutate(request.object);
{{- end -}}