{{- if .Values.syncConfigMaps.enabled -}}
apiVersion: policy.jspolicy.com/v1beta1
kind: JsPolicy
metadata:
  name: "{{ .Release.Name }}-sync-configmaps.truefoundry.com"
  labels:
    {{- include "tfy-jspolicy-configs.labels" . | nindent 4 }}
  annotations:
    {{- include "tfy-jspolicy-configs.annotations" . | nindent 4 }}
spec:
  operations: ["CREATE"]
  resources: ["configMaps"]
  dependencies:
    "js-yaml": "^4.1.0"
  type: Controller
  javascript: |
    // this policy will sync changes to a configmap to all other configmaps in the cluster
    // that have labels in syncConfigMaps.labelSelector
    import { load } from 'js-yaml';

    function parseYamlString(yamlString) {
      try {
        return load(yamlString);
      } catch (e) {
        console.log("Error parsing YAML string:", e);
        return null;
      }
    }
    
    const allNamespaces = list("Namespace", "v1").map(namespace => namespace.metadata.name);

    // get the namespaces from the input namespaces. If inputNamespace is a string, return the string. If inputNamespace is an array, return the array. If inputNamespace is a regex, return the namespaces that match the regex. Only basic regex is supported.
    function getNamespaces(inputNamespace) {
      let namespaceList = [];
      let filteredNamespaces = [];
      for (let i in inputNamespace) {
        if (inputNamespace[i] === "*") {
          namespaceList = allNamespaces;
          break;
        }
        if (inputNamespace[i].includes("*")) {
          const regex = new RegExp(inputNamespace[i]);
          filteredNamespaces = allNamespaces.filter(namespace => regex.test(namespace));
          namespaceList = [...namespaceList, ...filteredNamespaces];
        } else {
          namespaceList.push(inputNamespace[i]);
        }
      }
      return namespaceList;
    }

    const inputExcludedNamespaces = parseYamlString(`{{ .Values.syncConfigMaps.excludeNamespaces | toYaml | nindent 4 }}`);
    const inputInlcudedNamespaces = parseYamlString(`{{ .Values.syncConfigMaps.includeNamespaces | toYaml | nindent 4 }}`);
    const includedNamespaces = getNamespaces(inputInlcudedNamespaces);
    const excludedNamespaces = getNamespaces(inputExcludedNamespaces);
    print("includedNamespaces", includedNamespaces);
    print("excludedNamespaces", excludedNamespaces);
    const configMapNames = parseYamlString(`{{ .Values.syncConfigMaps.configMapNames | toYaml | nindent 4 }}`);
    if ((includedNamespaces.length > 0 && !includedNamespaces.includes(request.namespace)) || excludedNamespaces.includes(request.namespace) || configMapNames.length < 0) {
      exit();
    }

    // sync a configmaps to all namespaces in includedNamespaces
    function syncConfigMapToAllIncludedNamespaces(parentConfigMapObject) {
      includedNamespaces.forEach(namespace => {
        if (!allNamespaces.includes(namespace)) {
          print("Skipping creating configmap " + parentConfigMapObject.metadata.name + " in namespace " + namespace + " as it doesn't exists ...");
          return;
        }
        if (excludedNamespaces.includes(namespace)){
          return;
        }

        // skip if the current namespace is the same as the parentConfigMap's namespace
        if (parentConfigMapObject.metadata.namespace === namespace) {
          return;
        }
        print("Syncing configmaps " + parentConfigMapObject.metadata.name + " to namespace: " + namespace);
        let configmap = get("ConfigMap", "v1", namespace + "/" + parentConfigMapObject.metadata.name);
        if (configmap === undefined) {
          print("configmap not found, creating configmap " + parentConfigMapObject.metadata.name + " in namespace: " + namespace);
          configmap = create({
            "kind": "ConfigMap",
            "apiVersion": "v1",
            "metadata": {
              "name": parentConfigMapObject.metadata.name,
              "namespace": namespace
            },
            "data": parentConfigMapObject.data
          });
          print("Successfully created configmap " + configmap.metadata.namespace + "/" + configmap.metadata.name);
        } else if (JSON.stringify(configmap.data) === JSON.stringify(parentConfigMapObject.data)) {
          print("ConfigMap " + parentConfigMapObject.metadata.name + " already exists in the namespace " + namespace + " and is the same, skipping");
        } else {
          print("ConfigMap " + parentConfigMapObject.metadata.name + " already exists in the namespace " + namespace + " and is different, updating");
          configmap.data = parentConfigMapObject.data;
          const updateResult = update(configmap);
          if (!updateResult.ok) {
            // just requeue if we encounter an error
            requeue(updateResult.message);
          } else {
            print(`Successfully synced configmap ${configmap.metadata.namespace}/${configmap.metadata.name}`);
          }
        }
        return;       
      })
    }


    configMapNames.forEach(configMapName => {
      let parentConfigMap = get("ConfigMap", "v1", configMapName);
      if (!parentConfigMap) {
        print("configmap '" + configMapName + "'' is not found");
        return;
      }
      print("Syncing configmap "+ configMapName + " in namespaces...")
      syncConfigMapToAllIncludedNamespaces(parentConfigMap);
    });
{{- end -}}