## @section Global parameters
## @param global.rbac.enabled Enable RBAC globally
##
global:
  rbac:
    enabled: true

## @section gateway Configuration for the Gateway component.
##
gateway:
  ## @param gateway.autoscaling.minReplicas Minimum number of replicas for autoscaling the Gateway.
  ##
  autoscaling:
    minReplicas: 3
  ## Service configuration for the Gateway.
  ##
  service:
      ## @param gateway.service.ports[0].name Name of the port.
      ## @param gateway.service.ports[0].port Port number.
      ## @param gateway.service.ports[0].protocol Protocol of the port.
      ## @param gateway.service.ports[0].targetPort Target port.
      ##
      ## @param gateway.service.ports[1].name Name of the port.
      ## @param gateway.service.ports[1].port Port number.
      ## @param gateway.service.ports[1].protocol Protocol of the port.
      ## @param gateway.service.ports[1].targetPort Target port.
      ##
      ## @param gateway.service.ports[2].name Name of the port.
      ## @param gateway.service.ports[2].port Port number.
      ## @param gateway.service.ports[2].protocol Protocol of the port.
      ## @param gateway.service.ports[2].targetPort Target port.
      ##
    ports:
      - name: status-port
        port: 15021
        protocol: TCP
        targetPort: 15021
      - name: http2
        port: 80
        protocol: TCP
        targetPort: 80
      - name: https
        port: 443
        protocol: TCP
        targetPort: 443

## @section tfyGateway Configuration for the tfyGateway.
##
tfyGateway:
  ## @param tfyGateway.name Name of the tfyGateway.
  ##
  name: ''
  spec:
    selector:
      ## @param tfyGateway.spec.selector.istio Selector to enable istio for tfyGateway
      istio: '{{ .Release.Name }}'
    servers:
      ## @param tfyGateway.spec.servers[0].hosts List of hosts for the first server.
      ##
      - hosts: []
        ## Configuration for the port of the first server.
        ##
        ## @param tfyGateway.spec.servers[0].port.name Name of the port.
        ##
        ## @param tfyGateway.spec.servers[0].port.number Port number.
        ##
        ## @param tfyGateway.spec.servers[0].port.protocol Protocol of the port.
        ##
        ## @param tfyGateway.spec.servers[0].port.tls.httpsRedirect TLS configuration for the port.
        ##
        port:
          name: http-tfy-wildcard
          number: 80
          protocol: HTTP
          tls:
            httpsRedirect: true
      ## @param tfyGateway.spec.servers[1].hosts List of hosts for the second server.
      ##
      - hosts: []
        ## Configuration for the port of the second server.
        ##
        ## @param tfyGateway.spec.servers[1].port.name Name of the port.
        ##
        ## @param tfyGateway.spec.servers[1].port.number Port number.
        ##
        ## @param tfyGateway.spec.servers[1].port.protocol Protocol of the port.
        ##
        port:
          name: https-tfy-wildcard
          number: 443
          protocol: HTTPS