{{- if and .Values.serviceAccount.create .Values.serviceAccount.name -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "tfy-otel-collector.serviceAccountName" . }}
  namespace: {{ include "global.namespace" . }}
  labels:
    {{- include "tfy-otel-collector.serviceAccountLabels" . | nindent 4 }}
  annotations:
    {{- include "tfy-otel-collector.serviceAccountAnnotations" . | nindent 4 }}
{{- if hasKey .Values.serviceAccount "automountServiceAccountToken" }}
automountServiceAccountToken: {{ .Values.serviceAccount.automountServiceAccountToken }}
{{- end }}
{{- end }}
