apiVersion: v1
kind: Service
metadata:
  name: {{ include "tfy-otel-collector.fullname" . }}
  namespace: {{ include "global.namespace" . }}
  labels:
    {{- include "tfy-otel-collector.serviceLabels" . | nindent 4 }}
  annotations:
    {{- include "tfy-otel-collector.serviceAnnotations" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.port }}
      protocol: TCP
      name: http
    - port: 4317
      targetPort: 4317
      protocol: TCP
      name: grpc
    - port: 8888
      targetPort: 8888
      protocol: TCP
      name: metrics
    - port: 3000
      targetPort: 3000
      protocol: TCP
      name: healthcheck
  selector:
    {{- include "tfy-otel-collector.selectorLabels" . | nindent 4 }}
