{{- if and .Values.serviceMonitor.enabled (.Capabilities.APIVersions.Has "monitoring.coreos.com/v1") -}}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ include "tfy-otel-collector.fullname" . }}
  namespace: {{ include "global.namespace" . }}
  labels:
    {{- include "tfy-otel-collector.serviceMonitorLabels" . | nindent 4 }}
  annotations:
    {{- include "tfy-otel-collector.serviceMonitorAnnotations" . | nindent 4 }}
spec:
  namespaceSelector:
    matchNames:
      - {{ include "global.namespace" . }}
  selector:
    matchLabels:
      {{- include "tfy-otel-collector.selectorLabels" . | nindent 6 }}
  endpoints:
    - targetPort: 8888
      path: /metrics
      honorLabels: true
      interval: 10s
{{- end -}}