{{- if and .Values.tfyK8sController.enabled .Values.tfyK8sController.serviceMonitor.enabled (.Capabilities.APIVersions.Has "monitoring.coreos.com/v1") -}}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ include "tfy-k8s-controller.fullname" . }}
  namespace: {{ include "global.namespace" . }}
  labels:
    {{- include "tfy-k8s-controller.serviceMonitorLabels" . | nindent 4 }}
  annotations:
    {{- include "tfy-k8s-controller.serviceMonitorAnnotations" . | nindent 4 }}
spec:
  namespaceSelector:
    matchNames:
      - {{ include "global.namespace" . }}
  selector:
    matchLabels:
      {{- include "truefoundry.selectorLabels" (dict "context" . "name" "tfy-k8s-controller") | nindent 6 }}
  endpoints:
    - targetPort: 3002
      path: /metrics
      honorLabels: true
      interval: 10s
{{- end -}}