{{- if .Values.tfyK8sController.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "tfy-k8s-controller.fullname" . }}
  namespace: {{ include "global.namespace" . }}
  labels:
    {{- include "tfy-k8s-controller.serviceLabels" . | nindent 4 }}
  annotations:
    {{- include "tfy-k8s-controller.serviceAnnotations" . | nindent 4 }}
spec:
  type: {{ .Values.tfyK8sController.service.type }}
  ports:
    - port: {{ .Values.tfyK8sController.service.port }}
      targetPort: {{ .Values.tfyK8sController.service.port }}
      protocol: TCP
      name: http-{{ .Values.tfyK8sController.service.port }}
  selector:
    {{- include "truefoundry.selectorLabels" (dict "context" . "name" "tfy-k8s-controller") | nindent 4 }}
{{- end }}
