{{- if and .Values.tfyK8sController.enabled .Values.tfyK8sController.serviceAccount.create .Values.tfyK8sController.serviceAccount.name }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "tfy-k8s-controller.serviceAccountName" . }}
  labels:
    {{- include "tfy-k8s-controller.serviceAccountLabels" . | nindent 4 }}
  annotations:
    {{- include "tfy-k8s-controller.serviceAccountAnnotations" . | nindent 4 }}
{{- if hasKey .Values.tfyK8sController.serviceAccount "automountServiceAccountToken" }}
automountServiceAccountToken: {{ .Values.tfyK8sController.serviceAccount.automountServiceAccountToken }}
{{- end }}
{{- end }}
