apiVersion: v1
kind: ConfigMap
metadata:
  {{- with .Values.labels }}
  labels:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  name: notebook-controller-config-map
data:
  CLUSTER_DOMAIN: cluster.local
  CULL_IDLE_TIME: "7200"
  ENABLE_CULLING: "true"
  IDLENESS_CHECK_PERIOD: "1"
  ISTIO_GATEWAY: {{ .Values.istioGateway }}
  ISTIO_GATEWAY_SELECTOR: {{ .Values.gatewaySelector | quote }}
  NOTEBOOK_BASE_DOMAIN_URL: {{ .Values.notebookBaseDomainUrl }}
  IS_OAUTH_ENABLED: {{ .Values.oauth.enabled | quote }}
  OAUTH_CLIENT_ID: {{ .Values.oauth.clientId | quote }}
  OAUTH_TOKEN_ENDPOINT: {{ .Values.oauth.tokenEndpoint | quote }}
  OAUTH_AUTHORIZATION_ENDPOINT: {{ .Values.oauth.authorizationEndpoint | quote }}
  OAUTH_JWKS_URI: {{ .Values.oauth.jwksUri | quote }}
  
