apiVersion: apps/v1
kind: Deployment
metadata:
  {{- with .Values.labels }}
  labels:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  name: sds-deployment
spec:
  selector:
    matchLabels:
      {{- with .Values.labels }}
      {{- toYaml . | nindent 6 }}
      {{- end }}
      app: tfy-sds-server
  template:
    metadata:
      labels:
        {{- with .Values.labels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        app: tfy-sds-server
    spec:
      affinity:
        {{- with .Values.sdsServer.affinity }}
        {{- toYaml . | nindent 8  }}
        {{- end }}
      containers:
        - command:
            {{- with .Values.sdsServer.command }}
            {{- toYaml . | nindent 12  }}
            {{- end }}
          image: "{{ .Values.sdsServer.image }}"
          imagePullPolicy: IfNotPresent
          name: sds-server
          ports:
            {{- with .Values.sdsServer.port }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          resources:
            {{- with .Values.sdsServer.resources }}
            {{- toYaml . | nindent 12  }}
            {{- end }}
          volumeMounts:
            - mountPath: /secrets/secrets.yaml
              name: sds-secret-volume
              subPath: secrets.yaml
      topologySpreadConstraints:
        {{- with .Values.sdsServer.topologySpreadConstraints }}
        {{- toYaml . | nindent 8  }}
        {{- end }}
      volumes:
        - name: sds-secret-volume 
          secret:
            name: tfy-oauth-secret
        
