apiVersion: v1
kind: Service
metadata:
  {{- with .Values.labels }}
  labels:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  name: sds-service
spec:
  ports:
    - name: port-8000
      port: 8000
      protocol: TCP
      targetPort: 8000
  selector:
    {{- with .Values.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
    truefoundry.com/subcomponent: sds-server