tenantName: ""
controlPlaneURL: ""
clusterName: ""

argocd:
  enabled: true
argoWorkflows:
  enabled: true
argoRollouts:
  enabled: true
certManager:
  enabled: true
  serviceAccount:
    annotations: {}
metricsServer:
  enabled: false

gpu:
  enabled: true
  clusterType: azureAks
truefoundry:
  enabled: true
  tfyWorkflowAdmin:
    enabled: true
  s3proxy:
    enabled: true
  sparkHistoryServer:
    enabled: true
  tags:
    tracing: true
    llmGateway: true
    llmGatewayRequestLogging: true
  devMode:
    enabled: true
  truefoundryBootstrap:
    enabled: true
  database:
    host: ""
    name: ""
    username: ""
    password: ""
  tfyApiKey: ""
  truefoundryImagePullConfigJSON: ""


tfyLogs:
  enabled: true

istio:
  enabled: true
  gateway:
    
    annotations: {}
    
  discovery:
    hub: gcr.io/istio-release
  tfyGateway:
    
    httpsRedirect: true
    
    tls:
      enabled: false
    domains: ["*"]

keda:
  enabled: true

sparkOperator:
  enabled: true

kubecost:
  enabled: true

prometheus:
  enabled: true

grafana:
  enabled: true

tfyAgent:
  enabled: true
  clusterToken: ""

elasti:
  enabled: true

jspolicy:
  enabled: true

tfyWorkflowPropeller:
  enabled: true

  flyteCore:
    storage:
      type: custom
      custom:
        stow:
          kind: azure
          config:
            account: ""
            key: ""
        container: ""
      configmap:
        core:
          propeller:
            metadata-prefix: ""
            rawoutput-prefix: ""
        k8s:
          plugins:
            k8s:
              default-env-vars:
                - AZURE_STORAGE_ACCOUNT_NAME: ""
                - AZURE_STORAGE_ACCOUNT_KEY: ""
      flytepropeller:
        serviceAccount:
          annotations:
            {}