## @section Global Parameters
## @param tenantName Parameters for tenantName
## Tenant Name - This is same as the name of the organization used to sign up
## on Truefoundry
##
tenantName: ""

## @param controlPlaneURL Parameters for controlPlaneURL
## URL of the control plane - This is the URL that can be used by workload to access the truefoundry components
##
controlPlaneURL: ""

## @param clusterName Name of the cluster
## Name of the cluster that you have created on AWS/GCP/Azure
##
clusterName: ""

## @param registry registry to override in the chart components
##
registry: ""

## @param imagePullSecrets [array] imagePullSecrets to override in the chart components
##
## imagePullSecrets
## - name: ""
imagePullSecrets: []

## @param tolerations [array] Tolerations for the all chart components
##
tolerations:
  - key: kubernetes.azure.com/scalesetpriority
    value: "spot"
    effect: NoSchedule
    operator: Equal

## @param affinity [object] Affinity for the all chart components
##
affinity:
  nodeAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 1
        preference:
          matchExpressions:
            - key: kubernetes.azure.com/scalesetpriority
              values:
                - spot
              operator: In

## @section argocd parameters
## @param argocd.enabled Flag to enable ArgoCD
## ArgoCD is mandatory for Truefoundry to work. You can make it false if ArgoCD is
## already installed in your cluster. Please make sure that the configuration of
## existing ArgoCD is same as the ArgoCD configuration required by Truefoundry.
argocd:
  enabled: true
  ## @param argocd.tolerations [array] Tolerations for ArgoCD
  ##
  tolerations: []
  ## @param argocd.affinity [object] Affinity for ArgoCD
  ##
  affinity: {}
  ## @param argocd.valuesOverride [object] Config override from default config values
  ##
  valuesOverride: {}

## @section argoWorkflows parameters
## @param argoWorkflows.enabled Flag to enable Argo Workflows
##
argoWorkflows:
  enabled: true
  ## @param argoWorkflows.tolerations [array] Tolerations for Argo Workflows
  ##
  tolerations: []
  ## @param argoWorkflows.affinity [object] Affinity for Argo Workflows
  ##
  affinity: {}
  ## @param argoWorkflows.valuesOverride [object] Config override from default config values
  ##
  valuesOverride: {}

## @section argoRollouts parameters
## @param argoRollouts.enabled Flag to enable Argo Rollouts
## Argo Rollouts is mandatory for Truefoundry to work.
##
argoRollouts:
  enabled: true
  ## @param argoRollouts.tolerations [array] Tolerations for Argo Rollouts
  ##
  tolerations: []
  ## @param argoRollouts.affinity [object] Affinity for Argo Rollouts
  ##
  affinity: {}
  ## @param argoRollouts.valuesOverride [object] Config override from default config values
  ##
  valuesOverride: {}

## @section certManager parameters
## @param certManager.enabled Flag to enable Cert Manager
##
certManager:
  enabled: true
  ## @param certManager.tolerations [array] Tolerations for Cert Manager
  ##
  tolerations: []
  ## @param certManager.podLabels [object] Pod labels for Cert Manager. For Azure will be applied to serviceaccount as well.
  ##
  podLabels:
    azure.workload.identity/use: "true"
  serviceAccount:
    ## @param certManager.serviceAccount.annotations [object] Service account annotations for Cert Manager.
    annotations: {}
  ## @param certManager.affinity [object] Affinity for Cert Manager
  ##
  affinity: {}
  ## @param certManager.valuesOverride [object] Config override from default config values
  ##
  valuesOverride: {}
  ## @section certManager issuers parameters
  config:
    ## @param certManager.config.enabled Flag to enable certManager config
    enabled: true
    ## @param certManager.config.issuers [object] Map of issuers and their certificate configuration
    issuers: {}
#      issuer1:
#        name: ""
#        privateKeySecretRef: ""
#        solvers:
#          - dns01:
#              ## Solver configuration for GCP Cloud DNS
#              cloudDNS:
#                ## GCP Project ID for Cloud DNS
#                ##
#                project: ""
#              ## Solver configuration for Azure DNS
#              azureDNS:
#                resource_group_name: ""
#                hosted_zone_name: ""
#                subscription_id: ""
#                environment: "AzurePublicCloud"
#                identity_client_id: ""
#        ## certManager.config.issuers.issuer1.certificate Certificate configuration
#        ##
#        certificate:
#          name: ""
#          secretName: ""
#          duration: 2160h
#          renewBefore: 360h
#          domains: []
    ## @param certManager.config.valuesOverride [object] Config override from default config values
    ##
    valuesOverride: {}

## @section metricsServer parameters
## @param metricsServer.enabled Flag to enable Metrics Server
##
metricsServer:
  ## @param metricsServer.enabled Flag to enable Metrics Server
  enabled: false
  ## @param metricsServer.tolerations [array] Tolerations for Metrics Server
  ##
  tolerations:
    - key: "dedicated"
      operator: "Equal"
      value: "reserved-supercluster"
      effect: "NoSchedule"
  ## @param metricsServer.affinity [object] Affinity for Metrics Server
  ##
  affinity: {}
  ## @param metricsServer.valuesOverride [object] Config override from default config values
  ##
  valuesOverride: {}

## @section gpu parameters
## @param gpu.enabled Flag to enable Tfy GPU Operator
##
gpu:
  enabled: true
  ## @param gpu.clusterType Cluster type for Tfy GPU Operator
  ##
  clusterType: azureAks
  ## @param gpu.valuesOverride [object] Config override from default config values
  ##
  valuesOverride: {}

## @section truefoundry parameters
## @param truefoundry.enabled Flag to enable TrueFoundry
## This installs the Truefoundry control plane helm chart. You can make it true
## if you want to install Truefoundry control plane.
##
truefoundry:
  enabled: false
  ## @param truefoundry.devMode.enabled Flag to enable TrueFoundry Dev mode
  ##
  devMode:
    enabled: false
  ## @param truefoundry.valuesOverride [object] Config override from default config values
  ##
  valuesOverride: {}
  ## @section truefoundryBootstrap parameters
  ## @param truefoundry.truefoundryBootstrap.enabled Flag to enable bootstrap job to prep cluster for truefoundry installation
  truefoundryBootstrap:
    enabled: true

  ## @section Truefoundry virtual service parameters
  virtualservice:
    ## @param truefoundry.virtualservice.enabled Flag to enable virtualservice
    enabled: false
    ## @param truefoundry.virtualservice.hosts [array] Hosts for truefoundry virtualservice
    hosts: []
    ## @param truefoundry.virtualservice.gateways [array] Istio gateways to be configured for virtualservice
    gateways: []

  ## @section database. Can be left empty if using the dev mode parameters
  database:
    ## @param truefoundry.database.host Hostname of the database
    host: ""
    ## @param truefoundry.database.name Name of the database
    name: ""
    ## @param truefoundry.database.username Username of the database
    username: ""
    ## @param truefoundry.database.password Password of the database
    password: ""
  ## @param truefoundry.tfyApiKey API Key for TrueFoundry
  tfyApiKey: ""
  ## @param truefoundry.truefoundryImagePullConfigJSON Json config for authenticating to the TrueFoundry registry
  truefoundryImagePullConfigJSON: ""
  ## @param truefoundry.truefoundry_iam_role_arn_annotations [object] IAM role annotations for service accounts
  ## Annotations to be added to service accounts for cloud provider IAM integration
  ## For AWS EKS: eks.amazonaws.com/role-arn
  ## For GCP GKE: iam.gke.io/gcp-service-account
  ## For other providers: empty object
  truefoundry_iam_role_arn_annotations:
    {}

  ## @param truefoundry.defaultCloudProvider Default cloud provider
  defaultCloudProvider: "azure"
  storageConfiguration:
    ## @param truefoundry.storageConfiguration.azureBlobUri Azure blob URI
    azureBlobUri: ''
    ## @param truefoundry.storageConfiguration.azureBlobConnectionString Azure blob connection string
    ## For passing it as a secret, use the following format(refer - https://github.com/truefoundry/infra-charts/blob/main/charts/truefoundry/README.md#using-k8s-secret-for-additional-fields):
    ## azureBlobConnectionString: ${k8s-secret/truefoundry-creds/AZURE_BLOB_CONNECTION_STRING}
    azureBlobConnectionString: ''

  ## @param truefoundry.s3proxy.enabled Flag to enable S3 Proxy
  s3proxy:
    enabled: false
  ## @param truefoundry.sparkHistoryServer.enabled Flag to enable Spark History Server
  sparkHistoryServer:
    enabled: false
  ## @param truefoundry.tfyWorkflowAdmin.enabled Flag to enable Tfy Workflow Admin
  tfyWorkflowAdmin:
    enabled: false

  ## @param truefoundry.tolerations [array] Tolerations for the truefoundry components
  ##
  tolerations:
  - key: "class.truefoundry.com/component"
    value: "control-plane"
    effect: "NoSchedule"

  ## @param truefoundry.affinity [object] Affinity for the truefoundry components
  ##
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: class.truefoundry.com/component
                operator: In
                values:
                  - control-plane

## @section tfyLogs parameters
## @param tfyLogs.enabled Flag to enable Tfy Logs
##
tfyLogs:
  enabled: true
  ## @param tfyLogs.valuesOverride [object] Config override from default config values
  ##
  valuesOverride: {}

  ## @param tfyLogs.affinity [object] Affinity for tfyLogs statefulset pod
  ##
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: class.truefoundry.com/component
                operator: In
                values:
                  - critical

  ## @param tfyLogs.tolerations [array] Tolerations for tfyLogs statefulset pod
  ##
  tolerations:
    - key: "class.truefoundry.com/component"
      value: "critical"
      effect: "NoSchedule"

## @section istio parameters
## @param istio.enabled Flag to enable Istio
##
istio:
  ## @param istio.enabled Flag to enable Istio Base
  ##
  enabled: true

  base:
    ## @param istio.base.valuesOverride [object] Config override from default config values
    ##
    valuesOverride: {}

  ## @param istio.gateway.annotations [object] Annotations for Istio Gateway
  gateway:
    annotations: {}

    ## @param istio.gateway.affinity [object] Affinity for the gateway pods
    ##
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: class.truefoundry.com/component
                  operator: In
                  values:
                    - critical

    ## @param istio.gateway.tolerations [array] Tolerations for the gateway pods
    ##
    tolerations:
      - key: "class.truefoundry.com/component"
        value: "critical"
        effect: "NoSchedule"

    ## @param istio.gateway.valuesOverride Config override from default config values
    ##
    valuesOverride: {}

  ## @section istio discovery parameters
  discovery:
    ## @param istio.discovery.hub Hub for the istio image
    hub: gcr.io/istio-release
    ## @param istio.discovery.tolerations [array] Tolerations for Istio Discovery
    ##
    tolerations: []
    ## @param istio.discovery.affinity [object] Affinity for Istio Discovery
    ##
    affinity: {}
    ## @param istio.discovery.valuesOverride Config override from default config values
    ##
    valuesOverride: {}
  ## @section istio tfyGateway parameters
  tfyGateway:
    ## @param istio.tfyGateway.httpsRedirect Flag to enable HTTPS redirect for Istio Gateway
    ##
    httpsRedirect: true
    ## istio.tfyGateway.tls Parameters for TLS configuration for Istio Gateway
    ##
    tls:
      ## @param istio.tfyGateway.tls.enabled Flag to enable TLS for Istio Gateway
      ##
      enabled: false
      ## @param istio.tfyGateway.tls.mode TLS mode for the Istio Gateway
      ##
      mode: SIMPLE
      ## @param istio.tfyGateway.tls.credentialName Credential name for the TLS certificate
      ##
      credentialName: ""
    ## @param istio.tfyGateway.domains [array] Domains for the gateway pods
    ##
    domains: ["*"]

## @section keda parameters
## @param keda.enabled Flag to enable Keda
##
keda:
  enabled: true
  ## @param keda.tolerations [array] Tolerations for Keda
  ##
  tolerations: []
  ## @param keda.affinity [object] Affinity for Keda
  ##
  affinity: {}
  ## @param keda.valuesOverride Config override from default config values
  ##
  valuesOverride: {}

## @section sparkOperator parameters
## @param sparkOperator.enabled Flag to enable Spark Operator
##
sparkOperator:
  enabled: false
  ## @param sparkOperator.tolerations [array] Tolerations for Spark Operator
  ##
  tolerations: []
  ## @param sparkOperator.affinity [object] Affinity for Spark Operator
  ##
  affinity: {}
  ## @param sparkOperator.valuesOverride Config override from default config values
  ##
  valuesOverride: {}

## @section kubecost parameters
## @param kubecost.enabled Flag to enable Kubecost
##
kubecost:
  enabled: true
  ## @param kubecost.tolerations [array] Tolerations for Kubecost
  ##
  tolerations: []
  ## @param kubecost.affinity [object] Affinity for Kubecost
  ##
  affinity: {}
  ## @param kubecost.valuesOverride Config override from default config values
  ##
  valuesOverride: {}

## @section prometheus parameters
## @param prometheus.enabled Flag to enable Prometheus
##
prometheus:
  enabled: true
  ## @param prometheus.additionalScrapeConfigs [array] Additional scrape configs for Prometheus
  ##
  additionalScrapeConfigs: []
  ## @param prometheus.alertmanager [object] Alertmanager configuration for Prometheus
  ##
  alertmanager:
    config:
      receivers:
        - name: tfy-agent
          webhook_configs:
            - url: http://tfy-agent.tfy-agent.svc.cluster.local:3000/alerts
              send_resolved: true

  ## @param prometheus.affinity [object] Affinity for prometheus statefulset pod
  ##
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: class.truefoundry.com/component
                operator: In
                values:
                  - critical

  ## @param prometheus.tolerations [array] Tolerations for prometheus statefulset pod
  ##
  tolerations:
    - key: "class.truefoundry.com/component"
      value: "critical"
      effect: "NoSchedule"

  ## @param prometheus.valuesOverride [object] Config override from default config values
  ##
  valuesOverride: {}

  config:
    ## @param prometheus.config.enabled Flag to enable prometheus config (requires prometheus.enabled to be true)
    ##
    enabled: true

    ## @param prometheus.config.valuesOverride [object] Config override from default config values
    ##
    valuesOverride: {}

    ## @param prometheus.config.extraObjects [array] Extra objects for prometheus config
    ##
    extraObjects: []

## @section grafana parameters
## @param grafana.enabled Flag to enable Grafana
##
grafana:
  enabled: false
  ## @param grafana.tolerations [array] Tolerations for Grafana
  ##
  tolerations: []
  ## @param grafana.affinity [object] Affinity for Grafana
  ##
  affinity: {}
  ## @param grafana.valuesOverride [object] Config override from default config values
  ##
  valuesOverride: {}

## @section tfyAgent parameters
## @param tfyAgent.enabled Flag to enable Tfy Agent
##
tfyAgent:
  enabled: true
  ## @param tfyAgent.valuesOverride [object] Config override from default config values
  ##
  valuesOverride: {}

  ## @param tfyAgent.tolerations [array] Tolerations for the agent pods
  ##
  tolerations:
    - key: "class.truefoundry.com/component"
      value: "critical"
      effect: "NoSchedule"

  ## @param tfyAgent.affinity [object] Affinity for the agent pods
  ##
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: class.truefoundry.com/component
                operator: In
                values:
                  - critical

  ## @param tfyAgent.clusterToken cluster token
  ## Token for cluster authentication
  ##
  clusterToken: ""

  ## @param tfyAgent.clusterTokenSecret Secret name for cluster token
  ## Secret for cluster token
  clusterTokenSecret: ""

## @section elasti parameters
## @param elasti.enabled Flag to enable Elasti
##
elasti:
  enabled: true
  ## @param elasti.tolerations [array] Tolerations for Elasti
  ##
  tolerations: []
  ## @param elasti.affinity [object] Affinity for Elasti
  ##
  affinity: {}
  ## @param elasti.valuesOverride [object] Config override from default config values
  ##
  valuesOverride: {}

## @section jspolicy parameters
## @param jspolicy.enabled Flag to enable jspolicy. No policy is applied by default
##
jspolicy:
  ## @param jspolicy.enabled Flag to enable jspolicy
  enabled: false
  ## @param jspolicy.valuesOverride [object] Config override from default config values
  ##
  valuesOverride: {}

  ## @param jspolicy.affinity [object] Affinity for jspolicy
  ##
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: class.truefoundry.com/component
                operator: In
                values:
                  - critical

  ## @param jspolicy.tolerations [array] Tolerations for jspolicy
  ##
  tolerations:
    - key: "class.truefoundry.com/component"
      value: "critical"
      effect: "NoSchedule"

  ## @param jspolicy.config.valuesOverride [object] Config override from default config values
  ##
  config:
    valuesOverride: {}

## @section tfy-workflow-propeller parameters
## @param tfyWorkflowPropeller.enabled Flag to enable workflow-propeller.
##
tfyWorkflowPropeller:
  enabled: false
  ## @param tfyWorkflowPropeller.valuesOverride [object] Config override from default config values
  ##
  valuesOverride: {}

  ## tfyWorkflowPropeller.flyteCore configuration
  flyteCore:
    ## @skip tfyWorkflowPropeller.flyteCore.storage [object] Storage configuration for flyteCore
    ##
    storage:
      type: custom
      custom:
        stow:
          kind: azure
          config:
            account: <to_be_provided>
            key: <to_be_provided>
        container: <to_be_provided>
    ## @skip tfyWorkflowPropeller.flyteCore.configmap [object] Configmap configuration for flyteCore
    ##
    configmap:
      core:
        propeller:
          metadata-prefix: "<to_be_provided>"
          rawoutput-prefix: "<to_be_provided>"
      k8s:
        plugins:
          k8s:
            default-env-vars:
              - AZURE_STORAGE_ACCOUNT_NAME: "<to_be_provided>"
              - AZURE_STORAGE_ACCOUNT_KEY: "<to_be_provided>"
    ## @skip tfyWorkflowPropeller.flyteCore.flytepropeller [object] Flytepropeller configuration for flyteCore
    ##
    flytepropeller:
      serviceAccount:
        annotations:
          {}

helm:
  ## @param helm.resourcePolicy Resource policy for the helm chart
  ##
  resourcePolicy: keep
