apiVersion: v2
name: tfy-karpenter
description: Truefoundry helm chart to provision karpenter for EKS
type: application
version: 0.5.9
# upstream karpenter version
appVersion: "1.5.5"
maintainers:
- name: truefoundry

# Upstream karpenter dependecy
dependencies:
- name: karpenter-crd
  version: "1.5.5"
  repository: "oci://public.ecr.aws/karpenter"
- name: karpenter
  version: "1.5.5"
  repository: "oci://public.ecr.aws/karpenter"
- condition: eks-node-monitoring-agent.enabled
  name: eks-node-monitoring-agent
  alias: eks-node-monitoring-agent
  repository: file://charts/eks-node-monitoring-agent
  version: "1.3.0"
