## @section Upstream karpenter configurations
##
karpenter:
  ## @param karpenter.serviceAccount.annotations.eks.amazonaws.com/role-arn Karpenter role ARN
  ##
  serviceAccount:
    annotations:
      eks.amazonaws.com/role-arn: ""
  settings:
    ## @param karpenter.settings.clusterName Name of the EKS cluster
    ##
    clusterName: ""

    ## @param karpenter.settings.clusterEndpoint Endpoint URL of the EKS cluster
    ##
    clusterEndpoint: ""

    ## @param karpenter.settings.interruptionQueue Name of the interruption queue for spot instances
    ##
    interruptionQueue: ""

    ## @param karpenter.settings.reservedENIs reserved ENIs for the custom networking CNI setup
    ##
    reservedENIs: "0"

  webhook:
    ## @skip karpenter.webhook.enabled Enable karpenter webhook
    ##
    enabled: true
  ## @param karpenter.controller.resources.requests.cpu CPU requests for karpenter container
  ## @param karpenter.controller.resources.requests.memory Memory requests for karpenter container
  ## @param karpenter.controller.resources.limits.cpu CPU limits for karpenter container
  ## @param karpenter.controller.resources.limits.memory Memory requests for karpenter container
  ##
  controller:
    resources:
      requests:
        cpu: 50m
        memory: 100Mi
      limits:
        cpu: 200m
        memory: 256Mi

  nodeSelector:
    ## @param karpenter.nodeSelector Node selector for karpenter deployment
    ##
    kubernetes.io/arch: amd64
