## @section Parameters for tfyBuildkitdService

## Global Config
global:
  ## @param global.resourceTier [string] Resource deployment type
  resourceTier: "medium"
  ## @param global.affinity [object] Affinity rules for pod scheduling on a node
  affinity: {}
  ## @param global.tolerations [array] Tolerations for pod scheduling on a node
  tolerations: []
  ## @param global.nodeSelector [object] Node selector
  nodeSelector: {}
  ## @param global.annotations [object] Global annotations to be added to all resources
  annotations: {}
  ## @param global.labels [object] Global labels to be added to all resources
  labels: {}
  ## @param global.podLabels [object] Labels to be added to statefulset pods
  podLabels: {}
  ## @param global.podAnnotations [object] Annotations to be added to statefulset pods
  podAnnotations: {}
  ## @param global.statefulsetLabels [object] Labels to be added to statefulset
  statefulsetLabels: {}
  ## @param global.statefulsetAnnotations [object] Annotations to be added to statefulset
  statefulsetAnnotations: {}
  ## global.serviceAccount Service account configuration
  serviceAccount:
    ## @param global.serviceAccount.name [string] Service account name
    name: "truefoundry"
    ## @param global.serviceAccount.labels Labels to add to the serviceAccount
    labels: {}
    ## @param global.serviceAccount.annotations Annotations to add to the serviceAccount
    annotations: {}
  ## @param global.image.registry Image registry for tfyBuildkitdService (defaults to global.image.registry if not set)
  image:
    registry: "tfy.jfrog.io"

## @skip replicaCount Number of replicas of  Value kept for future use, kept 1
# replicaCount: 1

## Image of tfyBuildkitdService
##
image:
  ## @param image.registry Image registry for tfyBuildkitdService (defaults to global.image.registry if not set)
  registry: ""
  ## @param image.repository tfyBuildkitdService repository
  repository: tfy-mirror/moby/buildkit
  ## @param image.pullPolicy Pull policy for tfyBuildkitdService
  ##
  pullPolicy: IfNotPresent
  ## @param image.tag Image tag whose default is the chart appVersion.
  ##
  tag: "v0.17.0"

## @param commonLabels Labels to be added to the tfyBuildkitdService
##
commonLabels: {}

## @param commonAnnotations Annotations to be added to the tfyBuildkitdService
##
commonAnnotations: {}

## @param statefulsetLabels Labels to be added to the tfyBuildkitdService statefulset
##
statefulsetLabels: {}

## @param statefulsetAnnotations Annotations to be added to the tfyBuildkitdService statefulset
##
statefulsetAnnotations: {}

## @skip buildkitConfig buildkit configuration for tfyBuildkitdService
buildkitConfig: |
  debug = true

  [worker.containerd]
  enabled = false

  [worker.oci]
  enabled = true
  gc = true
  gckeepstorage = "107400000000"
  max-parallelism = 3


  [[worker.oci.gcpolicy]]
  keepBytes = "0"
  filters = ["type==source.local","type==exec.cachemount","type==source.git.checkout"]

  [[worker.oci.gcpolicy]]
  keepBytes = "107400000000"
  all = true

## Storage configuration for tfyBuildkitdService
##
storage:
  ## @param storage.enabled Bool to enable storage for tfyBuildkitdService
  enabled: true
  ## @param storage.accessModes Access mode for tfyBuildkitdService
  accessModes:
    - ReadWriteOnce
  ## @param storage.storageClassName Storage class name for tfyBuildkitdService
  storageClassName: ""
  ## @skip storage.size Size of the storage for tfyBuildkitdService
  # size: 200Gi

## @param imagePullSecrets Secrets to pull images
##
imagePullSecrets: []

## @param nameOverride String to override partial name passed in helm install command
##
nameOverride: ""

## @param fullnameOverride String to override full name passed in helm install command
##
fullnameOverride: ""

## ref: https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/
##
serviceAccount:
  ## @param serviceAccount.create Bool to enable serviceAccount creation
  ##
  create: false

  ## @param serviceAccount.annotations Annotations to add to the serviceAccount
  ##
  annotations: {}

  ## @param serviceAccount.labels Labels to add to the serviceAccount
  ##
  labels: {}

  ## @param serviceAccount.automountServiceAccountToken Automount service account token
  ##
  automountServiceAccountToken: false
  ## @param serviceAccount.name Name of the serviceAccount to use. If not set and create is true, a name is generated using the fullname template
  ##
  name: ""

## @param podLabels Labels to be added to the tfyBuildkitdService pod
##
podLabels: {}

## @param podAnnotations Annotations to be added to the pod
##
podAnnotations: {}

## @param podSecurityContext Security context for the pod
##
podSecurityContext: {}
## SecurityContext holds pod-level security attributes and common container settings.
## This defaults to non root user with uid 1000 and gid 2000. *v1.PodSecurityContext  false
## ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/

## @param securityContext.privileged Security Context for the tfyBuildkitdServiceProxy container
##
securityContext:
  privileged: true

## Configuration for tfyBuildkitdService service
##
service:
  ## @param service.type Type for tfyBuildkitdService Service
  ##
  type: ClusterIP
  ## @param service.port Port for tfyBuildkitdService service
  ##
  port: 1234

## Define resources requests and limits for single Pods.
## ref: https://kubernetes.io/docs/user-guide/compute-resources/
##
## customized resource limits are very general in nature and must be kept the same
## decreasing the resource might make the service UNAVAILABLE

## @skip resources [object] Resource requests and limits for tfyBuildkitdService
# resources:
#  limits:
#      cpu: 1000m
#      ephemeral-storage: 256Mi
#      memory: 1024Mi
#  requests:
#      cpu: 500m
#      ephemeral-storage: 128Mi
#      memory: 512Mi

## @param extraVolumes List of Volumes to attach to tfyBuildkitdService container
## @param extraVolumeMounts List of Volume Mounts to attach to tfyBuildkitdService container
## @param extraEnvs List of Environment Variables to attach to tfyBuildkitdService container
extraVolumes: []
extraVolumeMounts: []
extraEnvs: []

## Define which Nodes the Pods are scheduled on.
## ref: https://kubernetes.io/docs/user-guide/node-selection/
##
## @param nodeSelector Parameters to select for scheduling of pod on a node
##
nodeSelector: {}

## If specified, the pod's tolerations.
## ref: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/
##
## @param tolerations Taints that pod can tolerate
##
tolerations:
  []
  # - key: "key"
  #   operator: "Equal"
  #   value: "value"
  #   effect: "NoSchedule"

## Assign custom affinity rules to the tfyBuildkitdServiceProxy instance
## ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/
##
## @param affinity Affinity rules for pod scheduling on a node
##
affinity: {}
# nodeAffinity:
#   requiredDuringSchedulingIgnoredDuringExecution:
#     nodeSelectorTerms:
#     - matchExpressions:
#       - key: kubernetes.io/e2e-az-name
#         operator: In
#         values:
#         - e2e-az1
#         - e2e-az2

## TLS configuration for tfyBuildkitdService
##
tls:
  ## @param tls.buildkitDaemonCertsSecretName Name of secret containing the buildkit daemon certs
  buildkitDaemonCertsSecretName: tfy-buildkit-daemon-certs

  ## @param tls.buildkitClientCertsSecretName Name of secret containing the buildkit client certs
  buildkitClientCertsSecretName: tfy-buildkit-client-certs

  ## @param tls.enabled Enable TLS for buildkitd
  enabled: false
