## @section Global settings
global:
  ## @param global.labels Labels for all resources
  ##
  labels: {}
  ## @param global.annotations Annotations for all resources
  ##
  annotations: {}
## @section replaceImageRegistry Configuration options for replacing the image registry
replaceImageRegistry:
  ## @param replaceImageRegistry.enabled Enable or disable replacing the image registry
  enabled: false
  ## @param replaceImageRegistry.excludeNamespaces [array] Namespaces to exclude from replacing the image registry. Only basic regular expression is supported. Example ["namespace1", "tfy-*"] will exclude namespace1 and all namespaces with prefix tfy-.
  excludeNamespaces: []

  ## @param replaceImageRegistry.includeNamespaces [array] Namespaces to include from replacing the image registry. When non-empty, only these namespaces will be included. Only basic regular expression is supported. Example ["namespace1", "tfy-*"] will include namespace1 and all namespaces with prefix tfy-.
  includeNamespaces: []

  ## @param replaceImageRegistry.registryReplacementMap [object] The image registry replacement map
  ## registryReplacementMap:
  ##   "docker.io": "mydocker.io"
  ##   "*": "myjrog.io"
  registryReplacementMap: {}

  ## @param replaceImageRegistry.excludeRegistries [array] Registries to exclude from replacing the image registry. Example ["docker.io", "ghcr.io"] will exclude docker.io and ghcr.io.
  excludeRegistries: []

## @section replaceArgoHelmRepo Configuration options for replacing the Argo Helm repository
replaceArgoHelmRepo:
  ## @param replaceArgoHelmRepo.enabled Enable or disable replacing the Argo Helm repository
  enabled: false
  ## @param replaceArgoHelmRepo.excludeNamespaces [array] Namespaces to exclude from replacing the argo helm repo. Only basic regular expression is supported. Example ["namespace1", "tfy-*"] will exclude namespace1 and all namespaces with prefix tfy-.
  excludeNamespaces: []

  ## @param replaceArgoHelmRepo.includeNamespaces [array] Namespaces to include for replacing the argo helm repo. When non-empty, only these namespaces will be included. Only basic regular expression is supported. Example ["namespace1", "tfy-*"] will include namespace1 and all namespaces with prefix tfy-.
  includeNamespaces: []

  ## @param replaceArgoHelmRepo.registryReplacementMap [object] The argo helm repository replacement map
  ## registryReplacementMap:
  ##   oci://myargohelm.io: "oci://tfyargohelm.io"
  ##   http://myargohelm.io: "http://tfyargohelm.io"
  registryReplacementMap: {}

## @section syncSecrets Configuration options for syncing secrets
syncSecrets:
  ## @param syncSecrets.enabled Enable or disable syncing secrets
  enabled: false
  ## @param syncSecrets.excludeNamespaces [array] Namespaces to exclude from syncing secrets. Only basic regular expression is supported. Example ["namespace1", "tfy-*"] will exclude namespace1 and all namespaces with prefix tfy-.
  excludeNamespaces: []

  ## @param syncSecrets.includeNamespaces [array] Namespaces to include for syncing secrets. When non-empty, only these namespaces will be included. Only basic regular expression is supported. Example ["namespace1", "tfy-*"] will include namespace1 and all namespaces with prefix tfy-.
  includeNamespaces: []

  ## @param syncSecrets.secretNames [array] Label selector to filter secrets to sync
  ## example
  ## secretNames: ["namespace/secretName", "namespace2/secretName2"]
  secretNames: [""]

## @section syncConfigMaps Configuration options for syncing secrets
syncConfigMaps:
  ## @param syncConfigMaps.enabled Enable or disable syncing secrets
  enabled: false
  ## @param syncConfigMaps.excludeNamespaces [array] Namespaces to exclude from syncing secrets. Only basic regular expression is supported. Example ["namespace1", "tfy-*"] will exclude namespace1 and all namespaces with prefix tfy-.
  excludeNamespaces: []

  ## @param syncConfigMaps.includeNamespaces [array] Namespaces to include for syncing secrets. When non-empty, only these namespaces will be included. Only basic regular expression is supported. Example ["namespace1", "tfy-*"] will include namespace1 and all namespaces with prefix tfy-.
  includeNamespaces: []

  ## @param syncConfigMaps.configMapNames [array] Label selector to filter secrets to sync
  ## example
  ## configMapNames: ["namespace/configMapName", "namespace2/configMapName2"]
  configMapNames: [""]

## @section podVolumeMounts Configuration options for adding volume mounts to pods
podVolumeMounts:
  ## @param podVolumeMounts.enabled Enable or disable adding volume mounts to pods
  enabled: false
  ## @param podVolumeMounts.excludeNamespaces [array] Namespaces to exclude from adding volume mounts to pods. Only basic regular expression is supported. Example ["namespace1", "tfy-*"] will exclude namespace1 and all namespaces with prefix tfy-.
  excludeNamespaces: []

  ## @param podVolumeMounts.includeNamespaces [array] Namespaces to include for adding volume mounts to pods. When non-empty, only these namespaces will be included. Only basic regular expression is supported. Example ["namespace1", "tfy-*"] will include namespace1 and all namespaces with prefix tfy-.
  includeNamespaces: []

  ## @param podVolumeMounts.mountDetails [array] The details of the volume mount to add
  mountDetails: []
    ## example
    ## - type: secret
    ##   secretName: my-secret
    ##   mountPath: /var/run/secrets/my-secret
    ##   subPath: my-subPath
    ## - type: configMap
    ##   configMapName: my-configmap
    ##   mountPath: /my/configmap/path
    ##   subPath: my-subPath
