argocd:
  enabled: true
argoWorkflows:
  enabled: true
argoRollouts:
  enabled: true
notebookController:
  enabled: true
certManager:
  enabled: true
metricsServer:
  enabled: true
aws:
  enabled: true
  awsLoadBalancerController:
    enabled: true
  karpenter:
    enabled: true
  awsEbsCsiDriver:
    enabled: true
  awsEfsCsiDriver:
    enabled: true
  tfyInferentiaOperator:
    enabled: true
tfyGpuOperator:
  enabled: true
truefoundry:
  enabled: true
loki:
  enabled: true
istio:
  enabled: true
keda:
  enabled: true
kubecost:
  enabled: true
prometheus:
  enabled: true
grafana:
  enabled: true
tfyAgent:
  enabled: true
elasti:
  enabled: true
jspolicy:
  enabled: true
