apiVersion: v2
name: tfy-gpu-operator
version: 0.5.0-rc.1
description: "TrueFoundry GPU Operator chart that wraps the NVIDIA GPU Operator chart with sensible defaults"
maintainers:
  - name: truefoundry
dependencies:
  - condition: clusterType.awsEks
    name: gpu-operator
    repository: https://helm.ngc.nvidia.com/nvidia
    version: v25.10.0
    alias: aws-eks-gpu-operator
  - condition: clusterType.gcpGkeStandard
    name: dcgm-exporter
    repository: https://nvidia.github.io/dcgm-exporter/helm-charts
    version: 4.6.0
    alias: gcp-gke-standard-dcgm-exporter
  - condition: clusterType.azureAks
    name: gpu-operator
    repository: https://helm.ngc.nvidia.com/nvidia
    version: v25.10.0
    alias: azure-aks-gpu-operator
  - condition: clusterType.civoTalos
    name: gpu-operator
    repository: https://helm.ngc.nvidia.com/nvidia
    version: v25.10.0
    alias: civo-talos-gpu-operator
  - condition: clusterType.generic
    name: gpu-operator
    repository: https://helm.ngc.nvidia.com/nvidia
    version: v25.10.0
    alias: generic-gpu-operator
