apiVersion: v2
name: tfy-gpu-operator
version: 0.1.9
description: "Truefoundry GPU Operator"
maintainers:
  - name: truefoundry
dependencies:
  - condition: clusterType.awsEks
    name: gpu-operator
    repository: https://helm.ngc.nvidia.com/nvidia
    version: v23.3.1
    alias: aws-eks-gpu-operator
  - condition: clusterType.gcpGkeStandard
    name: dcgm-exporter
    repository: https://nvidia.github.io/dcgm-exporter/helm-charts
    version: 3.1.2
    alias: gcp-gke-standard-dcgm-exporter
  - condition: clusterType.azureAks
    name: nvidia-device-plugin
    repository: https://nvidia.github.io/k8s-device-plugin
    version: 0.14.1
    alias: azure-aks-nvidia-device-plugin
  - condition: clusterType.azureAks
    name: dcgm-exporter
    repository: https://nvidia.github.io/dcgm-exporter/helm-charts
    version: 3.1.2
    alias: azure-aks-dcgm-exporter
