name: Sync container images

on:
  workflow_dispatch:

  push:
    branches:
      - main

    paths:
      - 'scripts/sync-images/**'
      - '.github/workflows/sync-image.yaml'

permissions:
  id-token: write
  contents: read

env:
  ARTIFACTORY_REGISTRY: ${{ vars.TRUEFOUNDRY_ARTIFACTORY_REGISTRY_URL }}
  ARTIFACTORY_USERNAME: ${{ secrets.TRUEFOUNDRY_ARTIFACTORY_PUBLIC_USERNAME }}
  ARTIFACTORY_PASSWORD: ${{ secrets.TRUEFOUNDRY_ARTIFACTORY_PUBLIC_PASSWORD }}

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps (skopeo + PyYAML)
        run: |
          sudo apt-get update
          sudo apt-get install -y skopeo
          python -m pip install --upgrade pip pyyaml

      - name: Log in to JFrog Artifactory
        uses: docker/login-action@v3
        with:
          username: ${{ env.ARTIFACTORY_USERNAME }}
          password: ${{ env.ARTIFACTORY_PASSWORD }}
          registry: ${{ env.ARTIFACTORY_REGISTRY }}

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.PUBLIC_ECR_IAM_ROLE_ARN }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
        with:
          registry-type: public

      - name: Run sync script
        run: |
          python scripts/sync-images/images_sync.py --file scripts/sync-images/images.yaml